market-signals/market-signals-consolidated.workflow.json
{"updatedAt":"2026-06-14T20:00:31.841Z","createdAt":"2026-06-04T03:40:32.674Z","id":"p3yCtcGSzNfhHtlr","name":"Market Signals (consolidated)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"34a7da9f-bd2b-4055-b319-e34ae32006ac","name":"Daily 6am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-256,464]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"list","cachedResultName":"Market Research"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"list","cachedResultName":"Market Signals"},"options":{"fields":["Source URL"]}},"id":"d0ffd16e-3da9-41bc-966d-8efd1c9b8d91","name":"Search Existing Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[128,240],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"// Existing URLs + titles already in Airtable (Search Existing Signals pull).\nconst existingRows = $('Search Existing Signals').all();\nconst norm = (s) => String(s || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\nconst existingUrls = new Set();\nconst existingTitles = new Set();\nfor (const item of existingRows) {\n  const f = item.json?.fields || item.json || {};\n  const u = f['Source URL']; if (u) existingUrls.add(u);\n  const t = f['Company'] ? null : null; // (Company is not the title; title-dedup uses Signal Detail/title if present)\n  const title = f['title'] || f['Title'] || f['Signal Detail'];\n  if (title) existingTitles.add(norm(title));\n}\n\nconst allRssItems = $input.all();\n// Pre-filter: keywords that suggest data-center/power relevance.\nconst keywords = /\\b(data center|datacenter|hyperscale|colo|colocation|interconnection|MW\\b|gigawatt|GW\\b|PPA|campus|groundbreaking|permit|FERC|VP\\b|director|head of|senior director|origination|substation|transmission)\\b/i;\nconst cutoff = Date.now() - 48 * 60 * 60 * 1000;\n\nconst newItems = allRssItems\n  .filter((item) => {\n    const link = item.json.link;\n    const title = item.json.title || '';\n    const pubDate = new Date(item.json.pub_date).getTime();\n    const text = title + ' ' + (item.json.description || '');\n    // Dedup on URL OR normalized title (GUIDs/URLs drift across feeds).\n    const dupe = (link && existingUrls.has(link)) || (title && existingTitles.has(norm(title)));\n    return (\n      link &&\n      !dupe &&\n      (isNaN(pubDate) || pubDate >= cutoff) &&\n      keywords.test(text)\n    );\n  })\n  .slice(0, 30); // hard cap to avoid timeout\n\nconsole.log(`Filtered ${allRssItems.length} RSS items \\u2192 ${newItems.length} new (` + existingUrls.size + ` URLs, ` + existingTitles.size + ` titles in Airtable)`);\nreturn newItems;"},"id":"d1b44d42-b560-47f0-9e33-6a1ea7678219","name":"Filter New Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,480],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-opus-4-7', max_tokens: 600, system: 'You are a data center market analyst tracking development activity and hiring signals for a power origination executive transitioning into data center development. Return ONLY valid JSON, no preamble, no markdown fences.', messages: [{ role: 'user', content: 'Title: ' + $json.title + '\\n\\nDescription: ' + $json.description + '\\n\\nSource: ' + $json.source + '\\n\\nCategory: ' + ($json.category || 'unknown') + '\\nWEIGHTING: ' + ($json.category === 'energy' ? 'This is an ENERGY / power-market feed (market intelligence, not inherently a lead). Mark relevance true and score High ONLY when it implies a specific actionable opening in the wheelhouse — large-load interconnection, ISO/RTO queue, FERC Order 1000, transmission constraints, or a named developer/offtaker move. Generic policy/pricing/technology news with no named company action is NOT relevant.' : 'This is a DATA-CENTER feed (core target market). A named DC developer/operator capacity, site, power, or hiring move is high-intent; score generously when company and action are clear.') + '\\n\\nReturn JSON with these EXACT keys and values:\\n\\n- company (string: the developer/operator/employer, not utility or recruiter)\\n- signal_type (MUST be exactly one of: News, FERC Filing, Permit, LinkedIn Surge, EIA Generation Spike. Map jobs and hiring announcements to LinkedIn Surge. Map PPAs and site acquisitions to News.)\\n- summary (string: one sentence under 180 chars; INCLUDE the MW/capacity figure and the location when they are stated in the source, e.g. \\'Cipher Mining plans ~500MW data center near Waco, TX\\')\\n- state (string: US state name, or null)\\n- mw_size (number or null: the project MW capacity if stated ANYWHERE in the title or description; convert GW to MW (1 GW = 1000 MW) and use the numeric value for ranges/approximates, e.g. \\'~500MW\\' -> 500, \\'1.2 GW\\' -> 1200, \\'352 MW\\' -> 352; null ONLY when no capacity figure appears in the source)\\n- signal_score (MUST be exactly High or Medium. High = greater than 200MW, hyperscaler-anchored, FERC large-load filing, or VP/Director role at a target DC company. Medium = 50-200MW, permit, or Senior or Manager-level role.)\\n- outreach_angle (string under 200 chars: one-sentence hook describing why this matters to a power origination executive transitioning to data centers — focus on PPA opportunity, interconnection expertise relevance, or warm-intro path)\\n- actionability (integer 1-5, a DIFFERENT axis from signal_score: how reachable a DIRECT opening this is for an independent power-origination/development professional (20+ yrs, 5+ GW delivered, FERC/interconnection + PPA-structuring). A hyperscaler entering a queue is HIGH signal_score but LOW actionability. 5 = named regional developer/IPP with a clear unmet power-procurement, interconnection, or regulatory-structuring need they likely lack in-house, reachable. 4 = mid-size operator, plausible need, no deep internal origination bench. 3 = need exists but counterparty is well-resourced, or opening is indirect (partner/advisory). 2 = large operator with full internal team + named partners (market intel, not a lead). 1 = hyperscaler (AWS, Microsoft, Google, Meta, Oracle/OpenAI) or undisclosed/unreachable party. Penalize hyperscalers, Blackstone/KKR-backed deep-bench platforms, undisclosed counterparties, and pure-sentiment/opposition stories toward 1-2; reward named regional developers, BTM/CPCN and interconnection disputes, and staged multi-phase procurement toward 4-5.)\\n- actionability_rationale (string under 200 chars: one sentence naming the counterparty type, the unmet need or its absence, and any penalty applied)\\n- relevance (boolean: true ONLY if data center development, power origination, hyperscaler activity, or senior development/energy/power role at DC/hyperscaler/colo company AND would score High or Medium. Return false if would be Low.)\\n\\nIf relevance is false, return only {\"relevance\": false}.' }] }) }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":15000}}}},"id":"e539acd8-ed69-4bf5-811b-0308ee70eea9","name":"Classify with Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,656],"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"de11387d-d0aa-4e58-813d-5288315c6f90","name":"Combine Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1088,496]},{"parameters":{"jsCode":"// After Merge by position, $json has both original RSS fields AND Claude's response.\n// Robust JSON parse (fence/prose tolerant) so valid classifications aren't silently\n// dropped, and GUARANTEE every created signal gets a valid 1-5 Actionability.\nfunction robustJSON(raw) {\n  let t = raw || '';\n  const m = t.match(/```(?:json)?\\s*([\\s\\S]*?)```/i); if (m) t = m[1];\n  t = t.trim(); const s = t.search(/[\\{\\[]/); if (s > 0) t = t.slice(s);\n  try { return JSON.parse(t); } catch (e) {}\n  const last = Math.max(t.lastIndexOf('}'), t.lastIndexOf(']'));\n  if (last >= 0) { try { return JSON.parse(t.slice(0, last + 1)); } catch (e) {} }\n  return null;\n}\nconst items = [];\nfor (const item of $input.all()) {\n  const { link, content } = item.json;\n  const raw = content?.[0]?.text || '';\n  const parsed = robustJSON(raw);\n  if (!parsed) continue;\n  if (!parsed.relevance) continue;\n  const score = parsed.signal_score;\n  if (score !== 'High' && score !== 'Medium') continue;\n  const validTypes = ['FERC Filing', 'News', 'Permit', 'LinkedIn Surge', 'EIA Generation Spike'];\n  const signalType = validTypes.includes(parsed.signal_type) ? parsed.signal_type : 'News';\n  // Guarantee Actionability: Claude's value if a valid 1-5 integer, else derive from\n  // the categorical Signal Score (High->4, Medium->2). No scored signal ships unscored.\n  let act = parseInt(parsed.actionability, 10);\n  if (!(act >= 1 && act <= 5)) act = (score === 'High' ? 4 : 2);\n  items.push({\n    json: {\n      Company: parsed.company || '',\n      'Signal Type': signalType,\n      'Signal Detail': parsed.summary || '',\n      Location: parsed.state || '',\n      'Source URL': link,\n      'Signal Score': score,\n      'MW Size': (parsed.mw_size != null && Number.isFinite(Number(parsed.mw_size)) ? Number(parsed.mw_size) : null),\n      'Outreach Angle': parsed.outreach_angle || '',\n      Actionability: act,\n      'Actionability Rationale': parsed.actionability_rationale || '',\n      'Date Detected': new Date().toLocaleDateString('en-CA', { timeZone: 'America/New_York' }),\n      Status: 'Scored'\n    }\n  });\n}\nreturn items;\n"},"id":"201c0500-a11d-4be5-b7dd-70e4a5fcf8f7","name":"Format for Airtable","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,496]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"list","cachedResultName":"Market Research"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"list","cachedResultName":"Market Signals","cachedResultUrl":"https://airtable.com/appoTkXUnQ9aulmkE/tblLLpsGrLBpgezYx"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Signal Type","displayName":"Signal Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"FERC Filing","value":"FERC Filing"},{"name":"News","value":"News"},{"name":"Permit","value":"Permit"},{"name":"LinkedIn Surge","value":"LinkedIn Surge"},{"name":"EIA Generation Spike","value":"EIA Generation Spike"}],"readOnly":false,"removed":false},{"id":"Signal Detail","displayName":"Signal Detail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source URL","displayName":"Source URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Signal Score","displayName":"Signal Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"High","value":"High"},{"name":"Medium","value":"Medium"},{"name":"Low","value":"Low"}],"readOnly":false,"removed":false},{"id":"Outreach Angle","displayName":"Outreach Angle","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actionability","displayName":"Actionability","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Actionability Rationale","displayName":"Actionability Rationale","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Date Detected","displayName":"Date Detected","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Processed","value":"Processed"}],"readOnly":false,"removed":false},{"id":"Outreach Pipeline","displayName":"Outreach Pipeline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Outreach Pipeline 2","displayName":"Outreach Pipeline 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"id":"ecb5eba0-951e-4a12-9abf-6c8b7ff308b7","name":"Create Signal","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1744,400],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"// Fetch & Flatten Feeds — replaces the 5 RSS Read + Merge + Normalize nodes.\n// Loop-fetches each feed, parses RSS 2.0 + Atom (dependency-free), flattens to one\n// stream with `category` + `sourceName` on every item. Category flows to Classify so\n// DATACENTER vs ENERGY signals are weighted differently. Emits the same field names\n// the rest of the workflow already reads (link, pub_date, title, description, source).\nconst FEEDS = [\n  { name: 'DCD', url: 'https://www.datacenterdynamics.com/rss/', category: 'datacenter' },\n  { name: 'DCK', url: 'https://www.datacenterknowledge.com/rss.xml', category: 'datacenter' },\n  { name: 'Google News', url: 'https://news.google.com/rss/search?q=%22data+center%22+(MW+OR+hyperscale+OR+PPA+OR+groundbreaking+OR+campus+OR+%22interconnection%22)&hl=en-US&gl=US&ceid=US:en', category: 'datacenter' },\n  { name: 'Jobs', url: 'https://news.google.com/rss/search?q=(%22data+center%22+OR+hyperscale+OR+colocation)+(%22director+of%22+OR+%22VP+of%22+OR+%22head+of%22+OR+%22senior+director%22)+(development+OR+origination+OR+energy+OR+power)&hl=en-US&gl=US&ceid=US:en', category: 'datacenter' },\n  { name: 'Utility Dive', url: 'https://www.utilitydive.com/feeds/news/', category: 'energy' },\n  { name: 'POWER Magazine', url: 'https://www.powermag.com/feed/', category: 'energy' },\n  { name: 'RTO Insider', url: 'https://www.rtoinsider.com/feed/', category: 'energy' },\n  { name: 'Canary Media', url: 'https://www.canarymedia.com/rss.rss', category: 'energy' },\n];\nconst PER_FEED_CAP = 25;\nconst stripCdata = (s) => String(s == null ? '' : s).replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').trim();\nconst decode = (s) => String(s || '').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"').replace(/&#0?39;|&apos;/g,\"'\").replace(/&amp;/g,'&');\nfunction tag(b, n) { const m = b.match(new RegExp('<' + n + '(?:\\\\s[^>]*)?>([\\\\s\\\\S]*?)<\\\\/' + n + '>', 'i')); return m ? decode(stripCdata(m[1])) : ''; }\nfunction link(b) { const r = b.match(/<link(?:\\s[^>]*)?>([\\s\\S]*?)<\\/link>/i); if (r && stripCdata(r[1])) return decode(stripCdata(r[1])); const a = b.match(/<link\\b[^>]*rel=[\"']alternate[\"'][^>]*href=[\"']([^\"']+)[\"']/i); if (a) return decode(a[1]); const any = b.match(/<link\\b[^>]*href=[\"']([^\"']+)[\"']/i); return any ? decode(any[1]) : ''; }\nfunction looksLikeFeed(b) { return /^\\s*(?:<\\?xml|<rss[\\s>]|<feed[\\s>])/i.test(String(b || '').slice(0, 400)); }\nfunction parseFeed(xml) { const blocks = []; const re = /<(item|entry)(?:\\s[^>]*)?>([\\s\\S]*?)<\\/\\1>/gi; let m; while ((m = re.exec(xml)) !== null) blocks.push(m[2]); return blocks.map((b) => ({ title: tag(b,'title'), link: link(b), description: (tag(b,'description')||tag(b,'summary')||tag(b,'content')).toString().substring(0,1500), pub_date: tag(b,'pubDate')||tag(b,'published')||tag(b,'updated')||tag(b,'dc:date') })); }\nconst out = [];\nconst diag = [];\nfor (const feed of FEEDS) {\n  let body = '', status = 0;\n  try {\n    const res = await this.helpers.httpRequest({ method: 'GET', url: feed.url, timeout: 25000, returnFullResponse: true, headers: { 'User-Agent': 'Mozilla/5.0 (n8n feed-ingest)', Accept: 'application/rss+xml,application/atom+xml,application/xml,text/xml,*/*' } });\n    status = res.statusCode; body = typeof res.body === 'string' ? res.body : String(res.body || '');\n  } catch (e) { diag.push({ feed: feed.name, error: (e && e.message ? e.message : String(e)).slice(0,120) }); continue; }\n  if (!looksLikeFeed(body)) { diag.push({ feed: feed.name, status, bytes: body.length, note: 'not a feed (HTML/soft-404)' }); continue; }\n  const items = parseFeed(body);\n  let kept = 0;\n  for (const it of items.slice(0, PER_FEED_CAP)) {\n    if (!it.title || !it.link) continue;\n    out.push({ json: { title: it.title, description: it.description, link: it.link, pub_date: it.pub_date, source: feed.name, sourceName: feed.name, category: feed.category } });\n    kept += 1;\n  }\n  diag.push({ feed: feed.name, status, parsed: items.length, kept });\n}\nconsole.log('Fetch & Flatten:', JSON.stringify(diag));\nreturn out;"},"id":"d0277af4-9571-4f68-8588-af802dc87f0f","name":"Fetch & Flatten Feeds","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c0a11111-1111-4111-8111-111111111111","leftValue":"={{ $json.Company }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c0a22222-2222-4222-8222-222222222222","leftValue":"={{ $json[\"Signal Score\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,496],"id":"f1e2d3c4-b5a6-4789-9abc-def012345678","name":"Validate Company + Signal Score"}],"connections":{"Daily 6am":{"main":[[{"node":"Search Existing Signals","type":"main","index":0},{"node":"Fetch & Flatten Feeds","type":"main","index":0}]]},"Filter New Items":{"main":[[{"node":"Classify with Claude","type":"main","index":0},{"node":"Combine Data","type":"main","index":0}]]},"Classify with Claude":{"main":[[{"node":"Combine Data","type":"main","index":1}]]},"Combine Data":{"main":[[{"node":"Format for Airtable","type":"main","index":0}]]},"Format for Airtable":{"main":[[{"node":"Validate Company + Signal Score","type":"main","index":0}]]},"Fetch & Flatten Feeds":{"main":[[{"node":"Filter New Items","type":"main","index":0}]]},"Validate Company + Signal Score":{"main":[[{"node":"Create Signal","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timezone":"America/New_York"},"staticData":{"node:Daily 6am":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":{},"versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","activeVersionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","versionCounter":34,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-04T03:40:32.676Z","createdAt":"2026-06-04T03:40:32.676Z","role":"workflow:owner","workflowId":"p3yCtcGSzNfhHtlr","projectId":"yyu8mrsL1yrdUgiZ","project":{"updatedAt":"2026-05-07T03:46:52.701Z","createdAt":"2026-05-07T03:46:45.027Z","id":"yyu8mrsL1yrdUgiZ","name":"Chris   <santiago4801@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}}],"tags":[{"updatedAt":"2026-06-11T23:08:08.474Z","createdAt":"2026-06-11T23:08:08.474Z","id":"LDRlyf9htqKc0gW7","name":"Market Intelligence"}],"activeVersion":{"updatedAt":"2026-06-14T20:00:31.843Z","createdAt":"2026-06-14T20:00:31.843Z","versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","workflowId":"p3yCtcGSzNfhHtlr","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"34a7da9f-bd2b-4055-b319-e34ae32006ac","name":"Daily 6am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-256,464]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"list","cachedResultName":"Market Research"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"list","cachedResultName":"Market Signals"},"options":{"fields":["Source URL"]}},"id":"d0ffd16e-3da9-41bc-966d-8efd1c9b8d91","name":"Search Existing Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[128,240],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"// Existing URLs + titles already in Airtable (Search Existing Signals pull).\nconst existingRows = $('Search Existing Signals').all();\nconst norm = (s) => String(s || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\nconst existingUrls = new Set();\nconst existingTitles = new Set();\nfor (const item of existingRows) {\n  const f = item.json?.fields || item.json || {};\n  const u = f['Source URL']; if (u) existingUrls.add(u);\n  const t = f['Company'] ? null : null; // (Company is not the title; title-dedup uses Signal Detail/title if present)\n  const title = f['title'] || f['Title'] || f['Signal Detail'];\n  if (title) existingTitles.add(norm(title));\n}\n\nconst allRssItems = $input.all();\n// Pre-filter: keywords that suggest data-center/power relevance.\nconst keywords = /\\b(data center|datacenter|hyperscale|colo|colocation|interconnection|MW\\b|gigawatt|GW\\b|PPA|campus|groundbreaking|permit|FERC|VP\\b|director|head of|senior director|origination|substation|transmission)\\b/i;\nconst cutoff = Date.now() - 48 * 60 * 60 * 1000;\n\nconst newItems = allRssItems\n  .filter((item) => {\n    const link = item.json.link;\n    const title = item.json.title || '';\n    const pubDate = new Date(item.json.pub_date).getTime();\n    const text = title + ' ' + (item.json.description || '');\n    // Dedup on URL OR normalized title (GUIDs/URLs drift across feeds).\n    const dupe = (link && existingUrls.has(link)) || (title && existingTitles.has(norm(title)));\n    return (\n      link &&\n      !dupe &&\n      (isNaN(pubDate) || pubDate >= cutoff) &&\n      keywords.test(text)\n    );\n  })\n  .slice(0, 30); // hard cap to avoid timeout\n\nconsole.log(`Filtered ${allRssItems.length} RSS items \\u2192 ${newItems.length} new (` + existingUrls.size + ` URLs, ` + existingTitles.size + ` titles in Airtable)`);\nreturn newItems;"},"id":"d1b44d42-b560-47f0-9e33-6a1ea7678219","name":"Filter New Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,480],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-opus-4-7', max_tokens: 600, system: 'You are a data center market analyst tracking development activity and hiring signals for a power origination executive transitioning into data center development. Return ONLY valid JSON, no preamble, no markdown fences.', messages: [{ role: 'user', content: 'Title: ' + $json.title + '\\n\\nDescription: ' + $json.description + '\\n\\nSource: ' + $json.source + '\\n\\nCategory: ' + ($json.category || 'unknown') + '\\nWEIGHTING: ' + ($json.category === 'energy' ? 'This is an ENERGY / power-market feed (market intelligence, not inherently a lead). Mark relevance true and score High ONLY when it implies a specific actionable opening in the wheelhouse — large-load interconnection, ISO/RTO queue, FERC Order 1000, transmission constraints, or a named developer/offtaker move. Generic policy/pricing/technology news with no named company action is NOT relevant.' : 'This is a DATA-CENTER feed (core target market). A named DC developer/operator capacity, site, power, or hiring move is high-intent; score generously when company and action are clear.') + '\\n\\nReturn JSON with these EXACT keys and values:\\n\\n- company (string: the developer/operator/employer, not utility or recruiter)\\n- signal_type (MUST be exactly one of: News, FERC Filing, Permit, LinkedIn Surge, EIA Generation Spike. Map jobs and hiring announcements to LinkedIn Surge. Map PPAs and site acquisitions to News.)\\n- summary (string: one sentence under 180 chars; INCLUDE the MW/capacity figure and the location when they are stated in the source, e.g. \\'Cipher Mining plans ~500MW data center near Waco, TX\\')\\n- state (string: US state name, or null)\\n- mw_size (number or null: the project MW capacity if stated ANYWHERE in the title or description; convert GW to MW (1 GW = 1000 MW) and use the numeric value for ranges/approximates, e.g. \\'~500MW\\' -> 500, \\'1.2 GW\\' -> 1200, \\'352 MW\\' -> 352; null ONLY when no capacity figure appears in the source)\\n- signal_score (MUST be exactly High or Medium. High = greater than 200MW, hyperscaler-anchored, FERC large-load filing, or VP/Director role at a target DC company. Medium = 50-200MW, permit, or Senior or Manager-level role.)\\n- outreach_angle (string under 200 chars: one-sentence hook describing why this matters to a power origination executive transitioning to data centers — focus on PPA opportunity, interconnection expertise relevance, or warm-intro path)\\n- actionability (integer 1-5, a DIFFERENT axis from signal_score: how reachable a DIRECT opening this is for an independent power-origination/development professional (20+ yrs, 5+ GW delivered, FERC/interconnection + PPA-structuring). A hyperscaler entering a queue is HIGH signal_score but LOW actionability. 5 = named regional developer/IPP with a clear unmet power-procurement, interconnection, or regulatory-structuring need they likely lack in-house, reachable. 4 = mid-size operator, plausible need, no deep internal origination bench. 3 = need exists but counterparty is well-resourced, or opening is indirect (partner/advisory). 2 = large operator with full internal team + named partners (market intel, not a lead). 1 = hyperscaler (AWS, Microsoft, Google, Meta, Oracle/OpenAI) or undisclosed/unreachable party. Penalize hyperscalers, Blackstone/KKR-backed deep-bench platforms, undisclosed counterparties, and pure-sentiment/opposition stories toward 1-2; reward named regional developers, BTM/CPCN and interconnection disputes, and staged multi-phase procurement toward 4-5.)\\n- actionability_rationale (string under 200 chars: one sentence naming the counterparty type, the unmet need or its absence, and any penalty applied)\\n- relevance (boolean: true ONLY if data center development, power origination, hyperscaler activity, or senior development/energy/power role at DC/hyperscaler/colo company AND would score High or Medium. Return false if would be Low.)\\n\\nIf relevance is false, return only {\"relevance\": false}.' }] }) }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":15000}}}},"id":"e539acd8-ed69-4bf5-811b-0308ee70eea9","name":"Classify with Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,656],"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"de11387d-d0aa-4e58-813d-5288315c6f90","name":"Combine Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1088,496]},{"parameters":{"jsCode":"// After Merge by position, $json has both original RSS fields AND Claude's response.\n// Robust JSON parse (fence/prose tolerant) so valid classifications aren't silently\n// dropped, and GUARANTEE every created signal gets a valid 1-5 Actionability.\nfunction robustJSON(raw) {\n  let t = raw || '';\n  const m = t.match(/```(?:json)?\\s*([\\s\\S]*?)```/i); if (m) t = m[1];\n  t = t.trim(); const s = t.search(/[\\{\\[]/); if (s > 0) t = t.slice(s);\n  try { return JSON.parse(t); } catch (e) {}\n  const last = Math.max(t.lastIndexOf('}'), t.lastIndexOf(']'));\n  if (last >= 0) { try { return JSON.parse(t.slice(0, last + 1)); } catch (e) {} }\n  return null;\n}\nconst items = [];\nfor (const item of $input.all()) {\n  const { link, content } = item.json;\n  const raw = content?.[0]?.text || '';\n  const parsed = robustJSON(raw);\n  if (!parsed) continue;\n  if (!parsed.relevance) continue;\n  const score = parsed.signal_score;\n  if (score !== 'High' && score !== 'Medium') continue;\n  const validTypes = ['FERC Filing', 'News', 'Permit', 'LinkedIn Surge', 'EIA Generation Spike'];\n  const signalType = validTypes.includes(parsed.signal_type) ? parsed.signal_type : 'News';\n  // Guarantee Actionability: Claude's value if a valid 1-5 integer, else derive from\n  // the categorical Signal Score (High->4, Medium->2). No scored signal ships unscored.\n  let act = parseInt(parsed.actionability, 10);\n  if (!(act >= 1 && act <= 5)) act = (score === 'High' ? 4 : 2);\n  items.push({\n    json: {\n      Company: parsed.company || '',\n      'Signal Type': signalType,\n      'Signal Detail': parsed.summary || '',\n      Location: parsed.state || '',\n      'Source URL': link,\n      'Signal Score': score,\n      'MW Size': (parsed.mw_size != null && Number.isFinite(Number(parsed.mw_size)) ? Number(parsed.mw_size) : null),\n      'Outreach Angle': parsed.outreach_angle || '',\n      Actionability: act,\n      'Actionability Rationale': parsed.actionability_rationale || '',\n      'Date Detected': new Date().toLocaleDateString('en-CA', { timeZone: 'America/New_York' }),\n      Status: 'Scored'\n    }\n  });\n}\nreturn items;\n"},"id":"201c0500-a11d-4be5-b7dd-70e4a5fcf8f7","name":"Format for Airtable","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,496]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"list","cachedResultName":"Market Research"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"list","cachedResultName":"Market Signals","cachedResultUrl":"https://airtable.com/appoTkXUnQ9aulmkE/tblLLpsGrLBpgezYx"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Signal Type","displayName":"Signal Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"FERC Filing","value":"FERC Filing"},{"name":"News","value":"News"},{"name":"Permit","value":"Permit"},{"name":"LinkedIn Surge","value":"LinkedIn Surge"},{"name":"EIA Generation Spike","value":"EIA Generation Spike"}],"readOnly":false,"removed":false},{"id":"Signal Detail","displayName":"Signal Detail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source URL","displayName":"Source URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Signal Score","displayName":"Signal Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"High","value":"High"},{"name":"Medium","value":"Medium"},{"name":"Low","value":"Low"}],"readOnly":false,"removed":false},{"id":"Outreach Angle","displayName":"Outreach Angle","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actionability","displayName":"Actionability","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Actionability Rationale","displayName":"Actionability Rationale","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Date Detected","displayName":"Date Detected","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Processed","value":"Processed"}],"readOnly":false,"removed":false},{"id":"Outreach Pipeline","displayName":"Outreach Pipeline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Outreach Pipeline 2","displayName":"Outreach Pipeline 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"id":"ecb5eba0-951e-4a12-9abf-6c8b7ff308b7","name":"Create Signal","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1744,400],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"// Fetch & Flatten Feeds — replaces the 5 RSS Read + Merge + Normalize nodes.\n// Loop-fetches each feed, parses RSS 2.0 + Atom (dependency-free), flattens to one\n// stream with `category` + `sourceName` on every item. Category flows to Classify so\n// DATACENTER vs ENERGY signals are weighted differently. Emits the same field names\n// the rest of the workflow already reads (link, pub_date, title, description, source).\nconst FEEDS = [\n  { name: 'DCD', url: 'https://www.datacenterdynamics.com/rss/', category: 'datacenter' },\n  { name: 'DCK', url: 'https://www.datacenterknowledge.com/rss.xml', category: 'datacenter' },\n  { name: 'Google News', url: 'https://news.google.com/rss/search?q=%22data+center%22+(MW+OR+hyperscale+OR+PPA+OR+groundbreaking+OR+campus+OR+%22interconnection%22)&hl=en-US&gl=US&ceid=US:en', category: 'datacenter' },\n  { name: 'Jobs', url: 'https://news.google.com/rss/search?q=(%22data+center%22+OR+hyperscale+OR+colocation)+(%22director+of%22+OR+%22VP+of%22+OR+%22head+of%22+OR+%22senior+director%22)+(development+OR+origination+OR+energy+OR+power)&hl=en-US&gl=US&ceid=US:en', category: 'datacenter' },\n  { name: 'Utility Dive', url: 'https://www.utilitydive.com/feeds/news/', category: 'energy' },\n  { name: 'POWER Magazine', url: 'https://www.powermag.com/feed/', category: 'energy' },\n  { name: 'RTO Insider', url: 'https://www.rtoinsider.com/feed/', category: 'energy' },\n  { name: 'Canary Media', url: 'https://www.canarymedia.com/rss.rss', category: 'energy' },\n];\nconst PER_FEED_CAP = 25;\nconst stripCdata = (s) => String(s == null ? '' : s).replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').trim();\nconst decode = (s) => String(s || '').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"').replace(/&#0?39;|&apos;/g,\"'\").replace(/&amp;/g,'&');\nfunction tag(b, n) { const m = b.match(new RegExp('<' + n + '(?:\\\\s[^>]*)?>([\\\\s\\\\S]*?)<\\\\/' + n + '>', 'i')); return m ? decode(stripCdata(m[1])) : ''; }\nfunction link(b) { const r = b.match(/<link(?:\\s[^>]*)?>([\\s\\S]*?)<\\/link>/i); if (r && stripCdata(r[1])) return decode(stripCdata(r[1])); const a = b.match(/<link\\b[^>]*rel=[\"']alternate[\"'][^>]*href=[\"']([^\"']+)[\"']/i); if (a) return decode(a[1]); const any = b.match(/<link\\b[^>]*href=[\"']([^\"']+)[\"']/i); return any ? decode(any[1]) : ''; }\nfunction looksLikeFeed(b) { return /^\\s*(?:<\\?xml|<rss[\\s>]|<feed[\\s>])/i.test(String(b || '').slice(0, 400)); }\nfunction parseFeed(xml) { const blocks = []; const re = /<(item|entry)(?:\\s[^>]*)?>([\\s\\S]*?)<\\/\\1>/gi; let m; while ((m = re.exec(xml)) !== null) blocks.push(m[2]); return blocks.map((b) => ({ title: tag(b,'title'), link: link(b), description: (tag(b,'description')||tag(b,'summary')||tag(b,'content')).toString().substring(0,1500), pub_date: tag(b,'pubDate')||tag(b,'published')||tag(b,'updated')||tag(b,'dc:date') })); }\nconst out = [];\nconst diag = [];\nfor (const feed of FEEDS) {\n  let body = '', status = 0;\n  try {\n    const res = await this.helpers.httpRequest({ method: 'GET', url: feed.url, timeout: 25000, returnFullResponse: true, headers: { 'User-Agent': 'Mozilla/5.0 (n8n feed-ingest)', Accept: 'application/rss+xml,application/atom+xml,application/xml,text/xml,*/*' } });\n    status = res.statusCode; body = typeof res.body === 'string' ? res.body : String(res.body || '');\n  } catch (e) { diag.push({ feed: feed.name, error: (e && e.message ? e.message : String(e)).slice(0,120) }); continue; }\n  if (!looksLikeFeed(body)) { diag.push({ feed: feed.name, status, bytes: body.length, note: 'not a feed (HTML/soft-404)' }); continue; }\n  const items = parseFeed(body);\n  let kept = 0;\n  for (const it of items.slice(0, PER_FEED_CAP)) {\n    if (!it.title || !it.link) continue;\n    out.push({ json: { title: it.title, description: it.description, link: it.link, pub_date: it.pub_date, source: feed.name, sourceName: feed.name, category: feed.category } });\n    kept += 1;\n  }\n  diag.push({ feed: feed.name, status, parsed: items.length, kept });\n}\nconsole.log('Fetch & Flatten:', JSON.stringify(diag));\nreturn out;"},"id":"d0277af4-9571-4f68-8588-af802dc87f0f","name":"Fetch & Flatten Feeds","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c0a11111-1111-4111-8111-111111111111","leftValue":"={{ $json.Company }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c0a22222-2222-4222-8222-222222222222","leftValue":"={{ $json[\"Signal Score\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,496],"id":"f1e2d3c4-b5a6-4789-9abc-def012345678","name":"Validate Company + Signal Score"}],"connections":{"Daily 6am":{"main":[[{"node":"Search Existing Signals","type":"main","index":0},{"node":"Fetch & Flatten Feeds","type":"main","index":0}]]},"Filter New Items":{"main":[[{"node":"Classify with Claude","type":"main","index":0},{"node":"Combine Data","type":"main","index":0}]]},"Classify with Claude":{"main":[[{"node":"Combine Data","type":"main","index":1}]]},"Combine Data":{"main":[[{"node":"Format for Airtable","type":"main","index":0}]]},"Format for Airtable":{"main":[[{"node":"Validate Company + Signal Score","type":"main","index":0}]]},"Fetch & Flatten Feeds":{"main":[[{"node":"Filter New Items","type":"main","index":0}]]},"Validate Company + Signal Score":{"main":[[{"node":"Create Signal","type":"main","index":0}],[]]}},"nodeGroups":[],"authors":"Chris  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-14T20:00:32.092Z","id":207,"workflowId":"p3yCtcGSzNfhHtlr","versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","event":"activated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"},{"createdAt":"2026-06-14T20:00:32.838Z","id":209,"workflowId":"p3yCtcGSzNfhHtlr","versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","event":"activated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"},{"createdAt":"2026-06-14T20:00:31.995Z","id":206,"workflowId":"p3yCtcGSzNfhHtlr","versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","event":"deactivated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"},{"createdAt":"2026-06-14T20:00:32.445Z","id":208,"workflowId":"p3yCtcGSzNfhHtlr","versionId":"22e226c6-782c-48d9-bdf0-444e7ff1702f","event":"deactivated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}]}}