clay-enrichment-push-i4sJnWBUVK9aHETb.workflow.json
{
  "updatedAt": "2026-06-11T16:52:23.765Z",
  "createdAt": "2026-06-11T16:52:23.765Z",
  "id": "i4sJnWBUVK9aHETb",
  "name": "Clay Enrichment Push",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "15ffe680-3244-4ef9-b931-0d81204d78e3",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "bcf97759-8402-4dcb-ae22-70bc454eec2f",
      "name": "Daily 7:30am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "92a93111-d024-46dc-ab5d-73df6c703602",
      "name": "Find Needs Clay (unsent)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        280,
        100
      ],
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl32octmRaDZXULy",
          "mode": "id"
        },
        "filterByFormula": "=AND({Enrichment Status} = 'Needs Clay', {Clay Record ID} = '')",
        "returnAll": false,
        "limit": 25,
        "options": {
          "sort": {
            "sort": [
              {
                "field": "Enriched Date",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "id": "88a6097e-9214-464c-ad88-c8e0423b2dd1",
      "name": "Build Clay Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        100
      ],
      "parameters": {
        "jsCode": "// Build the Clay ingestion payload per Needs-Clay lead.\n// clay_record_id = Airtable record id -> Clay echoes it back so the callback can match.\nreturn $input.all().map(item => {\n  const f = item.json.fields || item.json;\n  return { json: {\n    clay_record_id: item.json.id,\n    company:        f['Company'] || '',\n    contact_name:   f['Contact Name'] || '',\n    linkedin_url:   f['LinkedIn URL'] || '',\n    title:          f['Title'] || '',\n    signal_hook:    f['Signal Hook'] || ''\n  }};\n});"
      }
    },
    {
      "id": "f335eca6-3516-4256-9f7e-67d85162abc5",
      "name": "POST to Clay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://PLACEHOLDER-REPLACE-WITH-CLAY-INGESTION-WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "50c1236f-ebbe-474b-b2fb-763de04a45f9",
      "name": "Stamp Clay Record ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1060,
        100
      ],
      "parameters": {
        "resource": "record",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl32octmRaDZXULy",
          "mode": "id"
        },
        "id": "={{ $('Build Clay Payload').item.json.clay_record_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "id": "Clay Record ID",
              "displayName": "Clay Record ID",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "readOnly": false,
              "removed": false
            }
          ],
          "value": {
            "Clay Record ID": "={{ $('Build Clay Payload').item.json.clay_record_id }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Find Needs Clay (unsent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 7:30am": {
      "main": [
        [
          {
            "node": "Find Needs Clay (unsent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Needs Clay (unsent)": {
      "main": [
        [
          {
            "node": "Build Clay Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Clay Payload": {
      "main": [
        [
          {
            "node": "POST to Clay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Clay": {
      "main": [
        [
          {
            "node": "Stamp Clay Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "65090fef-cc5f-412d-a3eb-e9b86d2ec058",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-11T16:52:23.767Z",
      "createdAt": "2026-06-11T16:52:23.767Z",
      "role": "workflow:owner",
      "workflowId": "i4sJnWBUVK9aHETb",
      "projectId": "yyu8mrsL1yrdUgiZ",
      "project": {
        "updatedAt": "2026-05-07T03:46:52.701Z",
        "createdAt": "2026-05-07T03:46:45.027Z",
        "id": "yyu8mrsL1yrdUgiZ",
        "name": "Chris   <santiago4801@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
