daily-brief-pre-prep-dedup-qYqkBqqVCqLXV0nk.backup.json
{
  "updatedAt": "2026-06-10T18:58:11.865Z",
  "createdAt": "2026-06-09T02:00:40.761Z",
  "id": "qYqkBqqVCqLXV0nk",
  "name": "Daily Brief",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "id": "bb22a642-9c5a-4536-b32d-4adc4d9b4624",
      "name": "Weekdays 6am (inactive)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        -64
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "ede0b9da-da02-41e3-a0b3-2f358344b312",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        96
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblLLpsGrLBpgezYx",
          "mode": "id"
        },
        "filterByFormula": "IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -1, 'days'))",
        "options": {}
      },
      "id": "3b6474c8-61e7-455f-be2e-f41771ce8143",
      "name": "Fetch Today Signals",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblkazcIqMkDoISu7",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 20,
        "options": {}
      },
      "id": "ba6f6a3a-0349-423e-962c-6f13ed8ee40d",
      "name": "Fetch Queue Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        208
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst signals = allItems.map(item => ({\n  company: item.json.Company || 'Unknown',\n  headline: item.json['Signal Detail'] || '',\n  summary: item.json['Outreach Angle'] || '',\n  url: item.json['Source URL'] || '',\n  actionability: item.json.Actionability || 1,\n  state: item.json.Location || '',\n  mw: item.json.MW || '',\n  contact: item.json.Contact || ''\n}));\n\nsignals.sort((a, b) => b.actionability - a.actionability);\n\nconst seen = new Set();\nconst deduped = signals.filter(s => {\n  if (!s.url || seen.has(s.url)) return false;\n  seen.add(s.url);\n  return true;\n});\n\nreturn [{ json: { signals: deduped } }];"
      },
      "id": "8afcebb4-1f75-4fe2-81f0-b3bf64cbf202",
      "name": "Prep Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all().map(r => ({\n  id: r.json['Queue ID'] || '',\n  mw: r.json['Capacity (MW)'] || '',\n  type: r.json.Technology || '',\n  state: r.json.State || '',\n  county: r.json.County || '',\n  score: r.json.Score || '',\n  developer: r.json.Developer || '',\n  status: r.json['Queue Status'] || ''\n}));\n\nreturn [{ json: { queueRecords: records } }];"
      },
      "id": "13d3b9ff-b86a-486f-9b7b-2c691341dba7",
      "name": "Prep Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const signals = $('Aggregate Enrichment').first().json.signals;\n\nconst prompt = 'You are writing the NexPhase Advisory Daily Market Signals Brief for Chris Santiago, a power origination and interconnection expert with two decades of experience, 5+ GW delivered to NTP across CAISO, PJM, MISO, ERCOT, and WECC.\\n\\n'\n+ 'Each signal has a \"sophistication\" field from web-search research of that company power procurement capability: SOPHISTICATED (has in-house power origination/interconnection capability, likely large interconnection positions and executed PPAs), DEVELOPING (building capability), NEEDS HELP (no apparent capability), or UNKNOWN (not researched).\\n\\n'\n+ 'CRITICAL RULES for \"The Angle\":\\n'\n+ '- Do NOT suggest a company needs outside help if it is flagged SOPHISTICATED.\\n'\n+ '- SOPHISTICATED -> The Angle = what does this signal tell me about MARKET DIRECTION (where capital and power demand are moving), NOT what can I sell them.\\n'\n+ '- NEEDS HELP -> The Angle = what is the specific capability gap and how would I approach them (engagement path).\\n'\n+ '- DEVELOPING or UNKNOWN -> be measured: note what would confirm the need before pitching; never assert they need help.\\n\\n'\n+ 'Today signals (sorted by actionability):\\n' + JSON.stringify(signals, null, 2)\n+ '\\n\\nFor EACH signal generate:\\n1. summary: one factual sentence of what happened\\n2. read: one analytical sentence (the so-what for a power professional)\\n3. angle: 2-4 sentences in first-person voice as Chris, RESPECTING the sophistication rules above.\\n\\n'\n+ 'Also generate:\\n- bottomLine: 3-5 sentences on today center of gravity across all signals\\n- actOn: 2-3 sentences on the 1-2 specific companies worth a call or DM today and why\\n\\n'\n+ 'Return ONLY valid JSON, no other text:\\n{\"bottomLine\":\"...\",\"actOn\":\"...\",\"signals\":[{\"company\":\"...\",\"summary\":\"...\",\"read\":\"...\",\"angle\":\"...\"}]}';\n\nreturn [{ json: { prompt, signals } }];"
      },
      "id": "d01ddb34-d509-401c-984a-c8ca7f646eb4",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 16000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "ce7f9907-77fe-44ae-b456-879f1bc44874",
      "name": "Claude Editorial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FJA7PZjCaMHaj0Ir",
          "name": "Header Auth Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResp = $input.first().json;\nconst signals = $('Build Claude Prompt').first().json.signals;\nlet queueRecords;\ntry {\n  queueRecords = $('Prep Queue').first().json.queueRecords || [];\n} catch (e) {\n  queueRecords = [];\n}\n\nlet editorial = { bottomLine: '', actOn: '', signals: [] };\ntry {\n  const content = claudeResp.content || [];\n  const rawText = (content[0] && content[0].text) ? content[0].text : '{}';\n  const text = rawText.replace(/```json|```/g, '').trim();\n  editorial = JSON.parse(text);\n} catch(e) {\n  editorial.bottomLine = 'Editorial generation error. Review signals manually.';\n  editorial.actOn = 'Manual review required.';\n  editorial.signals = signals.map(s => ({ company: s.company, summary: s.headline, read: s.summary, angle: '' }));\n}\n\nconst now = new Date();\nconst TZ = 'America/New_York';\nconst weekday = now.toLocaleDateString('en-US', { weekday: 'long', timeZone: TZ });\nconst monthDayYear = now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: TZ });\nconst dateStr = weekday + ' &middot; ' + monthDayYear;\nconst issueNum = Math.floor((now - new Date('2025-01-01')) / (1000 * 60 * 60 * 24));\n\nfunction actionBadge(score) {\n  const n = parseInt(score);\n  if (n >= 4) return 'background:#C2410C;color:#ffffff';\n  if (n === 3) return 'background:#E6EEF2;color:#0E3A53';\n  return 'background:#EDF1F5;color:#5A6B7B';\n}\n\nlet signalBlocks = '';\nsignals.forEach((sig, i) => {\n  const ed = editorial.signals[i] || { summary: sig.headline, read: sig.summary, angle: '' };\n  const badge = actionBadge(sig.actionability);\n  const stateStr = sig.state ? '&nbsp;&nbsp;' + sig.state.toUpperCase() : '';\n  const mwStr = sig.mw ? ' &middot; ' + sig.mw + ' MW' : '';\n  const contactBadge = sig.contact ? '&nbsp;<span style=\"font-family:Arial,Helvetica,sans-serif;font-size:9px;font-weight:bold;padding:3px 8px;border-radius:2px;background:#0E3A53;color:#fff;\">' + sig.contact + '</span>' : '';\n  signalBlocks += '<tr><td style=\"padding:22px 0 0;border-top:1px solid #EDF1F5;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr><td width=\"34\" valign=\"top\" style=\"font-family:Georgia,serif;font-size:20px;color:#8A99A8;font-weight:bold;padding-right:8px;\">' + (i+1) + '</td><td valign=\"top\"><div style=\"margin-bottom:6px;\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:15px;color:#0B1B2B;\">' + sig.company + '</span><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#5A6B7B;letter-spacing:0.5px;\">' + stateStr + mwStr + '</span>&nbsp;<span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:9px;letter-spacing:0.5px;padding:3px 8px;border-radius:2px;' + badge + '\">&nbsp;ACTIONABILITY ' + sig.actionability + '&nbsp;</span>' + contactBadge + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.45;margin-bottom:8px;\"><a href=\"' + sig.url + '\" style=\"color:#0E3A53;text-decoration:underline;\">' + (ed.summary || sig.headline) + '</a></div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:1.5;color:#5A6B7B;margin-bottom:10px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:1px;color:#C2410C;text-transform:uppercase;\">Read&nbsp;&nbsp;</span>' + (ed.read || sig.summary) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"background:#F7F5F0;border-left:3px solid #0E3A53;padding:12px 16px;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:1.5;color:#28384A;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:1px;color:#0E3A53;text-transform:uppercase;font-weight:bold;\">The Angle&nbsp;&nbsp;</span>' + (ed.angle || '') + '</td></tr></table></td></tr></table></td></tr>';\n});\n\nlet queueBlocks = '';\nqueueRecords.slice(0, 4).forEach(q => {\n  if (!q.id) return;\n  queueBlocks += '<td width=\"50%\" valign=\"top\" style=\"padding:0 8px 12px 0;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:11px;font-weight:bold;color:#0E3A53;\">' + q.id + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#5A6B7B;margin-top:3px;\">' + (q.mw ? q.mw + ' MW ' : '') + q.type + ' &middot; ' + (q.county ? q.county + ', ' : '') + q.state + ' &middot; Score ' + q.score + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#8A99A8;margin-top:2px;\">' + q.developer + ' &middot; ' + q.status + '</div></td>';\n});\n\nconst queueSection = queueRecords.length > 0 ? '<tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-bottom:2px solid #DCE3EA;padding-bottom:7px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#C2410C;font-weight:bold;\">02&nbsp;&nbsp;</span><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;color:#0B1B2B;\">Queue Spotlight</span></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:14px;\"><tr>' + queueBlocks + '</tr></table></td></tr>' : '';\n\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>NexPhase Advisory Daily Brief</title></head><body style=\"margin:0;padding:0;background:#EEF1F4;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EEF1F4;\"><tr><td align=\"center\" style=\"padding:24px 12px;\"><table role=\"presentation\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:640px;max-width:640px;background:#ffffff;border-collapse:collapse;\"><tr><td style=\"padding:28px 32px 14px;border-bottom:2px solid #0B1B2B;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td valign=\"middle\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;color:#0B1B2B;\">Nex<span style=\"color:#C2410C;\">Phase</span> Advisory</span><br><span style=\"font-family:\\'Courier New\\',monospace;font-size:8px;letter-spacing:2px;color:#8A99A8;text-transform:uppercase;\">Power Origination &middot; Interconnection &middot; Strategy</span></td><td valign=\"middle\" align=\"right\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:10px;letter-spacing:1px;color:#C2410C;text-transform:uppercase;\">Daily Market Signals Brief</span><br><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#5A6B7B;\">' + dateStr + '</span></td></tr></table></td></tr><tr><td style=\"padding:26px 32px 6px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:10px;letter-spacing:2px;color:#C2410C;text-transform:uppercase;margin-bottom:10px;\">Issue No. ' + issueNum + ' &middot; US Data Center Power</div><div style=\"font-family:Georgia,\\'Times New Roman\\',serif;font-size:28px;line-height:1.1;color:#0B1B2B;font-weight:normal;\">The morning <em style=\"color:#0E3A53;\">read</em> on power-constrained demand.</div><div style=\"font-family:Georgia,serif;font-size:15px;line-height:1.45;color:#28384A;margin-top:12px;\">' + signals.length + ' developments worth a power developer&rsquo;s attention today, ranked by where an independent originator can actually create value.</div></td></tr><tr><td style=\"padding:18px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#F7F5F0;border-left:3px solid #C2410C;padding:16px 20px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:2px;color:#C2410C;text-transform:uppercase;margin-bottom:8px;\">Bottom Line</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#0B1B2B;\">' + editorial.bottomLine + '</div></td></tr></table></td></tr><tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-bottom:2px solid #DCE3EA;padding-bottom:7px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#C2410C;font-weight:bold;\">01&nbsp;&nbsp;</span><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;color:#0B1B2B;\">Ranked by actionability</span></td></tr></table></td></tr><tr><td style=\"padding:0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">' + signalBlocks + '</table></td></tr><tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#0E3A53;padding:20px 24px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:2px;color:#7FB2C9;text-transform:uppercase;margin-bottom:8px;\">What I&rsquo;d Act On</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#EAF2F6;\">' + editorial.actOn + '</div></td></tr></table></td></tr>' + queueSection + '<tr><td style=\"padding:24px 32px 28px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-top:1px solid #DCE3EA;padding-top:10px;font-family:\\'Courier New\\',monospace;font-size:9px;line-height:1.6;color:#8A99A8;\">NexPhase Advisory &middot; Compiled from public sources &middot; Informational use only &middot; Not investment advice</td></tr></table></td></tr></table></td></tr></table></body></html>';\n\nconsole.log('Build HTML Brief html length:', html.length);\nreturn [{ json: { html, dateStr, signalCount: signals.length } }];"
      },
      "id": "dd4f0070-b699-47aa-971d-68d2b62b54a7",
      "name": "Build HTML Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "fromEmail": "NexPhase Advisory <info@nexphaseadvisory.net>",
        "toEmail": "santiago4801@hotmail.com",
        "subject": "=NexPhase Daily Brief — {{ $json.dateStr.replace(/&middot;/g, '·') }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "46228ff0-cb2d-4a18-9d9a-d301fbdbc5fc",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1680,
        16
      ],
      "webhookId": "9b6fbfca-6bf9-4783-98ae-63897a1efbf7",
      "credentials": {
        "smtp": {
          "id": "lZS1lrkShDRNKKJm",
          "name": "SMTP Info@nexphaseadvisory.net"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\nconst html = $input.first().json.html;\nconst now = new Date();\nconst dateFile = now.toISOString().slice(0, 10);\nconst dir = path.join(os.homedir(), 'nexphase-reports', 'daily');\nconst filePath = path.join(dir, dateFile + '.html');\nconst latestPath = path.join(dir, 'latest.html');\ntry {\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(filePath, html, 'utf8');\n  fs.writeFileSync(latestPath, html, 'utf8');\n  return [{ json: { success: true, filePath } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "a3926853-1102-4617-9ac4-32f9b876fd45",
      "name": "Write HTML File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        176
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "f085d46b-103f-4fbf-88ae-5a49e9a2a5f0",
      "name": "Merge Editorial + Queue",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Take top N signals for per-company web-search enrichment (capped for runtime/cost).\nconst LIMIT = 3;\nconst signals = ($('Prep Signals').first().json.signals) || [];\nconst out = [];\nsignals.slice(0, LIMIT).forEach((s, i) => {\n  out.push({ json: { idx: i, company: s.company, headline: s.headline } });\n});\nreturn out;"
      },
      "id": "5a543cab-80d5-4f52-9d30-16fb24ff1a18",
      "name": "Split Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, tools: [{ type: 'web_search_20250305', name: 'web_search', max_uses: 5 }], messages: [{ role: 'user', content: 'Search for current information about the company ' + $json.company + ', referenced in this energy/data-center market signal headline: \\\"' + ($json.headline || '') + '\\\". Research THAT company (an energy, power, data center, or infrastructure company), not a similarly-named business in an unrelated industry. Specifically: Do they have an in-house power origination or interconnection team? Have they executed any PPAs or interconnection agreements recently? Are they a sophisticated energy developer or a first-time entrant? Return a 2-sentence summary of their power procurement sophistication level: SOPHISTICATED (has in-house capability), DEVELOPING (building capability), or NEEDS HELP (no apparent capability). Start your answer with the label in caps (SOPHISTICATED, DEVELOPING, or NEEDS HELP).' }] }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 60000
        }
      },
      "id": "a6efd28f-1e3d-48d5-b9bd-1ae3e0a329a1",
      "name": "Enrich Signals with Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -128
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "FJA7PZjCaMHaj0Ir",
          "name": "Header Auth Claude API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Map web-search enrichment back onto the full signals array (by original index).\nconst responses = $input.all();\nconst splitItems = $('Split Signals').all();\nconst signals = (($('Prep Signals').first().json.signals) || []).map(s => ({ ...s }));\nfunction parseLevel(text){ const t=(text||'').toUpperCase();\n  const labels=['NEEDS HELP','SOPHISTICATED','DEVELOPING'];\n  let best='UNKNOWN', bestPos=Infinity;\n  labels.forEach(l => { const p=t.indexOf(l); if(p>=0 && p<bestPos){ bestPos=p; best=l; } });\n  return best; }\nfor (let i=0;i<responses.length;i++){\n  const sp = splitItems[i] ? splitItems[i].json : {};\n  const idx = (sp.idx != null) ? sp.idx : -1;\n  const content = (responses[i].json && responses[i].json.content) || [];\n  const text = content.filter(b => b.type === 'text').map(b => b.text).join(' ').trim();\n  if (idx>=0 && signals[idx]){ signals[idx].sophistication = parseLevel(text); signals[idx].enrichment = text.slice(0,400); }\n}\nsignals.forEach(s => { if(!s.sophistication){ s.sophistication='UNKNOWN'; s.enrichment=''; } });\nconsole.log('Enrichment levels:', signals.map(s => s.company + '=' + s.sophistication).join(' | '));\nreturn [{ json: { signals } }];"
      },
      "id": "c39c1047-c74c-4b78-a52d-0f0ebced06b9",
      "name": "Aggregate Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexphase-daily-brief",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "11b50bb6-a5fe-4533-b004-04988a8eb6f6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        272
      ],
      "webhookId": "d296e20d-e579-4148-9be4-a110ebef84ad",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SreCeQNb5uXikMw4",
          "name": "NexPhase Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dedup editorial articles by company name — case-insensitive, strips legal suffixes.\n// Mirrors the Lead Generator dedup normalization. Sits after \"Merge Editorial + Queue\",\n// before \"Build HTML Brief\". Non-editorial items (queue) pass through untouched.\nconst norm = s => String(s || '').toLowerCase()\n  .replace(/\\b(llc|inc|corp|ltd|lp|llp|pllc|co\\.|company|group|holdings|renewables|energy|power|data centers?|digital)\\b/g, '')\n  .replace(/[^a-z0-9]+/g, ' ').trim();\n\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  if (Array.isArray(j.content)) {\n    // Claude editorial response — dedupe its signals array\n    let editorial;\n    try {\n      const raw = (j.content[0] && j.content[0].text) ? j.content[0].text : '{}';\n      editorial = JSON.parse(raw.replace(/```json|```/g, '').trim());\n    } catch (e) {\n      out.push(item);            // unparseable — leave untouched\n      continue;\n    }\n    if (Array.isArray(editorial.signals)) {\n      const seen = new Set();\n      editorial.signals = editorial.signals.filter(s => {\n        const key = norm(s && s.company);\n        if (!key) return true;             // keep unkeyable entries\n        if (seen.has(key)) return false;   // drop duplicate company\n        seen.add(key);\n        return true;\n      });\n      j.content = [{ ...j.content[0], text: JSON.stringify(editorial) }, ...j.content.slice(1)];\n    }\n    out.push({ json: j });\n  } else {\n    out.push(item);              // queue / other items pass through\n  }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        208
      ],
      "id": "d3d11a22-3344-4d55-8e66-77f889900aa1",
      "name": "Dedup Articles"
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Fetch Today Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Queue Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekdays 6am (inactive)": {
      "main": [
        [
          {
            "node": "Fetch Today Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Queue Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today Signals": {
      "main": [
        [
          {
            "node": "Prep Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Queue Records": {
      "main": [
        [
          {
            "node": "Prep Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Signals": {
      "main": [
        [
          {
            "node": "Split Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Queue": {
      "main": [
        [
          {
            "node": "Merge Editorial + Queue",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Claude Editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Editorial": {
      "main": [
        [
          {
            "node": "Merge Editorial + Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Brief": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write HTML File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Editorial + Queue": {
      "main": [
        [
          {
            "node": "Dedup Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Signals": {
      "main": [
        [
          {
            "node": "Enrich Signals with Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Signals with Web Search": {
      "main": [
        [
          {
            "node": "Aggregate Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Enrichment": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Today Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Queue Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Articles": {
      "main": [
        [
          {
            "node": "Build HTML Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "323d4880-7218-4164-8b04-a217214c9b8f",
  "activeVersionId": "323d4880-7218-4164-8b04-a217214c9b8f",
  "versionCounter": 28,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-09T02:00:40.763Z",
      "createdAt": "2026-06-09T02:00:40.763Z",
      "role": "workflow:owner",
      "workflowId": "qYqkBqqVCqLXV0nk",
      "projectId": "yyu8mrsL1yrdUgiZ",
      "project": {
        "updatedAt": "2026-05-07T03:46:52.701Z",
        "createdAt": "2026-05-07T03:46:45.027Z",
        "id": "yyu8mrsL1yrdUgiZ",
        "name": "Chris   <santiago4801@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-10T18:58:11.871Z",
    "createdAt": "2026-06-10T18:58:11.871Z",
    "versionId": "323d4880-7218-4164-8b04-a217214c9b8f",
    "workflowId": "qYqkBqqVCqLXV0nk",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * 1-5"
              }
            ]
          }
        },
        "id": "bb22a642-9c5a-4536-b32d-4adc4d9b4624",
        "name": "Weekdays 6am (inactive)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          -64
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "ede0b9da-da02-41e3-a0b3-2f358344b312",
        "name": "Run Manually",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          240,
          96
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appoTkXUnQ9aulmkE",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "tblLLpsGrLBpgezYx",
            "mode": "id"
          },
          "filterByFormula": "IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -1, 'days'))",
          "options": {}
        },
        "id": "3b6474c8-61e7-455f-be2e-f41771ce8143",
        "name": "Fetch Today Signals",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          480,
          48
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "RoOhi6fE6lI3cI1c",
            "name": "Airtable Personal Access Token account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appoTkXUnQ9aulmkE",
            "mode": "id"
          },
          "table": {
            "__rl": true,
            "value": "tblkazcIqMkDoISu7",
            "mode": "id"
          },
          "returnAll": false,
          "limit": 20,
          "options": {}
        },
        "id": "ba6f6a3a-0349-423e-962c-6f13ed8ee40d",
        "name": "Fetch Queue Records",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          480,
          208
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "RoOhi6fE6lI3cI1c",
            "name": "Airtable Personal Access Token account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\n\nconst signals = allItems.map(item => ({\n  company: item.json.Company || 'Unknown',\n  headline: item.json['Signal Detail'] || '',\n  summary: item.json['Outreach Angle'] || '',\n  url: item.json['Source URL'] || '',\n  actionability: item.json.Actionability || 1,\n  state: item.json.Location || '',\n  mw: item.json.MW || '',\n  contact: item.json.Contact || ''\n}));\n\nsignals.sort((a, b) => b.actionability - a.actionability);\n\nconst seen = new Set();\nconst deduped = signals.filter(s => {\n  if (!s.url || seen.has(s.url)) return false;\n  seen.add(s.url);\n  return true;\n});\n\nreturn [{ json: { signals: deduped } }];"
        },
        "id": "8afcebb4-1f75-4fe2-81f0-b3bf64cbf202",
        "name": "Prep Signals",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          48
        ]
      },
      {
        "parameters": {
          "jsCode": "const records = $input.all().map(r => ({\n  id: r.json['Queue ID'] || '',\n  mw: r.json['Capacity (MW)'] || '',\n  type: r.json.Technology || '',\n  state: r.json.State || '',\n  county: r.json.County || '',\n  score: r.json.Score || '',\n  developer: r.json.Developer || '',\n  status: r.json['Queue Status'] || ''\n}));\n\nreturn [{ json: { queueRecords: records } }];"
        },
        "id": "13d3b9ff-b86a-486f-9b7b-2c691341dba7",
        "name": "Prep Queue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const signals = $('Aggregate Enrichment').first().json.signals;\n\nconst prompt = 'You are writing the NexPhase Advisory Daily Market Signals Brief for Chris Santiago, a power origination and interconnection expert with two decades of experience, 5+ GW delivered to NTP across CAISO, PJM, MISO, ERCOT, and WECC.\\n\\n'\n+ 'Each signal has a \"sophistication\" field from web-search research of that company power procurement capability: SOPHISTICATED (has in-house power origination/interconnection capability, likely large interconnection positions and executed PPAs), DEVELOPING (building capability), NEEDS HELP (no apparent capability), or UNKNOWN (not researched).\\n\\n'\n+ 'CRITICAL RULES for \"The Angle\":\\n'\n+ '- Do NOT suggest a company needs outside help if it is flagged SOPHISTICATED.\\n'\n+ '- SOPHISTICATED -> The Angle = what does this signal tell me about MARKET DIRECTION (where capital and power demand are moving), NOT what can I sell them.\\n'\n+ '- NEEDS HELP -> The Angle = what is the specific capability gap and how would I approach them (engagement path).\\n'\n+ '- DEVELOPING or UNKNOWN -> be measured: note what would confirm the need before pitching; never assert they need help.\\n\\n'\n+ 'Today signals (sorted by actionability):\\n' + JSON.stringify(signals, null, 2)\n+ '\\n\\nFor EACH signal generate:\\n1. summary: one factual sentence of what happened\\n2. read: one analytical sentence (the so-what for a power professional)\\n3. angle: 2-4 sentences in first-person voice as Chris, RESPECTING the sophistication rules above.\\n\\n'\n+ 'Also generate:\\n- bottomLine: 3-5 sentences on today center of gravity across all signals\\n- actOn: 2-3 sentences on the 1-2 specific companies worth a call or DM today and why\\n\\n'\n+ 'Return ONLY valid JSON, no other text:\\n{\"bottomLine\":\"...\",\"actOn\":\"...\",\"signals\":[{\"company\":\"...\",\"summary\":\"...\",\"read\":\"...\",\"angle\":\"...\"}]}';\n\nreturn [{ json: { prompt, signals } }];"
        },
        "id": "d01ddb34-d509-401c-984a-c8ca7f646eb4",
        "name": "Build Claude Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 16000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
          "options": {}
        },
        "id": "ce7f9907-77fe-44ae-b456-879f1bc44874",
        "name": "Claude Editorial",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1200,
          96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "FJA7PZjCaMHaj0Ir",
            "name": "Header Auth Claude API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const claudeResp = $input.first().json;\nconst signals = $('Build Claude Prompt').first().json.signals;\nlet queueRecords;\ntry {\n  queueRecords = $('Prep Queue').first().json.queueRecords || [];\n} catch (e) {\n  queueRecords = [];\n}\n\nlet editorial = { bottomLine: '', actOn: '', signals: [] };\ntry {\n  const content = claudeResp.content || [];\n  const rawText = (content[0] && content[0].text) ? content[0].text : '{}';\n  const text = rawText.replace(/```json|```/g, '').trim();\n  editorial = JSON.parse(text);\n} catch(e) {\n  editorial.bottomLine = 'Editorial generation error. Review signals manually.';\n  editorial.actOn = 'Manual review required.';\n  editorial.signals = signals.map(s => ({ company: s.company, summary: s.headline, read: s.summary, angle: '' }));\n}\n\nconst now = new Date();\nconst TZ = 'America/New_York';\nconst weekday = now.toLocaleDateString('en-US', { weekday: 'long', timeZone: TZ });\nconst monthDayYear = now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: TZ });\nconst dateStr = weekday + ' &middot; ' + monthDayYear;\nconst issueNum = Math.floor((now - new Date('2025-01-01')) / (1000 * 60 * 60 * 24));\n\nfunction actionBadge(score) {\n  const n = parseInt(score);\n  if (n >= 4) return 'background:#C2410C;color:#ffffff';\n  if (n === 3) return 'background:#E6EEF2;color:#0E3A53';\n  return 'background:#EDF1F5;color:#5A6B7B';\n}\n\nlet signalBlocks = '';\nsignals.forEach((sig, i) => {\n  const ed = editorial.signals[i] || { summary: sig.headline, read: sig.summary, angle: '' };\n  const badge = actionBadge(sig.actionability);\n  const stateStr = sig.state ? '&nbsp;&nbsp;' + sig.state.toUpperCase() : '';\n  const mwStr = sig.mw ? ' &middot; ' + sig.mw + ' MW' : '';\n  const contactBadge = sig.contact ? '&nbsp;<span style=\"font-family:Arial,Helvetica,sans-serif;font-size:9px;font-weight:bold;padding:3px 8px;border-radius:2px;background:#0E3A53;color:#fff;\">' + sig.contact + '</span>' : '';\n  signalBlocks += '<tr><td style=\"padding:22px 0 0;border-top:1px solid #EDF1F5;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr><td width=\"34\" valign=\"top\" style=\"font-family:Georgia,serif;font-size:20px;color:#8A99A8;font-weight:bold;padding-right:8px;\">' + (i+1) + '</td><td valign=\"top\"><div style=\"margin-bottom:6px;\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:15px;color:#0B1B2B;\">' + sig.company + '</span><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#5A6B7B;letter-spacing:0.5px;\">' + stateStr + mwStr + '</span>&nbsp;<span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:9px;letter-spacing:0.5px;padding:3px 8px;border-radius:2px;' + badge + '\">&nbsp;ACTIONABILITY ' + sig.actionability + '&nbsp;</span>' + contactBadge + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.45;margin-bottom:8px;\"><a href=\"' + sig.url + '\" style=\"color:#0E3A53;text-decoration:underline;\">' + (ed.summary || sig.headline) + '</a></div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:1.5;color:#5A6B7B;margin-bottom:10px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:1px;color:#C2410C;text-transform:uppercase;\">Read&nbsp;&nbsp;</span>' + (ed.read || sig.summary) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"background:#F7F5F0;border-left:3px solid #0E3A53;padding:12px 16px;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:1.5;color:#28384A;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:1px;color:#0E3A53;text-transform:uppercase;font-weight:bold;\">The Angle&nbsp;&nbsp;</span>' + (ed.angle || '') + '</td></tr></table></td></tr></table></td></tr>';\n});\n\nlet queueBlocks = '';\nqueueRecords.slice(0, 4).forEach(q => {\n  if (!q.id) return;\n  queueBlocks += '<td width=\"50%\" valign=\"top\" style=\"padding:0 8px 12px 0;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:11px;font-weight:bold;color:#0E3A53;\">' + q.id + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#5A6B7B;margin-top:3px;\">' + (q.mw ? q.mw + ' MW ' : '') + q.type + ' &middot; ' + (q.county ? q.county + ', ' : '') + q.state + ' &middot; Score ' + q.score + '</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#8A99A8;margin-top:2px;\">' + q.developer + ' &middot; ' + q.status + '</div></td>';\n});\n\nconst queueSection = queueRecords.length > 0 ? '<tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-bottom:2px solid #DCE3EA;padding-bottom:7px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#C2410C;font-weight:bold;\">02&nbsp;&nbsp;</span><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;color:#0B1B2B;\">Queue Spotlight</span></td></tr></table><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:14px;\"><tr>' + queueBlocks + '</tr></table></td></tr>' : '';\n\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>NexPhase Advisory Daily Brief</title></head><body style=\"margin:0;padding:0;background:#EEF1F4;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EEF1F4;\"><tr><td align=\"center\" style=\"padding:24px 12px;\"><table role=\"presentation\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:640px;max-width:640px;background:#ffffff;border-collapse:collapse;\"><tr><td style=\"padding:28px 32px 14px;border-bottom:2px solid #0B1B2B;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td valign=\"middle\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;color:#0B1B2B;\">Nex<span style=\"color:#C2410C;\">Phase</span> Advisory</span><br><span style=\"font-family:\\'Courier New\\',monospace;font-size:8px;letter-spacing:2px;color:#8A99A8;text-transform:uppercase;\">Power Origination &middot; Interconnection &middot; Strategy</span></td><td valign=\"middle\" align=\"right\"><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:10px;letter-spacing:1px;color:#C2410C;text-transform:uppercase;\">Daily Market Signals Brief</span><br><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#5A6B7B;\">' + dateStr + '</span></td></tr></table></td></tr><tr><td style=\"padding:26px 32px 6px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:10px;letter-spacing:2px;color:#C2410C;text-transform:uppercase;margin-bottom:10px;\">Issue No. ' + issueNum + ' &middot; US Data Center Power</div><div style=\"font-family:Georgia,\\'Times New Roman\\',serif;font-size:28px;line-height:1.1;color:#0B1B2B;font-weight:normal;\">The morning <em style=\"color:#0E3A53;\">read</em> on power-constrained demand.</div><div style=\"font-family:Georgia,serif;font-size:15px;line-height:1.45;color:#28384A;margin-top:12px;\">' + signals.length + ' developments worth a power developer&rsquo;s attention today, ranked by where an independent originator can actually create value.</div></td></tr><tr><td style=\"padding:18px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#F7F5F0;border-left:3px solid #C2410C;padding:16px 20px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:2px;color:#C2410C;text-transform:uppercase;margin-bottom:8px;\">Bottom Line</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#0B1B2B;\">' + editorial.bottomLine + '</div></td></tr></table></td></tr><tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-bottom:2px solid #DCE3EA;padding-bottom:7px;\"><span style=\"font-family:\\'Courier New\\',monospace;font-size:10px;color:#C2410C;font-weight:bold;\">01&nbsp;&nbsp;</span><span style=\"font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;color:#0B1B2B;\">Ranked by actionability</span></td></tr></table></td></tr><tr><td style=\"padding:0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">' + signalBlocks + '</table></td></tr><tr><td style=\"padding:24px 32px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#0E3A53;padding:20px 24px;\"><div style=\"font-family:\\'Courier New\\',monospace;font-size:9px;letter-spacing:2px;color:#7FB2C9;text-transform:uppercase;margin-bottom:8px;\">What I&rsquo;d Act On</div><div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#EAF2F6;\">' + editorial.actOn + '</div></td></tr></table></td></tr>' + queueSection + '<tr><td style=\"padding:24px 32px 28px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-top:1px solid #DCE3EA;padding-top:10px;font-family:\\'Courier New\\',monospace;font-size:9px;line-height:1.6;color:#8A99A8;\">NexPhase Advisory &middot; Compiled from public sources &middot; Informational use only &middot; Not investment advice</td></tr></table></td></tr></table></td></tr></table></body></html>';\n\nconsole.log('Build HTML Brief html length:', html.length);\nreturn [{ json: { html, dateStr, signalCount: signals.length } }];"
        },
        "id": "dd4f0070-b699-47aa-971d-68d2b62b54a7",
        "name": "Build HTML Brief",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          96
        ]
      },
      {
        "parameters": {
          "fromEmail": "NexPhase Advisory <info@nexphaseadvisory.net>",
          "toEmail": "santiago4801@hotmail.com",
          "subject": "=NexPhase Daily Brief — {{ $json.dateStr.replace(/&middot;/g, '·') }}",
          "html": "={{ $json.html }}",
          "options": {}
        },
        "id": "46228ff0-cb2d-4a18-9d9a-d301fbdbc5fc",
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1680,
          16
        ],
        "webhookId": "9b6fbfca-6bf9-4783-98ae-63897a1efbf7",
        "credentials": {
          "smtp": {
            "id": "lZS1lrkShDRNKKJm",
            "name": "SMTP Info@nexphaseadvisory.net"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\nconst html = $input.first().json.html;\nconst now = new Date();\nconst dateFile = now.toISOString().slice(0, 10);\nconst dir = path.join(os.homedir(), 'nexphase-reports', 'daily');\nconst filePath = path.join(dir, dateFile + '.html');\nconst latestPath = path.join(dir, 'latest.html');\ntry {\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(filePath, html, 'utf8');\n  fs.writeFileSync(latestPath, html, 'utf8');\n  return [{ json: { success: true, filePath } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
        },
        "id": "a3926853-1102-4617-9ac4-32f9b876fd45",
        "name": "Write HTML File",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          176
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "f085d46b-103f-4fbf-88ae-5a49e9a2a5f0",
        "name": "Merge Editorial + Queue",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1344,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Take top N signals for per-company web-search enrichment (capped for runtime/cost).\nconst LIMIT = 3;\nconst signals = ($('Prep Signals').first().json.signals) || [];\nconst out = [];\nsignals.slice(0, LIMIT).forEach((s, i) => {\n  out.push({ json: { idx: i, company: s.company, headline: s.headline } });\n});\nreturn out;"
        },
        "id": "5a543cab-80d5-4f52-9d30-16fb24ff1a18",
        "name": "Split Signals",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, tools: [{ type: 'web_search_20250305', name: 'web_search', max_uses: 5 }], messages: [{ role: 'user', content: 'Search for current information about the company ' + $json.company + ', referenced in this energy/data-center market signal headline: \\\"' + ($json.headline || '') + '\\\". Research THAT company (an energy, power, data center, or infrastructure company), not a similarly-named business in an unrelated industry. Specifically: Do they have an in-house power origination or interconnection team? Have they executed any PPAs or interconnection agreements recently? Are they a sophisticated energy developer or a first-time entrant? Return a 2-sentence summary of their power procurement sophistication level: SOPHISTICATED (has in-house capability), DEVELOPING (building capability), or NEEDS HELP (no apparent capability). Start your answer with the label in caps (SOPHISTICATED, DEVELOPING, or NEEDS HELP).' }] }) }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1
              }
            },
            "timeout": 60000
          }
        },
        "id": "a6efd28f-1e3d-48d5-b9bd-1ae3e0a329a1",
        "name": "Enrich Signals with Web Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          992,
          -128
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 3000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "FJA7PZjCaMHaj0Ir",
            "name": "Header Auth Claude API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Map web-search enrichment back onto the full signals array (by original index).\nconst responses = $input.all();\nconst splitItems = $('Split Signals').all();\nconst signals = (($('Prep Signals').first().json.signals) || []).map(s => ({ ...s }));\nfunction parseLevel(text){ const t=(text||'').toUpperCase();\n  const labels=['NEEDS HELP','SOPHISTICATED','DEVELOPING'];\n  let best='UNKNOWN', bestPos=Infinity;\n  labels.forEach(l => { const p=t.indexOf(l); if(p>=0 && p<bestPos){ bestPos=p; best=l; } });\n  return best; }\nfor (let i=0;i<responses.length;i++){\n  const sp = splitItems[i] ? splitItems[i].json : {};\n  const idx = (sp.idx != null) ? sp.idx : -1;\n  const content = (responses[i].json && responses[i].json.content) || [];\n  const text = content.filter(b => b.type === 'text').map(b => b.text).join(' ').trim();\n  if (idx>=0 && signals[idx]){ signals[idx].sophistication = parseLevel(text); signals[idx].enrichment = text.slice(0,400); }\n}\nsignals.forEach(s => { if(!s.sophistication){ s.sophistication='UNKNOWN'; s.enrichment=''; } });\nconsole.log('Enrichment levels:', signals.map(s => s.company + '=' + s.sophistication).join(' | '));\nreturn [{ json: { signals } }];"
        },
        "id": "c39c1047-c74c-4b78-a52d-0f0ebced06b9",
        "name": "Aggregate Enrichment",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1152,
          -128
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "nexphase-daily-brief",
          "authentication": "headerAuth",
          "options": {}
        },
        "id": "11b50bb6-a5fe-4533-b004-04988a8eb6f6",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          272
        ],
        "webhookId": "d296e20d-e579-4148-9be4-a110ebef84ad",
        "credentials": {
          "httpHeaderAuth": {
            "id": "SreCeQNb5uXikMw4",
            "name": "NexPhase Webhook Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Dedup editorial articles by company name — case-insensitive, strips legal suffixes.\n// Mirrors the Lead Generator dedup normalization. Sits after \"Merge Editorial + Queue\",\n// before \"Build HTML Brief\". Non-editorial items (queue) pass through untouched.\nconst norm = s => String(s || '').toLowerCase()\n  .replace(/\\b(llc|inc|corp|ltd|lp|llp|pllc|co\\.|company|group|holdings|renewables|energy|power|data centers?|digital)\\b/g, '')\n  .replace(/[^a-z0-9]+/g, ' ').trim();\n\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  if (Array.isArray(j.content)) {\n    // Claude editorial response — dedupe its signals array\n    let editorial;\n    try {\n      const raw = (j.content[0] && j.content[0].text) ? j.content[0].text : '{}';\n      editorial = JSON.parse(raw.replace(/```json|```/g, '').trim());\n    } catch (e) {\n      out.push(item);            // unparseable — leave untouched\n      continue;\n    }\n    if (Array.isArray(editorial.signals)) {\n      const seen = new Set();\n      editorial.signals = editorial.signals.filter(s => {\n        const key = norm(s && s.company);\n        if (!key) return true;             // keep unkeyable entries\n        if (seen.has(key)) return false;   // drop duplicate company\n        seen.add(key);\n        return true;\n      });\n      j.content = [{ ...j.content[0], text: JSON.stringify(editorial) }, ...j.content.slice(1)];\n    }\n    out.push({ json: j });\n  } else {\n    out.push(item);              // queue / other items pass through\n  }\n}\nreturn out;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          208
        ],
        "id": "d3d11a22-3344-4d55-8e66-77f889900aa1",
        "name": "Dedup Articles"
      }
    ],
    "connections": {
      "Run Manually": {
        "main": [
          [
            {
              "node": "Fetch Today Signals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Queue Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Weekdays 6am (inactive)": {
        "main": [
          [
            {
              "node": "Fetch Today Signals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Queue Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Today Signals": {
        "main": [
          [
            {
              "node": "Prep Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Queue Records": {
        "main": [
          [
            {
              "node": "Prep Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Signals": {
        "main": [
          [
            {
              "node": "Split Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Queue": {
        "main": [
          [
            {
              "node": "Merge Editorial + Queue",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Build Claude Prompt": {
        "main": [
          [
            {
              "node": "Claude Editorial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Editorial": {
        "main": [
          [
            {
              "node": "Merge Editorial + Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build HTML Brief": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write HTML File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Editorial + Queue": {
        "main": [
          [
            {
              "node": "Dedup Articles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Signals": {
        "main": [
          [
            {
              "node": "Enrich Signals with Web Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrich Signals with Web Search": {
        "main": [
          [
            {
              "node": "Aggregate Enrichment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Enrichment": {
        "main": [
          [
            {
              "node": "Build Claude Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Fetch Today Signals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Queue Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup Articles": {
        "main": [
          [
            {
              "node": "Build HTML Brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Chris  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-10T18:58:12.089Z",
        "id": 43,
        "workflowId": "qYqkBqqVCqLXV0nk",
        "versionId": "323d4880-7218-4164-8b04-a217214c9b8f",
        "event": "activated",
        "userId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
      },
      {
        "createdAt": "2026-06-10T18:58:12.014Z",
        "id": 42,
        "workflowId": "qYqkBqqVCqLXV0nk",
        "versionId": "323d4880-7218-4164-8b04-a217214c9b8f",
        "event": "deactivated",
        "userId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
      }
    ]
  }
}
