ferc-tariff-tracker-Cv9G0z10BjwlmrLg.workflow.json
{
    "updatedAt": "2026-06-19T05:23:17.347Z",
    "createdAt": "2026-06-19T02:07:27.504Z",
    "id": "Cv9G0z10BjwlmrLg",
    "name": "Interconnect - FERC Tariff Tracker",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "fd1e7fb5-c677-47d1-9664-2d29a34f9994",
            "name": "Daily 6AM ET",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -736,
                272
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build rolling 2-day filed-date window (yesterday 00:00 -> today 23:59 UTC).\n// FERC posts on a ~1 business day lag; 2-day window absorbs weekend/holiday catch-up.\nconst now = new Date();\nconst end = new Date(now);\nend.setUTCHours(23, 59, 59, 0);\nconst start = new Date(now);\nstart.setUTCDate(start.getUTCDate() - 1);\nstart.setUTCHours(0, 0, 0, 0);\n\nconst body = {\n  docketSearches: [],\n  searchText: 'interconnection OR \"large load\" OR co-location OR colocation OR \"data center\" OR \"queue reform\" OR \"cost allocation\" OR \"generator interconnection\" OR \"surplus interconnection service\" OR \"network upgrade\" OR \"affected system\" OR \"energy storage\"',\n  searchFullText: true,\n  searchDescription: true,\n  allDates: false,\n  dateSearches: [\n    { dateType: 'filed_date', startDate: start.toISOString(), endDate: end.toISOString() }\n  ],\n  classTypes: [],\n  affiliations: [],\n  availability: ['p'],\n  categories: ['Submittal', 'Issuance'],\n  libraries: ['Electric'],\n  eFiling: false,\n  sortBy: '',\n  groupBy: 'NONE',\n  resultsPerPage: 100,\n  curPage: 1,\n  idolResultID: '',\n  accessionNumber: null\n};\n\nreturn [{ json: { body, windowStart: start.toISOString(), windowEnd: end.toISOString() } }];"
            },
            "id": "db7c83a9-9a8b-471e-a9ae-7158caa2468c",
            "name": "Build Search Body",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -512,
                272
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://elibrary.ferc.gov/eLibrarywebapi/api/Search/AdvancedSearch",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.body) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true,
                            "responseFormat": "json"
                        }
                    },
                    "timeout": 30000
                }
            },
            "id": "837688be-79c5-45d3-a0a0-06d4500d1d09",
            "name": "FERC eLibrary Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -304,
                272
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "leftValue": "={{ $json.success === true }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "26b8d477-3f4f-4011-bc75-cbe0d91a5e7f",
            "name": "Search OK?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -80,
                272
            ]
        },
        {
            "parameters": {
                "jsCode": "// Keyword pre-filter: cheap regex gate before spending Claude tokens.\nconst KEYWORDS = [\n  'interconnection', 'large load', 'co-location', 'colocation', 'data center',\n  'queue reform', 'cost allocation', 'generator interconnection',\n  'surplus interconnection service', 'gia', 'lgia', 'affected system',\n  'network upgrade', 'point of interconnection', 'energy storage'\n];\nconst rx = new RegExp(KEYWORDS.map(k => k.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')).join('|'), 'i');\n\nconst resp = $input.first().json;\nconst hits = Array.isArray(resp.searchHits) ? resp.searchHits : [];\nconst out = [];\nfor (const h of hits) {\n  const hay = `${h.description || ''} ${(h.docketNumbers || []).join(' ')}`;\n  if (!rx.test(hay)) continue;\n  const acc = h.acesssionNumber || h.accessionNumber || ''; // source misspells this key\n  out.push({\n    json: {\n      docketNumbers: h.docketNumbers || [],\n      docketNo: (h.docketNumbers || [])[0] || '',\n      accessionNumber: acc,\n      description: h.description || '',\n      category: h.category || '',\n      filedDate: h.filedDate || '',\n      issuedDate: h.issuedDate || '',\n      affiliations: h.affiliations || [],\n      eLibraryUrl: acc ? `https://elibrary.ferc.gov/eLibrary/filelist?accession_number=${acc}` : ''\n    }\n  });\n}\nreturn out;"
            },
            "id": "6c23d713-d009-4e82-a9f1-de5601d3fd3c",
            "name": "Keyword Pre-Filter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                144,
                160
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "base": {
                    "__rl": true,
                    "value": "appoTkXUnQ9aulmkE",
                    "mode": "id",
                    "cachedResultName": "DC Job Search"
                },
                "table": {
                    "__rl": true,
                    "value": "tbl0kKoDhF4reTg8T",
                    "mode": "id",
                    "cachedResultName": "FERC Tariff Tracker"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "matchingColumns": [
                        "fld7RqzCNA0XqS2Yi"
                    ],
                    "value": {
                        "fldz45OoqOViHqpmA": "={{ $json.docketNo }}",
                        "fld7RqzCNA0XqS2Yi": "={{ $json.accessionNumber }}",
                        "fld7f4mtVZupfrCHb": "={{ $json.description }}",
                        "fldsaQjpHxzYaYhIv": "={{ $json.category }}",
                        "fldgZB1QIVj0q379c": "={{ $json.filedDate }}",
                        "flds1wDSbQqqFovH2": "={{ $json.filer }}",
                        "fld3zZoYBq50CP4Mi": "={{ $json.iso }}",
                        "fldg33XhryMhBTKRC": "={{ $json.theme }}",
                        "fldaDKAJVGbQSuRqd": "={{ $json.score }}",
                        "fldJGgrch0SqFnHgi": "={{ $json.one_line }}",
                        "fldlvVKEnU2P3MYBG": "={{ $json.eLibraryUrl }}",
                        "fldt6eo6cs6TDWvYb": "New"
                    }
                },
                "options": {
                    "typecast": true
                }
            },
            "id": "c80c9521-c58f-43ae-98f1-1ace9b170f3a",
            "name": "Airtable: FERC Tariff Tracker",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                816,
                160
            ],
            "credentials": {
                "airtableTokenApi": {
                    "id": "RoOhi6fE6lI3cI1c",
                    "name": "Airtable Personal Access Token account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Failure branch: FERC ingest failed. Emit a Daily Brief alert payload.\nconst err = $input.first().json;\nreturn [{ json: {\n  alert: 'FERC_INGEST_FAILED',\n  message: 'FERC eLibrary tariff ingest failed - check manually. The eLibrary backend is unofficial and may have changed shape or rate-limited.',\n  httpCode: err.statusCode || err.code || 'unknown',\n  ts: new Date().toISOString()\n} }];"
            },
            "id": "bd72891e-1571-4979-a4d3-cae65ebd0ef9",
            "name": "Ingest Failed Alert",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                144,
                400
            ]
        },
        {
            "parameters": {
                "fromEmail": "NexPhase Advisory <info@nexphaseadvisory.net>",
                "toEmail": "santiago4801@hotmail.com",
                "subject": "=[NexPhase] FERC tariff ingest FAILED \u2014 {{ $json.ts }}",
                "emailFormat": "text",
                "text": "=FERC eLibrary tariff ingest FAILED.\n\n{{ $json.message }}\n\nHTTP code: {{ $json.httpCode }}\nTime: {{ $json.ts }}\n\nThe eLibrary AdvancedSearch endpoint is unofficial and may have changed shape or rate-limited. Check the 'Interconnect - FERC Tariff Tracker' workflow (Cv9G0z10BjwlmrLg) \u2192 'FERC eLibrary Search' node, then re-run.",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                384,
                400
            ],
            "name": "Email Ingest Failure",
            "id": "a7f3c2e1-9b4d-4c6a-8e2f-1d5b0a3c7e94",
            "credentials": {
                "smtp": {
                    "id": "lZS1lrkShDRNKKJm",
                    "name": "SMTP Info@nexphaseadvisory.net"
                }
            },
            "webhookId": "b7a91c24-5da0-46b6-8492-422b42260ccb"
        },
        {
            "parameters": {
                "jsCode": "const SYS = 'You score FERC electric tariff filings for relevance to The Interconnect, a weekly publication read by renewable/storage developers, IPPs, and data-center power buyers. Score 1-5 for how much this filing matters to that audience. 5 = major queue reform, large-load/co-location policy, or cost-allocation shift with broad market impact. 1 = routine single-party rate tweak. Respond with ONLY a JSON object, no preamble, no markdown: {\"score\":1-5,\"iso\":\"PJM|MISO|SPP|CAISO|NYISO|ISO-NE|multi|n/a\",\"theme\":\"queue reform|large load|cost allocation|colocation|other\",\"one_line\":\"<=20 words plain English\"}';\nconst out = [];\nfor (const it of $input.all()) {\n  const f = it.json;\n  const userMsg = `Docket: ${f.docketNo}\\nCategory: ${f.category}\\nFiled: ${f.filedDate}\\nDescription: ${f.description}`;\n  out.push({ json: { ...f, _claudeBody: { model: 'claude-sonnet-4-6', max_tokens: 300, system: SYS, messages: [{ role: 'user', content: userMsg }] } } });\n}\nreturn out;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                368,
                160
            ],
            "name": "Build Claude Body",
            "id": "b1c2d3e4-0001-4a11-8b22-aa0000000001"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json._claudeBody) }}",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1
                        }
                    },
                    "timeout": 30000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                588,
                160
            ],
            "name": "Claude Score",
            "id": "b1c2d3e4-0002-4a11-8b22-aa0000000002",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "FJA7PZjCaMHaj0Ir",
                    "name": "Header Auth Claude API"
                }
            },
            "onError": "continueRegularOutput",
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsCode": "const toISO = (s) => { if (!s) return ''; const m = String(s).match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/); return m ? `${m[3]}-${m[1].padStart(2,'0')}-${m[2].padStart(2,'0')}` : String(s); };\nconst claude = $input.all();\nconst filings = $('Build Claude Body').all();\nconst out = [];\nfor (let i = 0; i < claude.length; i++) {\n  const r = claude[i].json;\n  const f = (filings[i] && filings[i].json) || {};\n  let parsed = null;\n  try {\n    const txt = (r.content || []).filter(b => b.type === 'text').map(b => b.text).join('').replace(/```json|```/g, '').trim();\n    parsed = JSON.parse(txt);\n  } catch (e) { continue; }\n  if (!parsed || typeof parsed.score !== 'number' || parsed.score <= 2) continue;\n  const aff = Array.isArray(f.affiliations) ? (f.affiliations.find(a => a.afType === 'author') || {}) : {};\n  out.push({ json: {\n    docketNo: f.docketNo, accessionNumber: f.accessionNumber, description: f.description,\n    category: f.category, filedDate: toISO(f.filedDate), issuedDate: toISO(f.issuedDate), eLibraryUrl: f.eLibraryUrl,\n    filer: aff.affiliation || '', score: parsed.score, iso: parsed.iso, theme: parsed.theme, one_line: parsed.one_line\n  } });\n}\nreturn out;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                808,
                160
            ],
            "name": "Parse + Merge",
            "id": "b1c2d3e4-0003-4a11-8b22-aa0000000003"
        }
    ],
    "connections": {
        "Daily 6AM ET": {
            "main": [
                [
                    {
                        "node": "Build Search Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Search Body": {
            "main": [
                [
                    {
                        "node": "FERC eLibrary Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FERC eLibrary Search": {
            "main": [
                [
                    {
                        "node": "Search OK?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Ingest Failed Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search OK?": {
            "main": [
                [
                    {
                        "node": "Keyword Pre-Filter",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Ingest Failed Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Keyword Pre-Filter": {
            "main": [
                [
                    {
                        "node": "Build Claude Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ingest Failed Alert": {
            "main": [
                [
                    {
                        "node": "Email Ingest Failure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Claude Body": {
            "main": [
                [
                    {
                        "node": "Claude Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Score": {
            "main": [
                [
                    {
                        "node": "Parse + Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse + Merge": {
            "main": [
                [
                    {
                        "node": "Airtable: FERC Tariff Tracker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": {
        "node:Daily 6AM ET": {
            "recurrenceRules": []
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "2f111164-e4f0-4ca6-a9c2-db4b47d3010d",
    "activeVersionId": "2f111164-e4f0-4ca6-a9c2-db4b47d3010d",
    "versionCounter": 9,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "shared": [
        {
            "updatedAt": "2026-06-19T02:07:27.507Z",
            "createdAt": "2026-06-19T02:07:27.507Z",
            "role": "workflow:owner",
            "workflowId": "Cv9G0z10BjwlmrLg",
            "projectId": "yyu8mrsL1yrdUgiZ",
            "project": {
                "updatedAt": "2026-05-07T03:46:52.701Z",
                "createdAt": "2026-05-07T03:46:45.027Z",
                "id": "yyu8mrsL1yrdUgiZ",
                "name": "Chris   <santiago4801@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "customTelemetryTags": [],
                "creatorId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-06-19T05:23:17.359Z",
        "createdAt": "2026-06-19T05:23:17.359Z",
        "versionId": "2f111164-e4f0-4ca6-a9c2-db4b47d3010d",
        "workflowId": "Cv9G0z10BjwlmrLg",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 6 * * *"
                            }
                        ]
                    }
                },
                "id": "fd1e7fb5-c677-47d1-9664-2d29a34f9994",
                "name": "Daily 6AM ET",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    -736,
                    272
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Build rolling 2-day filed-date window (yesterday 00:00 -> today 23:59 UTC).\n// FERC posts on a ~1 business day lag; 2-day window absorbs weekend/holiday catch-up.\nconst now = new Date();\nconst end = new Date(now);\nend.setUTCHours(23, 59, 59, 0);\nconst start = new Date(now);\nstart.setUTCDate(start.getUTCDate() - 1);\nstart.setUTCHours(0, 0, 0, 0);\n\nconst body = {\n  docketSearches: [],\n  searchText: 'interconnection OR \"large load\" OR co-location OR colocation OR \"data center\" OR \"queue reform\" OR \"cost allocation\" OR \"generator interconnection\" OR \"surplus interconnection service\" OR \"network upgrade\" OR \"affected system\" OR \"energy storage\"',\n  searchFullText: true,\n  searchDescription: true,\n  allDates: false,\n  dateSearches: [\n    { dateType: 'filed_date', startDate: start.toISOString(), endDate: end.toISOString() }\n  ],\n  classTypes: [],\n  affiliations: [],\n  availability: ['p'],\n  categories: ['Submittal', 'Issuance'],\n  libraries: ['Electric'],\n  eFiling: false,\n  sortBy: '',\n  groupBy: 'NONE',\n  resultsPerPage: 100,\n  curPage: 1,\n  idolResultID: '',\n  accessionNumber: null\n};\n\nreturn [{ json: { body, windowStart: start.toISOString(), windowEnd: end.toISOString() } }];"
                },
                "id": "db7c83a9-9a8b-471e-a9ae-7158caa2468c",
                "name": "Build Search Body",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -512,
                    272
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://elibrary.ferc.gov/eLibrarywebapi/api/Search/AdvancedSearch",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "content-type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.body) }}",
                    "options": {
                        "response": {
                            "response": {
                                "neverError": true,
                                "responseFormat": "json"
                            }
                        },
                        "timeout": 30000
                    }
                },
                "id": "837688be-79c5-45d3-a0a0-06d4500d1d09",
                "name": "FERC eLibrary Search",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -304,
                    272
                ],
                "onError": "continueErrorOutput"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": false,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 2
                        },
                        "combinator": "and",
                        "conditions": [
                            {
                                "leftValue": "={{ $json.success === true }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true",
                                    "singleValue": true
                                }
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "26b8d477-3f4f-4011-bc75-cbe0d91a5e7f",
                "name": "Search OK?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    -80,
                    272
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Keyword pre-filter: cheap regex gate before spending Claude tokens.\nconst KEYWORDS = [\n  'interconnection', 'large load', 'co-location', 'colocation', 'data center',\n  'queue reform', 'cost allocation', 'generator interconnection',\n  'surplus interconnection service', 'gia', 'lgia', 'affected system',\n  'network upgrade', 'point of interconnection', 'energy storage'\n];\nconst rx = new RegExp(KEYWORDS.map(k => k.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')).join('|'), 'i');\n\nconst resp = $input.first().json;\nconst hits = Array.isArray(resp.searchHits) ? resp.searchHits : [];\nconst out = [];\nfor (const h of hits) {\n  const hay = `${h.description || ''} ${(h.docketNumbers || []).join(' ')}`;\n  if (!rx.test(hay)) continue;\n  const acc = h.acesssionNumber || h.accessionNumber || ''; // source misspells this key\n  out.push({\n    json: {\n      docketNumbers: h.docketNumbers || [],\n      docketNo: (h.docketNumbers || [])[0] || '',\n      accessionNumber: acc,\n      description: h.description || '',\n      category: h.category || '',\n      filedDate: h.filedDate || '',\n      issuedDate: h.issuedDate || '',\n      affiliations: h.affiliations || [],\n      eLibraryUrl: acc ? `https://elibrary.ferc.gov/eLibrary/filelist?accession_number=${acc}` : ''\n    }\n  });\n}\nreturn out;"
                },
                "id": "6c23d713-d009-4e82-a9f1-de5601d3fd3c",
                "name": "Keyword Pre-Filter",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    144,
                    160
                ]
            },
            {
                "parameters": {
                    "operation": "upsert",
                    "base": {
                        "__rl": true,
                        "value": "appoTkXUnQ9aulmkE",
                        "mode": "id",
                        "cachedResultName": "DC Job Search"
                    },
                    "table": {
                        "__rl": true,
                        "value": "tbl0kKoDhF4reTg8T",
                        "mode": "id",
                        "cachedResultName": "FERC Tariff Tracker"
                    },
                    "columns": {
                        "mappingMode": "defineBelow",
                        "matchingColumns": [
                            "fld7RqzCNA0XqS2Yi"
                        ],
                        "value": {
                            "fldz45OoqOViHqpmA": "={{ $json.docketNo }}",
                            "fld7RqzCNA0XqS2Yi": "={{ $json.accessionNumber }}",
                            "fld7f4mtVZupfrCHb": "={{ $json.description }}",
                            "fldsaQjpHxzYaYhIv": "={{ $json.category }}",
                            "fldgZB1QIVj0q379c": "={{ $json.filedDate }}",
                            "flds1wDSbQqqFovH2": "={{ $json.filer }}",
                            "fld3zZoYBq50CP4Mi": "={{ $json.iso }}",
                            "fldg33XhryMhBTKRC": "={{ $json.theme }}",
                            "fldaDKAJVGbQSuRqd": "={{ $json.score }}",
                            "fldJGgrch0SqFnHgi": "={{ $json.one_line }}",
                            "fldlvVKEnU2P3MYBG": "={{ $json.eLibraryUrl }}",
                            "fldt6eo6cs6TDWvYb": "New"
                        }
                    },
                    "options": {
                        "typecast": true
                    }
                },
                "id": "c80c9521-c58f-43ae-98f1-1ace9b170f3a",
                "name": "Airtable: FERC Tariff Tracker",
                "type": "n8n-nodes-base.airtable",
                "typeVersion": 2.1,
                "position": [
                    816,
                    160
                ],
                "credentials": {
                    "airtableTokenApi": {
                        "id": "RoOhi6fE6lI3cI1c",
                        "name": "Airtable Personal Access Token account 2"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Failure branch: FERC ingest failed. Emit a Daily Brief alert payload.\nconst err = $input.first().json;\nreturn [{ json: {\n  alert: 'FERC_INGEST_FAILED',\n  message: 'FERC eLibrary tariff ingest failed - check manually. The eLibrary backend is unofficial and may have changed shape or rate-limited.',\n  httpCode: err.statusCode || err.code || 'unknown',\n  ts: new Date().toISOString()\n} }];"
                },
                "id": "bd72891e-1571-4979-a4d3-cae65ebd0ef9",
                "name": "Ingest Failed Alert",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    144,
                    400
                ]
            },
            {
                "parameters": {
                    "fromEmail": "NexPhase Advisory <info@nexphaseadvisory.net>",
                    "toEmail": "santiago4801@hotmail.com",
                    "subject": "=[NexPhase] FERC tariff ingest FAILED \u2014 {{ $json.ts }}",
                    "emailFormat": "text",
                    "text": "=FERC eLibrary tariff ingest FAILED.\n\n{{ $json.message }}\n\nHTTP code: {{ $json.httpCode }}\nTime: {{ $json.ts }}\n\nThe eLibrary AdvancedSearch endpoint is unofficial and may have changed shape or rate-limited. Check the 'Interconnect - FERC Tariff Tracker' workflow (Cv9G0z10BjwlmrLg) \u2192 'FERC eLibrary Search' node, then re-run.",
                    "options": {}
                },
                "type": "n8n-nodes-base.emailSend",
                "typeVersion": 2.1,
                "position": [
                    384,
                    400
                ],
                "name": "Email Ingest Failure",
                "id": "a7f3c2e1-9b4d-4c6a-8e2f-1d5b0a3c7e94",
                "credentials": {
                    "smtp": {
                        "id": "lZS1lrkShDRNKKJm",
                        "name": "SMTP Info@nexphaseadvisory.net"
                    }
                },
                "webhookId": "b7a91c24-5da0-46b6-8492-422b42260ccb"
            },
            {
                "parameters": {
                    "jsCode": "const SYS = 'You score FERC electric tariff filings for relevance to The Interconnect, a weekly publication read by renewable/storage developers, IPPs, and data-center power buyers. Score 1-5 for how much this filing matters to that audience. 5 = major queue reform, large-load/co-location policy, or cost-allocation shift with broad market impact. 1 = routine single-party rate tweak. Respond with ONLY a JSON object, no preamble, no markdown: {\"score\":1-5,\"iso\":\"PJM|MISO|SPP|CAISO|NYISO|ISO-NE|multi|n/a\",\"theme\":\"queue reform|large load|cost allocation|colocation|other\",\"one_line\":\"<=20 words plain English\"}';\nconst out = [];\nfor (const it of $input.all()) {\n  const f = it.json;\n  const userMsg = `Docket: ${f.docketNo}\\nCategory: ${f.category}\\nFiled: ${f.filedDate}\\nDescription: ${f.description}`;\n  out.push({ json: { ...f, _claudeBody: { model: 'claude-sonnet-4-6', max_tokens: 300, system: SYS, messages: [{ role: 'user', content: userMsg }] } } });\n}\nreturn out;"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    368,
                    160
                ],
                "name": "Build Claude Body",
                "id": "b1c2d3e4-0001-4a11-8b22-aa0000000001"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.anthropic.com/v1/messages",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "anthropic-version",
                                "value": "2023-06-01"
                            },
                            {
                                "name": "content-type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json._claudeBody) }}",
                    "options": {
                        "batching": {
                            "batch": {
                                "batchSize": 1
                            }
                        },
                        "timeout": 30000
                    }
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    588,
                    160
                ],
                "name": "Claude Score",
                "id": "b1c2d3e4-0002-4a11-8b22-aa0000000002",
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "FJA7PZjCaMHaj0Ir",
                        "name": "Header Auth Claude API"
                    }
                },
                "onError": "continueRegularOutput",
                "retryOnFail": true,
                "maxTries": 2,
                "waitBetweenTries": 2000
            },
            {
                "parameters": {
                    "jsCode": "const toISO = (s) => { if (!s) return ''; const m = String(s).match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/); return m ? `${m[3]}-${m[1].padStart(2,'0')}-${m[2].padStart(2,'0')}` : String(s); };\nconst claude = $input.all();\nconst filings = $('Build Claude Body').all();\nconst out = [];\nfor (let i = 0; i < claude.length; i++) {\n  const r = claude[i].json;\n  const f = (filings[i] && filings[i].json) || {};\n  let parsed = null;\n  try {\n    const txt = (r.content || []).filter(b => b.type === 'text').map(b => b.text).join('').replace(/```json|```/g, '').trim();\n    parsed = JSON.parse(txt);\n  } catch (e) { continue; }\n  if (!parsed || typeof parsed.score !== 'number' || parsed.score <= 2) continue;\n  const aff = Array.isArray(f.affiliations) ? (f.affiliations.find(a => a.afType === 'author') || {}) : {};\n  out.push({ json: {\n    docketNo: f.docketNo, accessionNumber: f.accessionNumber, description: f.description,\n    category: f.category, filedDate: toISO(f.filedDate), issuedDate: toISO(f.issuedDate), eLibraryUrl: f.eLibraryUrl,\n    filer: aff.affiliation || '', score: parsed.score, iso: parsed.iso, theme: parsed.theme, one_line: parsed.one_line\n  } });\n}\nreturn out;"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    808,
                    160
                ],
                "name": "Parse + Merge",
                "id": "b1c2d3e4-0003-4a11-8b22-aa0000000003"
            }
        ],
        "connections": {
            "Daily 6AM ET": {
                "main": [
                    [
                        {
                            "node": "Build Search Body",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Search Body": {
                "main": [
                    [
                        {
                            "node": "FERC eLibrary Search",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "FERC eLibrary Search": {
                "main": [
                    [
                        {
                            "node": "Search OK?",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Ingest Failed Alert",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Search OK?": {
                "main": [
                    [
                        {
                            "node": "Keyword Pre-Filter",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Ingest Failed Alert",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Keyword Pre-Filter": {
                "main": [
                    [
                        {
                            "node": "Build Claude Body",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Ingest Failed Alert": {
                "main": [
                    [
                        {
                            "node": "Email Ingest Failure",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Claude Body": {
                "main": [
                    [
                        {
                            "node": "Claude Score",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude Score": {
                "main": [
                    [
                        {
                            "node": "Parse + Merge",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse + Merge": {
                "main": [
                    [
                        {
                            "node": "Airtable: FERC Tariff Tracker",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "nodeGroups": [],
        "authors": "Chris  ",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-06-19T05:36:00.229Z",
                "id": 219,
                "workflowId": "Cv9G0z10BjwlmrLg",
                "versionId": "2f111164-e4f0-4ca6-a9c2-db4b47d3010d",
                "event": "activated",
                "userId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
            }
        ]
    }
}
