lead-generator-v10-yPQQKrylFN1PUGHX.backup.json
{
  "updatedAt": "2026-06-10T16:33:13.112Z",
  "createdAt": "2026-06-06T04:30:52.339Z",
  "id": "yPQQKrylFN1PUGHX",
  "name": "Lead Generator v10 — Services Outreach",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -64
      ],
      "id": "a76f9282-5d59-4c78-9067-22cddde77247"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "list",
          "cachedResultName": "Market Research"
        },
        "table": {
          "__rl": true,
          "value": "tblLLpsGrLBpgezYx",
          "mode": "list",
          "cachedResultName": "Market Signals"
        },
        "filterByFormula": "AND(OR({Signal Score}='High', {Signal Score}='Medium'), {Status}='Scored', IS_AFTER({Date Detected}, DATEADD(TODAY(), -7, 'days')))",
        "options": {
          "fields": [
            "fldqfELHApfCFn5r4",
            "fld91UDYde7HjVdBx",
            "fldmvBUgh2us3yjCM",
            "flds4vVxo0dWf6FG6",
            "fldTGLZgZIQ3vDoOU",
            "fldDvA6keV0I9S6Vb",
            "fld5OSZcQq7f84p8Y",
            "fldDi8DkxFQYAsZFM",
            "fldwNoliy07oYIQWf"
          ]
        }
      },
      "name": "List Recent High Signals",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -528,
        -64
      ],
      "alwaysOutputData": true,
      "id": "00f9d516-6026-4939-b757-b0eb024caf9c",
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "list",
          "cachedResultName": "Market Research"
        },
        "table": {
          "__rl": true,
          "value": "tbl32octmRaDZXULy",
          "mode": "list",
          "cachedResultName": "Outreach Pipeline"
        },
        "options": {
          "fields": [
            "fldLL2FMn3Y3KSG1z"
          ]
        }
      },
      "name": "List Existing Pipeline Companies",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -320,
        -64
      ],
      "alwaysOutputData": true,
      "id": "38adf863-f815-4b34-902f-c170e9c132f6",
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dedup against existing pipeline — case-insensitive, strips legal suffixes\nconst norm = s => String(s || '').toLowerCase()\n  .replace(/\\b(llc|inc|corp|ltd|lp|llp|pllc|co\\.|company|group|holdings|renewables|energy|power|data centers?|digital)\\b/g, '')\n  .replace(/[^a-z0-9]+/g, ' ').trim();\nconst existingSet = new Set(\n  $input.all()\n    .map(i => norm(i.json.fields?.fldLL2FMn3Y3KSG1z || i.json.fldLL2FMn3Y3KSG1z || ''))\n    .filter(Boolean)\n);\nconst JUNK = /^(unknown|undisclosed|multiple|various|several|tbd|n\\/a)/i;\nconst signals = $('List Recent High Signals').all();\nconst seen = new Set();\nconst out = [];\nfor (const item of signals) {\n  const f = item.json.fields || item.json;\n  const company = String(f['Company'] || '').trim();\n  if (!company || company.length < 3 || JUNK.test(company)) continue;\n  const key = norm(company);\n  if (!key || existingSet.has(key) || seen.has(key)) continue;\n  seen.add(key);\n  out.push({\n    json: {\n      signal_id: item.json.id,\n      signal_company: company,\n      signal_type: (f['Signal Type']?.name || f['Signal Type'] || ''),\n      signal_detail: (f['Signal Detail'] || ''),\n      signal_location: (f['Location'] || ''),\n      signal_outreach_angle: (f['Outreach Angle'] || ''),\n      signal_score: (f['Signal Score']?.name || f['Signal Score'] || f['Score'] || ''),\n      signal_mw: (f['MW Size'] || ''),\n      actionability: (f['Actionability'] || ''),\n      actionability_rationale: (f['Actionability Rationale'] || '')\n    }\n  });\n}\nreturn out.slice(0, 5);"
      },
      "name": "Filter Net-New Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -64
      ],
      "id": "de20e25c-8fe5-4400-9a9e-6832eadbce25"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "web-search-2025-03-05"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1000,\n  tools: [{ type: 'web_search_20250305', name: 'web_search', max_uses: 2 }],\n  system: 'You are helping Chris Santiago identify advisory opportunities and draft warm outreach. Chris runs NexPhase Advisory — 20+ years in power, two FERC Order 1000 competitive transmission wins as non-incumbent, 2+ GW in PPAs closed, 5+ GW to NTP across PJM/MISO/CAISO/WECC/Southeast. He is looking for consulting engagements with developers, IPPs, and data center companies that need power origination, interconnection strategy, substation siting, or development management expertise.\\n\\nTone: warm, peer-to-peer, insider energy voice. DMs should feel like they come from a fellow practitioner who noticed something interesting about their work, not from someone selling services. No buzzwords, no credential-dropping, no explicit consulting ask in the first message.',\n  messages: [{\n    role: 'user',\n    content: 'Company: ' + $json.signal_company + '\\nSignal type: ' + $json.signal_type + '\\nSignal detail: ' + $json.signal_detail + '\\nLocation: ' + $json.signal_location + '\\nMW: ' + $json.signal_mw + '\\nOutreach angle: ' + $json.signal_outreach_angle + '\\n\\nUse web search to: (1) find the best VP/Director-level contact at this company for power origination, interconnection, or development — get their full name, title, and LinkedIn URL if possible; (2) understand what this company is actively working on right now.\\n\\nReturn ONLY valid JSON (no markdown):\\n{\\n  \"contact_name\": \"full name of best contact found, or empty string if not found\",\\n  \"target_title\": \"their title, or best title to reach if not found\",\\n  \"linkedin_url\": \"their LinkedIn URL if found, or empty string\",\\n  \"email\": \"their email if publicly available, or empty string\",\\n  \"actual_title\": \"confirmed title if found via web search, or empty string\",\\n  \"project_need\": \"one sentence — what specific problem do they need solved right now\",\\n  \"service_match\": \"which of Chris\\'s capabilities is the sharpest fit and why\",\\n  \"signal_hook\": \"2-3 sentences of context — what is happening at this company and why it matters\",\\n  \"draft_message\": \"LinkedIn DM, hard cap 280 characters. Open with something specific about what they are building. Warm and direct, peer voice. Use first name if contact found, otherwise omit greeting. No explicit job ask, no consulting pitch. Close with a light open door like \\'happy to compare notes\\'.\",\\n  \"research_notes\": \"key facts found — project stage, queue position, team size, recent deals\",\\n  \"enrichment_status\": \"Needs Clay\",\\n  \"data_source\": \"Web Search\"\\n}'\n  }]\n}) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 30000
            }
          },
          "timeout": 120000
        }
      },
      "name": "Claude — Identify Need + Draft DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "23ca1bbd-e75e-43ba-8c98-c220b7efac15",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FJA7PZjCaMHaj0Ir",
          "name": "Header Auth Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge signal data (input 0) with Claude parsed output (input 1)\nconst signalItems = $input.all();\nconst claudeItems = $('Claude — Identify Need + Draft DM').all();\n\nconst out = [];\n\nfor (let i = 0; i < signalItems.length; i++) {\n  const signal = signalItems[i]?.json || {};\n  const claudeRaw = claudeItems[i]?.json || {};\n\n  // Parse Claude response\n  const raw = claudeRaw.content?.find(b => b.type === 'text')?.text\n    || claudeRaw.content?.[claudeRaw.content.length - 1]?.text || '';\n\n  let parsed = {};\n  try {\n    parsed = JSON.parse(raw.replace(/```json|```/g, '').trim());\n  } catch(e) {\n    const m = raw.match(/\\{[\\s\\S]*\\}/);\n    try { parsed = m ? JSON.parse(m[0]) : {}; } catch { parsed = {}; }\n  }\n\n  // Merge — signal fields take base, Claude adds enrichment\n  out.push({\n    json: {\n      // From signal\n      signal_id:       signal.signal_id       || '',\n      signal_company:  signal.signal_company   || '',\n      signal_type:     signal.signal_type      || '',\n      signal_detail:   signal.signal_detail    || '',\n      signal_location: signal.signal_location  || '',\n      signal_mw:       signal.signal_mw        || '',\n      // From Claude\n      contact_name:    parsed.contact_name     || '',\n      target_title:    parsed.target_title     || '',\n      linkedin_url:    parsed.linkedin_url     || '',\n      email:           parsed.email            || '',\n      project_need:    parsed.project_need     || '',\n      service_match:   parsed.service_match    || '',\n      signal_hook:     parsed.signal_hook      || signal.signal_outreach_angle || signal.signal_detail || '',\n      draft_message:   parsed.draft_message    || '',\n      research_notes:  parsed.research_notes   || '',\n      actual_title:    parsed.actual_title     || '',\n      enrichment_status: parsed.enrichment_status || 'Needs Clay',\n      data_source:     parsed.data_source      || 'Web Search'\n    }\n  });\n}\n\nreturn out;"
      },
      "name": "Combine Signal + Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -64
      ],
      "id": "680ff3f5-5ac5-4b84-b9cd-9ca95336cbc8"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appoTkXUnQ9aulmkE",
          "mode": "list",
          "cachedResultName": "Market Research"
        },
        "table": {
          "__rl": true,
          "value": "tbl32octmRaDZXULy",
          "mode": "list",
          "cachedResultName": "Outreach Pipeline"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Report Recipient": false,
            "NexEra/Origis Alum": false,
            "DM Priority": 0,
            "Status": "New Lead"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contact Name",
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Signal Hook",
              "displayName": "Signal Hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft Message",
              "displayName": "Draft Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LinkedIn DM",
                  "value": "LinkedIn DM"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New Lead",
                  "value": "New Lead"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "No Response",
                  "value": "No Response"
                },
                {
                  "name": "Follow Up",
                  "value": "Follow Up"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Send Date",
              "displayName": "Send Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source Signal",
              "displayName": "Source Signal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company (from Source Signal)",
              "displayName": "Company (from Source Signal)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Markets",
              "displayName": "Markets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Report Recipient",
              "displayName": "Report Recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Sent Date",
              "displayName": "Last Sent Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Report Link",
              "displayName": "Report Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Report DM",
              "displayName": "Report DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Report Published Date",
              "displayName": "Report Published Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DM Priority",
              "displayName": "DM Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Status",
              "displayName": "Enrichment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Web Enriched",
                  "value": "Web Enriched"
                },
                {
                  "name": "Needs Clay",
                  "value": "Needs Clay"
                },
                {
                  "name": "Clay Enriched",
                  "value": "Clay Enriched"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data Source",
              "displayName": "Data Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Web Search",
                  "value": "Web Search"
                },
                {
                  "name": "Clay",
                  "value": "Clay"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clay Record ID",
              "displayName": "Clay Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enriched Date",
              "displayName": "Enriched Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NexEra/Origis Alum",
              "displayName": "NexEra/Origis Alum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "name": "Create Pipeline Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        -64
      ],
      "id": "0c55d171-4263-4591-9808-a5a3bafbcdaa",
      "credentials": {
        "airtableTokenApi": {
          "id": "RoOhi6fE6lI3cI1c",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Field IDs (Outreach Pipeline) — write by ID to avoid name drift.\nconst F = {\n  contact: 'fldAYJfmDu3g1yuDX', title: 'fldumu5th7aPdxgoF', company: 'fldLL2FMn3Y3KSG1z',\n  linkedin: 'fldaq7M5Jz1LUp0lv', email: 'fldnBwIqMSYS577Ki', hook: 'fldJK3FAM4mPvhnDw',\n  draft: 'fldn6imsWP0eiq29R', channel: 'fldDHjKyHP1XEseyg', status: 'fldTaGWpuRTmnG8yG',\n  notes: 'fldI0EvZPGm9XrwWz', source: 'fldjSrdlhrORN6xyP', enrStatus: 'fldCXm7kgxLUKzgNL',\n  dataSrc: 'fld4ayILRKw9aYWux', enrDate: 'fldB5qbGXxGWIEL2T'\n};\nconst today = new Date().toISOString().slice(0, 10);\nconst items = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  const v = x => (x == null ? '' : ('' + x)).trim();\n  const contact = v(d.contact_name);\n  const verifiedTitle = v(d.actual_title);\n  const title = verifiedTitle || v(d.target_title);\n  const linkedin = v(d.linkedin_url);\n  const email = v(d.email);\n  const company = v(d.signal_company);\n\n  const missing = [];\n  if (!email) missing.push('Email');\n  if (!verifiedTitle) missing.push('Title');\n  if (!linkedin) missing.push('LinkedIn URL');\n\n  const hasContactPath = !!(linkedin || email);\n  let enrStatus, dataSource;\n  if (!hasContactPath) { enrStatus = 'Needs Clay'; dataSource = 'Web Search'; }\n  else if (email) { enrStatus = 'Web Enriched'; dataSource = 'Web Search'; }\n  else { enrStatus = 'Needs Clay'; dataSource = 'Web Search'; }\n\n  const rec = {};\n  rec[F.contact]   = contact;\n  rec[F.title]     = title;\n  rec[F.company]   = company;\n  rec[F.linkedin]  = linkedin;\n  rec[F.email]     = email;\n  rec[F.hook]      = v(d.signal_hook) || v(d.signal_outreach_angle) || v(d.signal_detail);\n  rec[F.draft]     = v(d.draft_message);\n  rec[F.channel]   = 'LinkedIn DM';\n  rec[F.notes]     = [\n    v(d.project_need) ? 'NEED: ' + v(d.project_need) : '',\n    v(d.service_match) ? 'SERVICE MATCH: ' + v(d.service_match) : '',\n    v(d.research_notes) ? 'RESEARCH: ' + v(d.research_notes) : '',\n    missing.length ? 'Missing: ' + missing.join(', ') : ''\n  ].filter(Boolean).join('\\n\\n');\n  rec[F.enrStatus] = enrStatus;\n  rec[F.dataSrc]   = dataSource;\n  rec[F.enrDate]   = today;\n  rec[F.status]    = 'New Lead';\n  // Flag P1 with draft as Follow Up immediately\n  if (rec[F.draft] && rec[F.draft].length > 20) {\n    rec[F.status] = 'Follow Up';\n  }\n  if (v(d.signal_id)) rec[F.source] = [v(d.signal_id)];\n  items.push({ json: rec });\n}\nreturn items;"
      },
      "id": "02c01a81-1b16-4aef-89a8-ba92605facf5",
      "name": "Gap Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -160
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Recent High Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Recent High Signals": {
      "main": [
        [
          {
            "node": "List Existing Pipeline Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Existing Pipeline Companies": {
      "main": [
        [
          {
            "node": "Filter Net-New Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Net-New Companies": {
      "main": [
        [
          {
            "node": "Claude — Identify Need + Draft DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Signal + Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Signal + Claude Response": {
      "main": [
        [
          {
            "node": "Gap Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap Check": {
      "main": [
        [
          {
            "node": "Create Pipeline Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "01c83a5f-bf74-43ef-9956-db0e19dd4089",
  "activeVersionId": null,
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-06T04:30:52.342Z",
      "createdAt": "2026-06-06T04:30:52.342Z",
      "role": "workflow:owner",
      "workflowId": "yPQQKrylFN1PUGHX",
      "projectId": "yyu8mrsL1yrdUgiZ",
      "project": {
        "updatedAt": "2026-05-07T03:46:52.701Z",
        "createdAt": "2026-05-07T03:46:45.027Z",
        "id": "yyu8mrsL1yrdUgiZ",
        "name": "Chris   <santiago4801@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
