web-search-enrichment-uLgdieF7tOIAE8jO.workflow.json
{
    "updatedAt": "2026-06-11T21:59:50.776Z",
    "createdAt": "2026-06-11T21:59:50.776Z",
    "id": "uLgdieF7tOIAE8jO",
    "name": "Web Search Enrichment \u2014 Needs Clay",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -380,
                -40
            ],
            "name": "Run Manually",
            "id": "8f55789d-8322-45c8-aab5-99f26d427e4e"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 30 7 * * *"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -380,
                140
            ],
            "name": "Daily 7:30am",
            "id": "506801a1-1260-4af4-833c-53508390c07a"
        },
        {
            "parameters": {
                "resource": "record",
                "operation": "search",
                "base": {
                    "__rl": true,
                    "value": "appoTkXUnQ9aulmkE",
                    "mode": "id"
                },
                "table": {
                    "__rl": true,
                    "value": "tbl32octmRaDZXULy",
                    "mode": "id"
                },
                "filterByFormula": "={Enrichment Status} = 'Needs Clay'",
                "returnAll": false,
                "limit": 25,
                "options": {
                    "sort": {
                        "sort": [
                            {
                                "field": "Enriched Date",
                                "direction": "desc"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                -160,
                40
            ],
            "name": "Find Needs Clay",
            "credentials": {
                "airtableTokenApi": {
                    "id": "RoOhi6fE6lI3cI1c",
                    "name": "Airtable Personal Access Token account 2"
                }
            },
            "id": "9db603d9-b4fd-4389-a62b-854f58ac06c3"
        },
        {
            "parameters": {
                "jsCode": "\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const company = String(j['Company'] || '').trim();\n  const titleHint = String(j['Title'] || '').trim();\n  const existingUrl = String(j['LinkedIn URL'] || '').trim();\n  const existingName = String(j['Contact Name'] || '').trim();\n  const hasLinkedin = /linkedin\\.com/i.test(existingUrl);\n  const keywords = titleHint || 'VP OR Director power OR energy OR interconnection OR origination';\n  out.push({ json: {\n    record_id: j.id,\n    company: company,\n    title_hint: titleHint,\n    existing_url: existingUrl,\n    existing_name: existingName,\n    has_linkedin: hasLinkedin,\n    query: company + ' ' + keywords + ' site:linkedin.com'\n  }});\n}\nreturn out;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                60,
                40
            ],
            "name": "Build Search Input",
            "id": "2877c188-9148-4cb3-9f0f-71d3bafeda08"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "11111111-1111-4111-8111-111111111111",
                            "leftValue": "={{ $json.has_linkedin }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                280,
                40
            ],
            "name": "Has LinkedIn?",
            "id": "a74d7294-3477-4db5-be04-08c9b1a18bc1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6',max_tokens: 1024,tools: [{ type: 'web_search_20250305', name: 'web_search', max_uses: 5 }],system: 'You are a B2B contact researcher. You find the single best senior decision-maker at a company for energy/power procurement, interconnection, or development outreach, plus their personal LinkedIn profile. Return ONLY one JSON object as your final message \u2014 no prose, no markdown fences. Schema: {\\\"found\\\": boolean, \\\"contact_name\\\": string, \\\"linkedin_url\\\": string, \\\"title\\\": string}. linkedin_url MUST be a personal profile of the form https://www.linkedin.com/in/... . If you cannot find a real named person with a real personal LinkedIn profile URL, return {\\\"found\\\": false, \\\"contact_name\\\": \\\"\\\", \\\"linkedin_url\\\": \\\"\\\", \\\"title\\\": \\\"\\\"}. Never fabricate a URL.',messages: [{ role: 'user', content: 'Find the best outreach contact at the company \\\"' + $json.company + '\\\" for power/energy procurement, interconnection, or development. ' + ($json.title_hint ? ('Prefer someone whose role matches: \\\"' + $json.title_hint + '\\\". ') : '') + 'Run this web search to find them: ' + $json.query + ' . Then return the JSON object only.' }]}) }}",
                "options": {
                    "batching": {
                        "batch": {
                            "batchSize": 1
                        }
                    },
                    "timeout": 90000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                160
            ],
            "name": "Claude Web Search",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "FJA7PZjCaMHaj0Ir",
                    "name": "Header Auth Claude API"
                }
            },
            "onError": "continueRegularOutput",
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 3000,
            "id": "70340adf-68b2-41c1-b858-9fc605c6107d"
        },
        {
            "parameters": {
                "jsCode": "\nconst resp = $json;\nconst src = $('Build Search Input').item.json;\nlet found = false, name = '', url = '', title = '';\ntry {\n  if (resp && Array.isArray(resp.content)) {\n    const text = resp.content.filter(b => b.type === 'text').map(b => b.text).join('\\n');\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      const parsed = JSON.parse(m[0]);\n      name = String(parsed.contact_name || '').trim();\n      url = String(parsed.linkedin_url || '').trim();\n      title = String(parsed.title || '').trim();\n      found = parsed.found === true && name !== '' && /linkedin\\.com\\/in\\//i.test(url);\n    }\n  }\n} catch (e) { found = false; }\nreturn { json: {\n  record_id: src.record_id,\n  company: src.company,\n  success: found,\n  contact_name: name,\n  linkedin_url: url,\n  title: (title || src.title_hint)\n}};\n",
                "mode": "runOnceForEachItem"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                160
            ],
            "name": "Parse Result",
            "id": "c43da3a4-bc62-4827-a372-e22b62936dea"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "11111111-1111-4111-8111-111111111111",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                940,
                160
            ],
            "name": "Found?",
            "id": "d4dca079-8e54-456e-a8b0-ce4eb4c92253"
        },
        {
            "parameters": {
                "resource": "record",
                "operation": "update",
                "base": {
                    "__rl": true,
                    "value": "appoTkXUnQ9aulmkE",
                    "mode": "id"
                },
                "table": {
                    "__rl": true,
                    "value": "tbl32octmRaDZXULy",
                    "mode": "id"
                },
                "id": "={{ $json.record_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Contact Name",
                            "displayName": "Contact Name",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "LinkedIn URL",
                            "displayName": "LinkedIn URL",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Enrichment Status",
                            "displayName": "Enrichment Status",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Data Source",
                            "displayName": "Data Source",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Enriched Date",
                            "displayName": "Enriched Date",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "value": {
                        "Contact Name": "={{ $json.contact_name }}",
                        "LinkedIn URL": "={{ $json.linkedin_url }}",
                        "Title": "={{ $json.title }}",
                        "Enrichment Status": "Web Enriched",
                        "Data Source": "Web Search",
                        "Enriched Date": "={{ $now.toFormat('yyyy-LL-dd') }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                1160,
                80
            ],
            "name": "Mark Web Enriched (found)",
            "credentials": {
                "airtableTokenApi": {
                    "id": "RoOhi6fE6lI3cI1c",
                    "name": "Airtable Personal Access Token account 2"
                }
            },
            "id": "5bbe7a1b-6e4d-45cc-8890-3665e3289d97"
        },
        {
            "parameters": {
                "resource": "record",
                "operation": "update",
                "base": {
                    "__rl": true,
                    "value": "appoTkXUnQ9aulmkE",
                    "mode": "id"
                },
                "table": {
                    "__rl": true,
                    "value": "tbl32octmRaDZXULy",
                    "mode": "id"
                },
                "id": "={{ $json.record_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Enrichment Status",
                            "displayName": "Enrichment Status",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Enriched Date",
                            "displayName": "Enriched Date",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "value": {
                        "Enrichment Status": "Failed",
                        "Enriched Date": "={{ $now.toFormat('yyyy-LL-dd') }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                1160,
                280
            ],
            "name": "Mark Failed",
            "credentials": {
                "airtableTokenApi": {
                    "id": "RoOhi6fE6lI3cI1c",
                    "name": "Airtable Personal Access Token account 2"
                }
            },
            "id": "3fe75bf3-8899-4ded-b670-2c2e2f90cd01"
        },
        {
            "parameters": {
                "resource": "record",
                "operation": "update",
                "base": {
                    "__rl": true,
                    "value": "appoTkXUnQ9aulmkE",
                    "mode": "id"
                },
                "table": {
                    "__rl": true,
                    "value": "tbl32octmRaDZXULy",
                    "mode": "id"
                },
                "id": "={{ $json.record_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Enrichment Status",
                            "displayName": "Enrichment Status",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Enriched Date",
                            "displayName": "Enriched Date",
                            "type": "string",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "value": {
                        "Enrichment Status": "Web Enriched",
                        "Enriched Date": "={{ $now.toFormat('yyyy-LL-dd') }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 2.1,
            "position": [
                500,
                -80
            ],
            "name": "Mark Web Enriched (kept)",
            "credentials": {
                "airtableTokenApi": {
                    "id": "RoOhi6fE6lI3cI1c",
                    "name": "Airtable Personal Access Token account 2"
                }
            },
            "id": "14a1f0d6-a5d7-4d88-95a7-a207e4fec01e"
        }
    ],
    "connections": {
        "Run Manually": {
            "main": [
                [
                    {
                        "node": "Find Needs Clay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Daily 7:30am": {
            "main": [
                [
                    {
                        "node": "Find Needs Clay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Needs Clay": {
            "main": [
                [
                    {
                        "node": "Build Search Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Search Input": {
            "main": [
                [
                    {
                        "node": "Has LinkedIn?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has LinkedIn?": {
            "main": [
                [
                    {
                        "node": "Mark Web Enriched (kept)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude Web Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Web Search": {
            "main": [
                [
                    {
                        "node": "Parse Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Result": {
            "main": [
                [
                    {
                        "node": "Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Found?": {
            "main": [
                [
                    {
                        "node": "Mark Web Enriched (found)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/New_York"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "e1e6f671-6e00-4230-a701-b7ebe0d70f04",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "sourceWorkflowId": null,
    "shared": [
        {
            "updatedAt": "2026-06-11T21:59:50.779Z",
            "createdAt": "2026-06-11T21:59:50.779Z",
            "role": "workflow:owner",
            "workflowId": "uLgdieF7tOIAE8jO",
            "projectId": "yyu8mrsL1yrdUgiZ",
            "project": {
                "updatedAt": "2026-05-07T03:46:52.701Z",
                "createdAt": "2026-05-07T03:46:45.027Z",
                "id": "yyu8mrsL1yrdUgiZ",
                "name": "Chris   <santiago4801@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "customTelemetryTags": [],
                "creatorId": "3a045337-aa88-45a9-b4fd-8443c4c6ce3b"
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
