interconnect/interconnect-publisher.workflow.json
{"updatedAt":"2026-06-14T15:15:31.559Z","createdAt":"2026-06-07T23:56:43.555Z","id":"hAbUSOEUyZRxXEWm","name":"Interconnect Publisher — Weekly","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}},"id":"80da480d-220d-4059-8e67-81186cf3c296","name":"Every Sunday 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2720,608]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"id"},"filterByFormula":"IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -30, 'days'))","options":{}},"id":"44d2a5b5-3fcc-420f-8050-ad6dbedfc572","name":"Fetch Market Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,608],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblkazcIqMkDoISu7","mode":"id"},"returnAll":false,"limit":20,"options":{"fields":[]},"filterByFormula":"NOT({Status} = 'Completed')"},"id":"42c55d97-d34e-4427-aebd-63216e22df71","name":"Fetch Queue Records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,800],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"const now = new Date();\nconst dateline = 'Week of ' + now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'America/New_York' });\n// Vol/No hardcoded for now; auto-increment later.\nreturn [{ json: { dateline, vol: 1, no: 2 } }];"},"id":"fbdbcda1-49cd-44e7-aba9-1b18b5051744","name":"Set Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, messages: [{ role: 'user', content: 'You are the editorial voice of The Interconnect™, a weekly power market intelligence publication by NexPhase Advisory. Given the signals below, write a 3–5 sentence lede paragraph that connects the week\\'s themes for an audience of power developers, data center operators, and IPP executives. Practitioner voice — no hype, no filler. Return ONLY this JSON: { \"lede\": \"...\" }' + '\\n\\nSIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,12)) }] }) }}","options":{"timeout":120000}},"id":"94f59db9-9e66-4f27-8f9b-571fe6b02a29","name":"Generate Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 5000, messages: [{ role: 'user', content: 'You are a power-market analyst for The Interconnect. From the signals below, write 3-4 short \\'Campus Announcements\\' news stories covering the most significant data-center and generation development announcements this week, focused on scale and power/interconnection implications. Return ONLY a JSON array; each object: { \"hed\": \"<headline, max 10 words>\", \"dek\": \"<one sentence: location, MW, key fact>\", \"paragraphs\": [\"<1-2 body paragraphs with practitioner framing>\"] }. Return ONLY the JSON array, no markdown, no wrapper object.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"id":"00bc86c7-3786-4d26-a57c-d16c6ada2f55","name":"Generate Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2500, messages: [{ role: 'user', content: 'Given the demand signals and queue data below, identify the 2-3 strongest \\'connector markets\\' where a known data-center load overlaps with viable generation in the same ISO/state footprint. Return ONLY a JSON array; each object: { \"market_tag\": \"<e.g. OH · PJM>\", \"load_name\": \"<load or company>\", \"load_note\": \"<short site/scale note>\", \"mw\": \"<load MW, e.g. ~2,000+>\", \"supply_count\": \"<e.g. 23 projects in queue>\", \"supply_note\": \"<1-2 top queue projects w/ MW and type>\", \"strategic_note\": \"<one-sentence origination angle>\" }. Use the queue data for the supply side. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"id":"1efcecf9-cf3b-4cb8-a286-0711aa69ceae","name":"Generate Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"jsCode":"// interconnect_inject.js — v2 (index.html \"correct format\")\n// Fetches the locked template from the repo and substitutes section tokens.\n// TOKENS: {{DATELINE}} {{VOL}} {{NO}} {{QUEUE_DATE}} {{LEDE}} {{CONNECTOR_ROWS}}\n//         {{QUEUE_SPOTLIGHT}} {{LEAD_STORY}} {{CAMPUS_STORIES}} {{POLICY_FLAGS}} {{PRICING_CONTEXT}}\n//\n// UPSTREAM CONTRACT:\n//   Set Metadata        -> { dateline, vol, no }\n//   Generate Lede       -> { lede }\n//   Generate Feature    -> { label, title, dek, paragraphs:[], data_label, data_items:[{num,lbl}] }\n//   Generate Signals    -> [ { hed, dek, paragraphs:[] } ]                (Campus Announcements stories)\n//   Generate Connectors -> [ { market_tag, load_name, load_note, mw, supply_count, supply_note, strategic_note } ]\n//   Generate Flags      -> [ { entity, note } ]\n//   Generate Pricing    -> { paragraphs:[] }\n//   Fetch Queue Records -> Airtable rows (Project Name, Region, Generation Type, MW Capacity, Status, POI Name)\n\nconst TEMPLATE_URL = 'https://api.github.com/repos/nexphaseadvisory/Reports/contents/interconnect/template/the_interconnect_TEMPLATE.html?ref=main';\nconst resp = await this.helpers.httpRequest({\n  method: 'GET', url: TEMPLATE_URL,\n  headers: { 'Accept': 'application/vnd.github.raw', 'User-Agent': 'n8n-interconnect-publisher' },\n  json: false\n});\nlet TEMPLATE;\nif (typeof resp === 'string') TEMPLATE = resp;\nelse if (resp && resp.content) TEMPLATE = Buffer.from(resp.content, 'base64').toString('utf8');\nelse TEMPLATE = String(resp);\nif (TEMPLATE.indexOf('{{LEDE}}') === -1 || TEMPLATE.indexOf('{{LEAD_STORY}}') === -1) {\n  throw new Error('Template fetch failed or missing v2 tokens — got ' + TEMPLATE.length + ' chars from ' + TEMPLATE_URL);\n}\n\n// ---------- helpers ----------\nfunction claudeJSON(resp) {\n  try {\n    const content = (resp && resp.content) || [];\n    const text = content.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(text.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction paras(arr, firstStyle) {\n  const a = Array.isArray(arr) ? arr : (arr ? [arr] : []);\n  return a.map((p, i) =>\n    '<p class=\"body-text\"' + (i > 0 ? ' style=\"margin-top:8px\"' : (firstStyle || '')) + '>' + esc(p) + '</p>'\n  ).join('\\n      ');\n}\n\n// ---------- pull upstream ----------\nconst meta      = $('Set Metadata').first().json;\nconst lede      = (claudeJSON($('Generate Lede').first().json) || { lede: '' }).lede || '';\nconst feature   = claudeJSON($('Generate Feature').first().json) || {};\nconst stories   = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors= claudeJSON($('Generate Connectors').first().json) || [];\nconst flags     = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing   = claudeJSON($('Generate Pricing').first().json) || { paragraphs: [] };\nconst queueRaw  = $('Fetch Queue Records').all().map(i => i.json);\n\n// ---------- CONNECTOR_ROWS ----------\nconst connectorRows = (Array.isArray(connectors) ? connectors : []).map(c =>\n  '<tr>\\n' +\n  '          <td><span class=\"market-tag\">' + esc(c.market_tag) + '</span></td>\\n' +\n  '          <td><span class=\"load-name\">' + esc(c.load_name) + '</span>' +\n       (c.load_note ? '<div class=\"queue-note\">' + esc(c.load_note) + '</div>' : '') + '</td>\\n' +\n  '          <td><span class=\"mw-val\">' + esc(c.mw) + '</span></td>\\n' +\n  '          <td><span class=\"supply-count\">' + esc(c.supply_count) + '</span>' +\n       (c.supply_note ? '<div class=\"queue-note\">' + esc(c.supply_note) + '</div>' : '') + '</td>\\n' +\n  '          <td style=\"font-size:11px;color:#374151\">' + esc(c.strategic_note) + '</td>\\n' +\n  '        </tr>'\n).join('\\n        ');\n\n// ---------- QUEUE_SPOTLIGHT (top UNIQUE queue records by MW) ----------\n// Fetch Queue Records can return duplicate rows (same project double-loaded), so\n// dedupe by project name (fallback record id) AFTER sorting desc — keeping the\n// highest-MW instance — BEFORE slicing the top 4. Without this the spotlight\n// repeats the single highest-MW project in all 4 slots.\nconst _seenQ = new Set();\nconst queueSpotlight = queueRaw.map(q => ({\n  id: q['Project Name'] || q['POI Name'] || '',\n  type: q['Generation Type'] || q['Project Type'] || '',\n  mw: (q['MW Capacity'] != null ? q['MW Capacity'] : ''),\n  region: q['Region'] || '',\n  status: q['Status'] || '',\n  poi: q['POI Name'] || '',\n  _key: String(q['Project Name'] || q['POI Name'] || q['id'] || '').trim().toLowerCase()\n}))\n  .sort((a, b) => (parseFloat(b.mw) || 0) - (parseFloat(a.mw) || 0))\n  .filter(q => {\n    if (String(q.status || '').trim().toLowerCase() === 'completed') return false; // exclude Completed — Active only\n    if (!q._key || _seenQ.has(q._key)) return false;\n    _seenQ.add(q._key);\n    return true;\n  })\n  .slice(0, 4)\n  .map(q => {\n    const desc = [\n      (q.mw !== '' ? q.mw + ' MW ' : '') + esc(q.type) + (q.region ? ' · ' + esc(q.region) : ''),\n      [esc(q.status), esc(q.poi)].filter(Boolean).join(' · ')\n    ].filter(Boolean).join('<br>');\n    return '<div class=\"qs-item\">\\n' +\n      '            <div class=\"qs-id\">' + esc(q.id) + '</div>\\n' +\n      '            <div class=\"qs-desc\">' + desc + '</div>\\n' +\n      '          </div>';\n  }).join('\\n          ');\n\n// ---------- LEAD_STORY (feature analysis + data-box) ----------\nconst dataItems = (Array.isArray(feature.data_items) ? feature.data_items : []).map(di =>\n  '<div class=\"data-item\"><div class=\"num\">' + esc(di.num) + '</div><div class=\"lbl\">' + esc(di.lbl) + '</div></div>'\n).join('\\n          ');\nconst dataBox = (feature.data_label || dataItems) ?\n  '\\n      <div class=\"data-box\">\\n' +\n  '        <div class=\"data-label\">' + esc(feature.data_label) + '</div>\\n' +\n  '        <div class=\"data-grid\">\\n          ' + dataItems + '\\n        </div>\\n' +\n  '      </div>' : '';\nconst leadStory =\n  '<div class=\"sec\">\\n' +\n  '      <div class=\"sec-label\">' + esc(feature.label || 'Interconnection') + '</div>\\n' +\n  '      <h2>' + esc(feature.title || '') + '</h2>\\n' +\n  '    </div>\\n\\n' +\n  '    <div class=\"lead-story\">\\n' +\n  '      <p class=\"dek\">' + esc(feature.dek || '') + '</p>\\n' +\n  '      ' + paras(feature.paragraphs) + dataBox + '\\n' +\n  '    </div>';\n\n// ---------- CAMPUS_STORIES (2-col story grid) ----------\nconst campusStories = (Array.isArray(stories) ? stories : []).map(s =>\n  '<div class=\"story\">\\n' +\n  '        <div class=\"hed\">' + esc(s.hed || s.headline) + '</div>\\n' +\n  '        <div class=\"dek\">' + esc(s.dek || '') + '</div>\\n' +\n  '        ' + paras(s.paragraphs || s.detail) + '\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- POLICY_FLAGS ----------\nconst policyFlags = (Array.isArray(flags) ? flags : []).map(f =>\n  '<div class=\"flag-item\">\\n' +\n  '        <span class=\"flag-co\">' + esc(f.entity) + '</span>\\n' +\n  '        <span class=\"flag-note\">' + esc(f.note) + '</span>\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- PRICING_CONTEXT ----------\nconst pricingHtml = paras(pricing.paragraphs || pricing);\n\n// ---------- QUEUE_DATE ----------\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst queueDate = months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();\n\n// ---------- inject ----------\nconst html = TEMPLATE\n  .split('{{DATELINE}}').join(esc(meta.dateline))\n  .split('{{VOL}}').join(esc(meta.vol))\n  .split('{{NO}}').join(esc(meta.no))\n  .split('{{QUEUE_DATE}}').join(esc(queueDate))\n  .split('{{LEDE}}').join(esc(lede))\n  .split('{{CONNECTOR_ROWS}}').join(connectorRows)\n  .split('{{QUEUE_SPOTLIGHT}}').join(queueSpotlight)\n  .split('{{LEAD_STORY}}').join(leadStory)\n  .split('{{CAMPUS_STORIES}}').join(campusStories)\n  .split('{{POLICY_FLAGS}}').join(policyFlags)\n  .split('{{PRICING_CONTEXT}}').join(pricingHtml);\n\nif (html.indexOf('{{') !== -1) {\n  const leftover = (html.match(/\\{\\{[A-Z_]+\\}\\}/g) || []).join(', ');\n  throw new Error('Unsubstituted tokens remain: ' + leftover);\n}\n\nreturn [{ json: { html, dateline: meta.dateline, vol: meta.vol, no: meta.no } }];\n"},"id":"2e9a5fab-d57a-4ca6-a3a7-758901c2327c","name":"Code — Inject","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,224]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"f4ae0f31-f28e-4e49-9176-4bff020d80d6","name":"GitHub — Publish","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,464],"webhookId":"3ea9bb9b-9528-4adf-a370-9009753282e4","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"interconnect-publisher","authentication":"headerAuth","options":{}},"id":"63be41a6-d023-4a09-84bb-6515e48e6b3e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"c8731e41-e2e2-4a8b-93e0-a7f8b8b5751f","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Persist the generated draft in workflow static data, keyed by vol/no.\nconst sd = $getWorkflowStaticData('global');\nconst j = $input.first().json;\nconst rec = { html: j.html, filename: j.filename, vol: j.vol, no: j.no, dateline: j.dateline, warns: j.warns || [] };\nsd['draft_' + j.vol + '_' + j.no] = rec;\nsd.latestDraft = rec;\nreturn [{ json: j }];\n"},"id":"8755ea00-7036-4ad5-b961-efb91a9c82c1","name":"Store Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128]},{"parameters":{"httpMethod":"POST","path":"interconnect-publish","authentication":"headerAuth","options":{}},"id":"36211bf0-8f8b-4608-a67a-2c4dc05d2366","name":"Webhook Publish","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,464],"webhookId":"4e891ac9-42e9-4ad0-aae3-859992338f49","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Publish path: read the stored draft from static data and hand it to GitHub — Publish.\nconst sd = $getWorkflowStaticData('global');\nconst j = ($input.first() && $input.first().json) || {};\nconst body = j.body || {};  // optional { vol, no } in the publish webhook POST body\nlet rec = (body.vol != null && body.no != null) ? sd['draft_' + body.vol + '_' + body.no] : sd.latestDraft;\nif (!rec || !rec.html) { throw new Error('No stored draft found to publish. Fire the draft webhook first.'); }\nreturn [{ json: rec }];\n"},"id":"421254a5-f1df-4faf-8d20-f098cba1657d","name":"Read Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"9b652cbc-d7f8-442e-af81-b6ca78752641","name":"GitHub — Draft","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,128],"webhookId":"949d92ab-24e6-4c95-a276-bf934567ecfe","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"e150aad0-32e0-452a-aee7-58aae6f9445b","name":"GitHub — Publish (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,624],"webhookId":"68d4e047-fe92-4b99-8527-e077c9366a15","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"53c834d7-0fc2-46f8-97e1-2f93c1010e9c","name":"GitHub — Draft (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,288],"webhookId":"80a6e250-afe9-46e4-a560-a81781cbd0e7","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - draft ready for review (Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }})","emailFormat":"text","text":"=A new issue of The Interconnect has been drafted and is ready for review.\n\n  Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }}  -  {{ $('Store Draft').first().json.dateline }}\n\nReview the rendered draft:\n  https://intel.nexphaseadvisory.net/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nThis is the approval gate - nothing publishes automatically. If it looks good,\npromote it by firing the publish webhook:\n  POST https://intel-search.app.n8n.cloud/webhook/interconnect-publish\n  Header: X-Webhook-Token: <your publish token>\n  Body:   {}\n\nPublishing promotes the draft to the live issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n\\n\\n--- Verification warnings ({{ (($('Store Draft').first().json.warns)||[]).length }}) ---\\n{{ ((($('Store Draft').first().json.warns)||[]).map(f => '- ['+f.section+'] '+f.issue).join('\\n')) || 'none — passed clean' }}","options":{}},"id":"2ee13b24-08b0-43e4-9334-4e85b6718c48","name":"Notify — Draft Ready","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,160],"webhookId":"b232325f-73e1-482d-ab51-8cafcb8cb006","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - published (Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }})","emailFormat":"text","text":"=The Interconnect has been published.\n\n  Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }}  -  {{ $('Read Draft').first().json.dateline }}\n\nLive issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"688cce6a-a05b-4afa-bc30-9a00f4253c31","name":"Notify — Published","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,512],"webhookId":"c0be3b8a-b66e-4230-8b61-7c3ceda08d41","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-edit","name":"GitHub — Archive","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,360],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput","webhookId":"c938d6a1-fa92-41a2-8d20-c03f0cf2bad3"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-new","name":"GitHub — Archive (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2480,520],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"webhookId":"a149ecaf-6d05-4e0d-ad58-95523181c983"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2000, messages: [{ role: 'user', content: 'You are the senior analyst for The Interconnect (a weekly power-market intelligence publication by NexPhase Advisory). From the signals below, write ONE marquee analytical feature on the single most consequential interconnection or grid-policy theme of the week (queue congestion, ISO restructuring, transmission constraints, a structural co-location or PPA shift). Audience: power developers, data-center operators, IPP executives. Practitioner voice, no hype, no filler. Return ONLY this JSON: { \"label\": \"<2-3 word section kicker, e.g. Interconnection>\", \"title\": \"<headline, max 12 words>\", \"dek\": \"<one italic-style sentence>\", \"paragraphs\": [\"<body paragraph>\", \"...\"], \"data_label\": \"<source/snapshot label, e.g. PJM Queue - Current Snapshot (Source: PJM)>\", \"data_items\": [ { \"num\": \"<stat, e.g. 220 GW>\", \"lbl\": \"<short description>\" } ] }. Provide 3-4 paragraphs and exactly 3 data_items. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1792a14-0b97-4a4c-9340-07c19db17daf"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1800, messages: [{ role: 'user', content: 'You are the regulatory analyst for The Interconnect. From the signals below, extract 4-5 \\'Signals Worth Watching\\' - regulatory, policy, community-opposition, permitting, or market-structure items developers should monitor. Return ONLY a JSON array; each object: { \"entity\": \"<short subject, e.g. Eagle Rock · Christian Co. IL>\", \"note\": \"<1-2 sentences: what to watch and why it matters for power procurement>\" }. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"bf0fbfa5-b79f-41d6-a6bc-25d418c729db"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1400, messages: [{ role: 'user', content: 'You are the PPA and financing analyst for The Interconnect. From the signals below, write a 2-paragraph \\'Market Pricing Context\\' note on PPA economics, financing structures, or pricing benchmarks visible in this week\\'s signals (utility-scale PPAs, behind-the-meter gas, hyperscaler deals). Practitioner voice. Return ONLY this JSON: { \"paragraphs\": [\"<paragraph 1>\", \"<paragraph 2>\"] }. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1758cae-a196-49e1-ad12-340bd00e2049"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: lede. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Lede').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"2f7ffac9-1905-4f38-ac52-a385bd756476"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: lead-story. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Feature').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"b10437c6-2488-4fb0-9fa3-7a464e118d10"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: campus-stories. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Signals').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d92a8201-2c83-4314-a655-c4868a943ba4"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: connector-table. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Connectors').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"name":"Verify Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"84689aa8-7fb2-427b-ad0c-9da591dc605b"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: policy-flags. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Flags').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"1543b06f-b64f-4a8e-8649-81a9999ff0e7"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: pricing-context. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Pricing').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"ef96efa6-c2fc-4c5c-9d7c-febbf08ab5dc"},{"name":"Collect Verifications","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,600],"parameters":{"jsCode":"// Collect Verifications — aggregate the 6 Verify nodes' {passed,flags} outputs.\n// Determines block vs warn; gates the draft downstream.\nfunction claudeJSON(resp) {\n  try {\n    const c = (resp && resp.content) || [];\n    const t = c.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(t.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nconst VERIFY = {\n  'Verify Lede': 'lede',\n  'Verify Feature': 'lead-story',\n  'Verify Signals': 'campus-stories',\n  'Verify Connectors': 'connector-table',\n  'Verify Flags': 'policy-flags',\n  'Verify Pricing': 'pricing-context'\n};\nlet flags = [];\nfor (const node in VERIFY) {\n  let r = null;\n  try { r = $(node).first().json; } catch (e) { r = null; }\n  const v = claudeJSON(r);\n  if (v && Array.isArray(v.flags)) {\n    for (const f of v.flags) {\n      flags.push({\n        section: f.section || VERIFY[node],\n        issue: String(f.issue || ''),\n        severity: (f.severity === 'block') ? 'block' : 'warn'\n      });\n    }\n  }\n}\nconst blocks = flags.filter(f => f.severity === 'block');\nconst warns = flags.filter(f => f.severity === 'warn');\nreturn [{ json: { hasBlock: blocks.length > 0, blocks, warns, allFlags: flags } }];\n"},"id":"b386932e-9ef0-455d-be61-34e051d82b76"},{"name":"Verification Gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,600],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":2},"conditions":[{"id":"v-block","leftValue":"={{ $json.hasBlock }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"404beb9e-0180-4931-a2aa-b90af7c947ce"},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@gmail.com","subject":"=The Interconnect — DRAFT BLOCKED by verification (Vol {{ $('Set Metadata').first().json.vol }}, No {{ $('Set Metadata').first().json.no }})","emailFormat":"text","text":"=Draft generation was HALTED — verification found blocking issue(s). No draft was written.\n\nBLOCKING:\n{{ $('Collect Verifications').first().json.blocks.map(f => '- ['+f.section+'] '+f.issue).join('\\n') }}\n\nWARNINGS (non-blocking):\n{{ ($('Collect Verifications').first().json.warns||[]).map(f => '- ['+f.section+'] '+f.issue).join('\\n') || 'none' }}\n\nReview the source signals and re-run the draft.","options":{}},"name":"Notify — Verification Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2080,720],"credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}},"id":"98a15fe6-bc8d-42c0-9670-2b161c06551b","webhookId":"7aada737-38e7-4513-8a3c-640f7e0d0ca7"},{"name":"Cross-Section Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,360],"parameters":{"jsCode":"// Cross-Section Dedup — after the HTML is assembled, flag any company/project\n// name that appears in MORE THAN TWO sections as a 'warn'. Merges with the\n// verification warns and carries them forward to Store Draft / the draft email.\nfunction claudeJSON(resp) {\n  try {\n    const c = (resp && resp.content) || [];\n    const t = c.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(t.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nconst j = $input.first().json; // from Code — Inject: { html, vol, no, dateline }\n\nconst lede = (claudeJSON($('Generate Lede').first().json) || {}).lede || '';\nconst feature = claudeJSON($('Generate Feature').first().json) || {};\nconst stories = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors = claudeJSON($('Generate Connectors').first().json) || [];\nconst flags = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing = claudeJSON($('Generate Pricing').first().json) || {};\n\nconst sectionText = {\n  lede: String(lede),\n  feature: [feature.title, feature.dek].concat(feature.paragraphs || []).join(' '),\n  campus: (Array.isArray(stories) ? stories : []).map(s => [s.hed, s.dek].concat(s.paragraphs || []).join(' ')).join(' '),\n  connectors: (Array.isArray(connectors) ? connectors : []).map(c => [c.market_tag, c.load_name, c.load_note, c.supply_note, c.strategic_note].join(' ')).join(' '),\n  flags: (Array.isArray(flags) ? flags : []).map(f => [f.entity, f.note].join(' ')).join(' '),\n  pricing: (pricing.paragraphs || []).join(' ')\n};\n\n// candidate company/project names from structured fields\nconst cands = new Set();\n(Array.isArray(connectors) ? connectors : []).forEach(c => { if (c.load_name) cands.add(String(c.load_name).trim()); });\n(Array.isArray(flags) ? flags : []).forEach(f => { if (f.entity) { const e = String(f.entity).split('·')[0].split('-')[0].trim(); if (e) cands.add(e); } });\n(Array.isArray(stories) ? stories : []).forEach(s => { if (s.hed) { const m = String(s.hed).match(/^([A-Z][A-Za-z0-9&.\\-]+(?:\\s+[A-Z][A-Za-z0-9&.\\-]+){0,2})/); if (m) cands.add(m[1].replace(/['’]s$/, '').trim()); } });\n\nconst xflags = [];\nfor (const name of cands) {\n  if (!name || name.length < 4) continue;\n  const needle = name.toLowerCase();\n  let count = 0;\n  for (const sec in sectionText) { if (String(sectionText[sec]).toLowerCase().indexOf(needle) !== -1) count++; }\n  if (count > 2) xflags.push({ section: 'cross-section', issue: '\"' + name + '\" appears in ' + count + ' sections', severity: 'warn' });\n}\n\nlet warns = [];\ntry { warns = ($('Collect Verifications').first().json.warns || []).slice(); } catch (e) { warns = []; }\nwarns = warns.concat(xflags);\nreturn [{ json: Object.assign({}, j, { warns }) }];\n"},"id":"df0d4a1e-feef-4248-98cd-84348033c226"}],"connections":{"Every Sunday 5am":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Market Signals":{"main":[[{"node":"Fetch Queue Records","type":"main","index":0}]]},"Set Metadata":{"main":[[{"node":"Generate Lede","type":"main","index":0}]]},"Generate Lede":{"main":[[{"node":"Verify Lede","type":"main","index":0}]]},"Generate Signals":{"main":[[{"node":"Verify Signals","type":"main","index":0}]]},"Generate Connectors":{"main":[[{"node":"Verify Connectors","type":"main","index":0}]]},"Code — Inject":{"main":[[{"node":"Cross-Section Dedup","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Queue Records":{"main":[[{"node":"Set Metadata","type":"main","index":0}]]},"Store Draft":{"main":[[{"node":"GitHub — Draft","type":"main","index":0}]]},"Webhook Publish":{"main":[[{"node":"Read Draft","type":"main","index":0}]]},"Read Draft":{"main":[[{"node":"GitHub — Publish","type":"main","index":0}]]},"GitHub — Publish":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}],[{"node":"GitHub — Publish (new file)","type":"main","index":0}]]},"GitHub — Draft":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}],[{"node":"GitHub — Draft (new file)","type":"main","index":0}]]},"GitHub — Draft (new file)":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}]]},"GitHub — Publish (new file)":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}]]},"GitHub — Archive":{"main":[[{"node":"Notify — Published","type":"main","index":0}],[{"node":"GitHub — Archive (new file)","type":"main","index":0}]]},"GitHub — Archive (new file)":{"main":[[{"node":"Notify — Published","type":"main","index":0}]]},"Generate Feature":{"main":[[{"node":"Verify Feature","type":"main","index":0}]]},"Generate Flags":{"main":[[{"node":"Verify Flags","type":"main","index":0}]]},"Generate Pricing":{"main":[[{"node":"Verify Pricing","type":"main","index":0}]]},"Verify Lede":{"main":[[{"node":"Generate Feature","type":"main","index":0}]]},"Verify Feature":{"main":[[{"node":"Generate Signals","type":"main","index":0}]]},"Verify Signals":{"main":[[{"node":"Generate Connectors","type":"main","index":0}]]},"Verify Connectors":{"main":[[{"node":"Generate Flags","type":"main","index":0}]]},"Verify Flags":{"main":[[{"node":"Generate Pricing","type":"main","index":0}]]},"Verify Pricing":{"main":[[{"node":"Collect Verifications","type":"main","index":0}]]},"Collect Verifications":{"main":[[{"node":"Verification Gate","type":"main","index":0}]]},"Verification Gate":{"main":[[{"node":"Notify — Verification Failed","type":"main","index":0}],[{"node":"Code — Inject","type":"main","index":0}]]},"Cross-Section Dedup":{"main":[[{"node":"Store Draft","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Every Sunday 5am":{"recurrenceRules":[]},"global":{"draft_1_2":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>The Interconnect&#8482; — Week of June 14, 2026</title>\n<style>\n:root {\n  --ink:     #16191d;\n  --muted:   #54606e;\n  --faint:   #8a93a1;\n  --line:    #d8dce4;\n  --accent:  #0b5d4e;\n  --a-soft:  #e7f2ef;\n  --gold:    #a06d18;\n  --g-soft:  #f9f1de;\n  --flag:    #8b2020;\n  --paper:   #fdfcfa;\n  --data:    #1a3a6b;\n  --d-soft:  #eaf0f8;\n}\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\nbody {\n  font-family: Georgia, \"Times New Roman\", serif;\n  color: var(--ink);\n  background: #ddd9d2;\n  line-height: 1.58;\n  padding: 28px 12px 48px;\n  -webkit-font-smoothing: antialiased;\n}\n\n.sheet {\n  max-width: 820px;\n  margin: 0 auto;\n  background: var(--paper);\n  box-shadow: 0 4px 32px rgba(20,24,31,.18);\n}\n\n/* ── MASTHEAD ── */\n.masthead {\n  padding: 28px 42px 0;\n  border-bottom: 3px double var(--ink);\n  margin-bottom: 0;\n}\n.kicker {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 3.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  font-weight: 700;\n  margin-bottom: 6px;\n}\n.masthead h1 {\n  font-size: 52px;\n  letter-spacing: -1.5px;\n  line-height: .95;\n  font-weight: 700;\n  margin-bottom: 10px;\n}\n.masthead h1 em {\n  font-style: normal;\n  color: var(--accent);\n}\n.tagline {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n  color: var(--muted);\n  letter-spacing: .2px;\n  margin-bottom: 14px;\n  max-width: 560px;\n  line-height: 1.5;\n}\n.meta-bar {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  padding: 8px 0;\n  border-top: 1px solid var(--line);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9.5px;\n  color: var(--faint);\n  letter-spacing: .8px;\n  text-transform: uppercase;\n}\n.meta-bar strong { color: var(--ink); }\n\n/* ── BODY ── */\n.body { padding: 0 42px 32px; }\n\n/* ── LEDE ── */\n.lede {\n  padding: 22px 0 20px;\n  border-bottom: 1px solid var(--line);\n  margin-bottom: 22px;\n}\n.lede p {\n  font-size: 15.5px;\n  line-height: 1.65;\n  color: var(--ink);\n}\n.lede p + p { margin-top: 10px; }\n.lede .author {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10px;\n  color: var(--faint);\n  letter-spacing: 1px;\n  text-transform: uppercase;\n  margin-top: 14px;\n}\n\n/* ── SECTION HEADERS ── */\n.sec {\n  margin: 28px 0 14px;\n}\n.sec-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 3px;\n  text-transform: uppercase;\n  color: var(--faint);\n  margin-bottom: 4px;\n}\n.sec h2 {\n  font-size: 20px;\n  letter-spacing: -.3px;\n  font-weight: 700;\n  border-bottom: 2px solid var(--ink);\n  padding-bottom: 6px;\n  line-height: 1.2;\n}\n\n/* ── LEAD STORY (full width) ── */\n.lead-story {\n  margin-bottom: 20px;\n  padding-bottom: 20px;\n  border-bottom: 1px solid var(--line);\n}\n.lead-story .hed {\n  font-size: 21px;\n  font-weight: 700;\n  letter-spacing: -.3px;\n  line-height: 1.25;\n  margin-bottom: 6px;\n}\n.lead-story .dek {\n  font-size: 13px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 10px;\n  line-height: 1.5;\n}\n.lead-story .body-text {\n  font-size: 13.5px;\n  line-height: 1.65;\n  color: var(--ink);\n}\n.lead-story .body-text + .body-text { margin-top: 8px; }\n\n/* ── DATA CALLOUT BOX ── */\n.data-box {\n  background: var(--d-soft);\n  border-left: 3px solid var(--data);\n  padding: 12px 14px;\n  margin: 14px 0;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n.data-box .data-label {\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2.5px;\n  text-transform: uppercase;\n  color: var(--data);\n  margin-bottom: 8px;\n}\n.data-box .data-grid {\n  display: grid;\n  grid-template-columns: repeat(3, 1fr);\n  gap: 8px;\n}\n.data-item .num {\n  font-size: 22px;\n  font-weight: 700;\n  color: var(--data);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  line-height: 1;\n}\n.data-item .lbl {\n  font-size: 10px;\n  color: var(--muted);\n  line-height: 1.3;\n  margin-top: 2px;\n}\n\n/* ── STORY GRID (2-col) ── */\n.story-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 0 24px;\n  margin-bottom: 20px;\n}\n.story {\n  padding: 14px 0;\n  border-top: 1px solid var(--line);\n}\n.story .hed {\n  font-size: 14.5px;\n  font-weight: 700;\n  letter-spacing: -.2px;\n  line-height: 1.25;\n  margin-bottom: 5px;\n}\n.story .dek {\n  font-size: 11.5px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 7px;\n}\n.story .body-text {\n  font-size: 12.5px;\n  line-height: 1.6;\n  color: var(--ink);\n}\n\n/* ── CONNECTOR MARKETS TABLE ── */\n.connector-section {\n  margin-bottom: 24px;\n}\n.connector-intro {\n  font-size: 13px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 14px;\n  line-height: 1.55;\n}\n.connector-table {\n  width: 100%;\n  border-collapse: collapse;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n}\n.connector-table th {\n  background: var(--ink);\n  color: #fff;\n  padding: 7px 10px;\n  text-align: left;\n  font-size: 8.5px;\n  letter-spacing: 1.5px;\n  text-transform: uppercase;\n  font-weight: 700;\n}\n.connector-table td {\n  padding: 9px 10px;\n  border-bottom: 1px solid var(--line);\n  vertical-align: top;\n  line-height: 1.4;\n}\n.connector-table tr:nth-child(even) td { background: #f7f6f3; }\n.market-tag {\n  display: inline-block;\n  background: var(--flag);\n  color: #fff;\n  font-size: 9px;\n  font-weight: 700;\n  padding: 1px 6px;\n  border-radius: 2px;\n  letter-spacing: .5px;\n}\n.load-name { font-weight: 700; color: var(--ink); }\n.mw-val { color: var(--data); font-weight: 700; font-size: 12px; }\n.supply-count {\n  font-size: 10px;\n  color: var(--accent);\n  font-weight: 700;\n}\n.queue-note { font-size: 10px; color: var(--muted); margin-top: 2px; }\n\n/* ── QUEUE SPOTLIGHT ── */\n.queue-spotlight {\n  background: var(--a-soft);\n  border: 1px solid #b2d4cc;\n  padding: 14px 16px;\n  margin: 16px 0;\n}\n.queue-spotlight .qs-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 8px;\n}\n.qs-row {\n  display: flex;\n  gap: 16px;\n  flex-wrap: wrap;\n}\n.qs-item {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n.qs-item .qs-id {\n  font-size: 11px;\n  font-weight: 700;\n  color: var(--data);\n  font-family: \"Courier New\", monospace;\n}\n.qs-item .qs-desc {\n  font-size: 10.5px;\n  color: var(--muted);\n  margin-top: 1px;\n}\n\n/* ── SIGNAL FLAGS ── */\n.flag-box {\n  background: var(--g-soft);\n  border-left: 3px solid var(--gold);\n  padding: 10px 14px;\n  margin: 14px 0;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n}\n.flag-label {\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  color: var(--gold);\n  margin-bottom: 6px;\n}\n.flag-item {\n  display: flex;\n  align-items: baseline;\n  gap: 8px;\n  padding: 3px 0;\n  border-bottom: 1px solid #e8dfc8;\n}\n.flag-item:last-child { border-bottom: none; }\n.flag-co { font-weight: 700; color: var(--ink); min-width: 130px; font-size: 11px; }\n.flag-note { color: var(--muted); font-size: 11px; line-height: 1.4; }\n\n/* ── FOOTER ── */\n.footer {\n  background: var(--ink);\n  color: #b0b8c4;\n  padding: 20px 42px;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10px;\n  line-height: 1.7;\n}\n.footer .footer-top {\n  display: flex;\n  justify-content: space-between;\n  align-items: flex-start;\n  margin-bottom: 12px;\n  gap: 24px;\n}\n.footer .brand {\n  font-size: 14px;\n  font-weight: 700;\n  color: #fff;\n  letter-spacing: -.3px;\n  font-family: Georgia, serif;\n  margin-bottom: 3px;\n}\n.footer .tagline-f { color: var(--accent); font-size: 10px; }\n.footer a { color: #7ab8ae; text-decoration: none; }\n.footer a:hover { text-decoration: underline; }\n.footer .disc {\n  font-size: 9.5px;\n  color: #6b7580;\n  border-top: 1px solid #2a3040;\n  padding-top: 12px;\n  margin-top: 4px;\n  line-height: 1.6;\n}\n\n/* ── DIVIDER ── */\n.rule { border: none; border-top: 1px solid var(--line); margin: 22px 0; }\n.rule-thick { border: none; border-top: 2px solid var(--ink); margin: 24px 0; }\n\n/* ── MOBILE ── */\n@media(max-width: 600px) {\n  .sheet { box-shadow: none; }\n  .masthead, .body { padding-left: 20px; padding-right: 20px; }\n  .masthead h1 { font-size: 36px; }\n  .story-grid { grid-template-columns: 1fr; }\n  .data-box .data-grid { grid-template-columns: repeat(2, 1fr); }\n  .footer { padding: 18px 20px; }\n  .footer .footer-top { flex-direction: column; gap: 12px; }\n  .qs-row { flex-direction: column; gap: 10px; }\n}\n</style>\n</head>\n<body>\n<div class=\"sheet\">\n\n  <!-- ══ MASTHEAD ══ -->\n  <div class=\"masthead\">\n    <div class=\"kicker\">NexPhase Advisory &nbsp;·&nbsp; Power Market Intelligence</div>\n    <h1>The <em>Inter</em>connect<sup style=\"font-size:18px;vertical-align:super;letter-spacing:0;font-weight:400;color:var(--muted)\">™</sup></h1>\n    <p class=\"tagline\">Weekly intelligence on power procurement, interconnection queues, and data center development — for teams building at the grid edge.</p>\n    <div class=\"meta-bar\">\n      <span><strong>Week of June 14, 2026</strong> &nbsp;·&nbsp; Vol. 1, No. 2</span>\n      <span>nexphaseadvisory.net</span>\n    </div>\n  </div>\n\n  <!-- ══ BODY ══ -->\n  <div class=\"body\">\n\n    <!-- LEDE -->\n    <div class=\"lede\">\n      <p>Capital formation for data center development is accelerating across every layer of the market — from Stark Power's $140M raise to acquire 5.6GW of development pipeline to Hut 8's $4.25B note offering backing a pre-leased 352MW Texas facility, the financing structures are scaling in lockstep with the megawatts. Geography is spreading too: meaningful activity this week spans ERCOT, PJM Virginia, SPP Kansas, MISO Illinois, and international markets including Spain and Norway, suggesting that hyperscaler and AI demand pressure is exhausting the path-of-least-resistance sites and forcing developers into secondary and tertiary interconnection queues. The Compass Mississippi situation — advancing despite the absence of a regulatory ruling — and Eagle Rock's 1GW Illinois project with a 2029–2030 construction start are both signals that developers are willing to absorb regulatory and timeline risk to secure land and queue position now. For power developers and IPPs, the critical question isn't whether load is coming — it's which jurisdictions will move fast enough on interconnection, transmission, and permitting to capture it before developers route around them.</p>\n      <p>Power market intelligence from a practitioner with two decades in origination and interconnection — 5+ GW delivered to NTP across CAISO, PJM, MISO, ERCOT, and WECC. The analysis connects public news to what's actually moving in the queue.</p>\n    </div>\n\n    <!-- ══ CONNECTOR MARKETS ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Feature</div>\n      <h2>Connector Markets — Load &amp; Supply in the Same Geography</h2>\n    </div>\n\n    <div class=\"connector-section\">\n      <p class=\"connector-intro\">A \"connector market\" exists where a known data center load announcement overlaps with viable generation in the same ISO/state footprint. These are the highest-value origination windows — one conversation can structure both sides of a deal.</p>\n\n      <table class=\"connector-table\">\n        <thead>\n          <tr>\n            <th>Market</th>\n            <th>Load Signal</th>\n            <th>MW</th>\n            <th>Viable Supply in Queue</th>\n            <th>Strategic Note</th>\n          </tr>\n        </thead>\n        <tbody>\n        <tr>\n          <td><span class=\"market-tag\">TX · ERCOT</span></td>\n          <td><span class=\"load-name\">Beacon Point AI / Cipher Mining / Hut 8</span><div class=\"queue-note\">Multiple large-scale TX loads: Beacon Point AI (Nueces Co.), Cipher Mining 500MW near Waco, Hut 8 352MW hyperscaler-leased campus</div></td>\n          <td><span class=\"mw-val\">~1,000–5,600+</span></td>\n          <td><span class=\"supply-count\">5 active ERCOT projects in queue</span><div class=\"queue-note\">Proteus London-Leigh Solar SLF (600MW solar, 345kV Bernoulli); Danish Fields Solar (602.8MW solar, Hillje 345kV, Completed)</div></td>\n          <td style=\"font-size:11px;color:#374151\">Originate behind-the-meter or co-location PPA structures pairing large ERCOT solar/wind actives directly to hyperscale and crypto loads already site-selecting in coastal and central Texas corridors.</td>\n        </tr>\n        <tr>\n          <td><span class=\"market-tag\">IL · MISO</span></td>\n          <td><span class=\"load-name\">Eagle Rock</span><div class=\"queue-note\">Proposed 1GW data center in Christian County, IL; construction window 2029–2030 creates long-lead power procurement opportunity</div></td>\n          <td><span class=\"mw-val\">~1,000</span></td>\n          <td><span class=\"supply-count\">MISO queue entries present (hybrid and diesel actives noted); broader MISO active solar/wind pipeline accessible</span><div class=\"queue-note\">MISO Hybrid active project (10MW, NIPSCO area, WINAMAC–BRUCE LAKE 69kV); larger MISO renewable pipeline accessible via same footprint</div></td>\n          <td style=\"font-size:11px;color:#374151\">Engage Eagle Rock now ahead of their 2029 construction timeline to structure a long-tenor renewable supply agreement or development partnership leveraging MISO's deep Midwest solar and wind interconnection queue.</td>\n        </tr>\n        <tr>\n          <td><span class=\"market-tag\">VA · PJM</span></td>\n          <td><span class=\"load-name\">Tract</span><div class=\"queue-note\">Large data center campus proposed in Goochland County near West Creek corridor, a premier Northern Virginia / Central Virginia DC hub</div></td>\n          <td><span class=\"mw-val\">~500–2,000+ (campus scale)</span></td>\n          <td><span class=\"supply-count\">PJM queue has active solar entries; Victoria DP-Martin DP 115kV solar (90MW) noted though withdrawn; broader PJM solar pipeline substantial</span><div class=\"queue-note\">Victoria DP-Martin DP 115kV (90MW solar, PJM, withdrawn—site potentially re-claimable); PJM active solar development pipeline in VA/adjacent states</div></td>\n          <td style=\"font-size:11px;color:#374151\">Target Tract's Goochland campus with a Virginia-sited PJM renewable PPA or ownership stake in a shovel-ready project, capitalizing on Virginia's RPS mandates and proximity to the West Creek data center corridor to accelerate deal closure.</td>\n        </tr>\n        </tbody>\n      </table>\n\n      <div class=\"queue-spotlight\">\n        <div class=\"qs-label\">Queue Spotlight — Highest-Capacity Acquisition Targets This Week</div>\n        <div class=\"qs-row\">\n        <div class=\"qs-item\">\n            <div class=\"qs-id\">Danish Fields Solar</div>\n            <div class=\"qs-desc\">602.8 MW Solar - Photovoltaic Solar · ERCOT<br>Completed · 44200 Hillje 345kV</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Proteus London-Leigh Solar SLF</div>\n            <div class=\"qs-desc\">600 MW Solar - Photovoltaic Solar · ERCOT<br>Active · 345kV Bernoulli (bus # 59907)</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Wind</div>\n            <div class=\"qs-desc\">376.2 MW WND · ISONE<br>Withdrawn · MEPCO 396 line</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Prairie Power Wind</div>\n            <div class=\"qs-desc\">302.9 MW Wind - Wind Turbine · ERCOT<br>Active · Tap 345 kV Longshore Switch (Bus# 1058) to Cattleman Switch (Bus# 10053) CKT 4</div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <hr class=\"rule-thick\">\n\n    <!-- ══ LEAD STORY ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Interconnection</div>\n      <h2>Brownfield Grid Assets Emerge as the New Interconnection Arbitrage</h2>\n    </div>\n\n    <div class=\"lead-story\">\n      <p class=\"dek\">As greenfield queue positions stretch toward decade-long timelines, developers are repricing retired thermal sites and utility-adjacent parcels as the fastest path to energized capacity.</p>\n      <p class=\"body-text\">The week's deal flow carries a structural signal that practitioners should not miss: the most credible near-term data center announcements are clustering around existing grid infrastructure rather than competing for fresh interconnection positions. Cipher Mining's 500 MW campus outside Waco is the clearest expression of this logic — a retired coal plant site brings existing substation equipment, transmission ties, and land already zoned for heavy industrial use. That package can compress the path to energization by three to five years relative to a comparable greenfield application entering ERCOT's interconnection queue today. Hut 8's $4.25 billion note offering to fund 352 MW of pre-leased Texas capacity follows the same thread: lenders are pricing brownfield interconnection certainty as a distinct and bankable credit attribute.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The parallel activity in PJM territory reinforces the theme. Tract's proposed campus near Goochland County's West Creek corridor and Eagle Rock's 1 GW Illinois project — with a 2029-2030 construction start explicitly flagged — are both indicative of developers stress-testing queue math in real time. Eagle Rock's four-to-five-year runway is not a sign of slow development; it is a candid acknowledgment that a gigawatt-scale load request entering the PJM cluster study process today cannot realistically achieve commercial operation before that window. The Stark Power acquisition of Sagebrush's 5.6 GW portfolio for roughly $140 million is similarly instructive: at approximately $25 per kilowatt of development-stage capacity, the market is assigning discrete value to queue position vintage and site control independent of any construction activity.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Utility-led siting, represented this week by Evergy exploring a Topeka data center directly, introduces a variable that IPP developers cannot ignore. When a vertically integrated utility controls both the load interconnection and the generation dispatch, it can effectively pre-clear the grid-impact studies that constitute the primary bottleneck for independent applicants. That structural advantage will attract hyperscaler and co-location demand away from merchant developers in regulated states unless those developers have already secured study-phase milestones. The Compass Datacenters situation in Mississippi — advancing despite the state declining to issue a regulatory ruling — illustrates the converse risk: proceeding without a cleared regulatory path creates title and financing exposure that most institutional capital will not accept at scale.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The actionable takeaway for developers and data-center operators is a tightening bifurcation in asset quality. Interconnection positions with completed cluster studies or approved network upgrade agreements are trading as infrastructure, not development-stage paper. Everything behind that threshold is speculative in the queue-risk sense, regardless of how attractive the load economics appear. Teams sizing capital deployment for 2025 and 2026 should be underwriting not just megawatts and offtake terms but the specific study phase, deposit status, and withdrawal rate of the queue class in which their target sites sit. In the current environment, those three variables are doing more work on project IRR than any reasonable assumption about power price.</p>\n      <div class=\"data-box\">\n        <div class=\"data-label\">Selected Weekly Signals — Capacity &amp; Queue Exposure (Source: NexPhase Advisory / Public Filings)</div>\n        <div class=\"data-grid\">\n          <div class=\"data-item\"><div class=\"num\">5.6 GW</div><div class=\"lbl\">Data center development portfolio acquired by Stark Power, ~$25/kW implied development-stage value</div></div>\n          <div class=\"data-item\"><div class=\"num\">1.85 GW</div><div class=\"lbl\">Combined Texas capacity (Cipher 500MW + Hut 8 352MW + Beacon Point undisclosed) anchored to brownfield or retired-plant grid ties announced this week</div></div>\n          <div class=\"data-item\"><div class=\"num\">2029–30</div><div class=\"lbl\">Earliest realistic construction start cited by Eagle Rock for 1 GW Illinois project, reflecting current PJM cluster study backlog</div></div>\n        </div>\n      </div>\n    </div>\n\n    <!-- ══ 2-COL STORIES ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Development Activity</div>\n      <h2>Campus Announcements — Scale &amp; Power Implications</h2>\n    </div>\n\n    <div class=\"story-grid\">\n    <div class=\"story\">\n        <div class=\"hed\">Stark Power Absorbs 5.6GW Pipeline in $140M Deal</div>\n        <div class=\"dek\">Stark Power's acquisition of Sagebrush's development portfolio instantly creates one of the largest speculative data-center pipelines in North America.</div>\n        <p class=\"body-text\">The deal is a bet on pipeline scarcity: as greenfield interconnection queues lengthen and site control becomes a competitive moat, acquiring 5.6 gigawatts of pre-positioned development rights can be worth more than the capital required to close. Raising roughly $140 million to fund the transaction suggests Stark has secured institutional conviction that at least a material fraction of that pipeline will reach notice-to-proceed. For transmission planners and utilities, 5.6 GW of latent load—even discounted heavily for attrition—represents a planning signal that cannot be ignored.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Practitioners should watch which submarkets sit inside the Sagebrush portfolio. If the sites cluster around constrained load pockets—ERCOT West, PJM western interface, or SPP—the acquisition could accelerate queue reform pressure in those zones. Interconnection deposits and queue position transfers will be the first test of whether the MW figure holds up under due diligence.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Texas Emerges as Multi-Project Focal Point This Week</div>\n        <div class=\"dek\">Cipher Mining's 500MW Waco-area campus and Hut 8's $4.25B note offering backing a 352MW hyperscaler-leased Texas facility headline a burst of Lone Star load growth signals.</div>\n        <p class=\"body-text\">Cipher Mining's brownfield strategy—co-locating at a retired coal plant outside Waco—is the more structurally interesting story for grid operators. Existing high-voltage infrastructure, already-permitted substation footprints, and established transmission rights can shave 18–36 months off a greenfield interconnection timeline in ERCOT, where large-load studies have grown increasingly congested. At 500 MW, the project would rank among the larger single-campus loads ERCOT has processed, and its proximity to retiring thermal capacity creates a load-follows-generation dynamic that ERCOT's nodal market is watching closely.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Hut 8's $4.25 billion note offering for a 352 MW pre-leased facility underscores how hyperscaler off-take is now functioning as investment-grade collateral in capital markets. The undisclosed tenant's commitment de-risks the debt stack and signals that hyperscalers are willing to sign long-dated leases on Texas capacity despite the state's summer reliability concerns—a vote of confidence in ERCOT's ongoing resource adequacy reforms. Separately, Beacon Point AI's announced presence in Nueces County adds yet another demand node to the South Texas transmission corridor, which is already strained by offshore wind interconnection requests.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Eagle Rock's 1GW Illinois Proposal Tests Midcontinent Load Appetite</div>\n        <div class=\"dek\">Eagle Rock's 1,000 MW Christian County, Illinois campus, with construction not starting until 2029–2030, puts long-lead transmission planning for MISO Zone 4 under the microscope.</div>\n        <p class=\"body-text\">At one gigawatt, the Eagle Rock proposal would be a transformational load addition for MISO's Illinois load zone, a region that has historically been characterized by flat or declining industrial demand. The 2029–2030 construction window is not a weakness—it is a prerequisite. Large-load interconnection in MISO currently requires navigating the Definitive Planning Phase, a multi-year study cycle that means a project committing capital today is threading the needle just in time for that timeline. Developers and utilities in the footprint should treat this as a forward indicator of transmission upgrade needs on the 345 kV backbone serving central Illinois.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The broader implication is thematic: inland Midwest sites are increasingly attractive as coastal and Texas markets face queue congestion, water constraints, and community opposition. Christian County's relatively low land costs, available right-of-way, and proximity to MISO's high-voltage spine make it a replicable template. Expect similar proposals to surface in Iowa, Indiana, and Missouri in coming quarters as developers race to establish queue position before MISO's next planning cycle closes.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Community Opposition and Regulatory Friction Slow Two Projects</div>\n        <div class=\"dek\">DC BLOX's Nashville proposal faces a 386,000-signature petition and potential moratorium, while Compass Datacenters presses forward in Mississippi after the state declined to issue a regulatory ruling.</div>\n        <p class=\"body-text\">The DC BLOX situation in Nashville is a leading indicator of the permitting risk now embedded in urban and peri-urban data center development. A 386,000-signature petition is not a NIMBY footnote—it is a political forcing function that can trigger city council moratoriums, revised zoning ordinances, and utility interconnection holds. For practitioners underwriting development timelines, community opposition of this magnitude adds a probabilistic delay of 12–24 months even if the project ultimately clears, and it elevates the cost of capital for comparable projects in dense metros.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The Mississippi dynamic is structurally different but equally instructive. Compass Datacenters advancing despite the state declining a regulatory ruling suggests the developer is either self-funding interconnection costs or has negotiated a direct utility agreement that sidesteps the formal rate-case process. That approach accelerates timelines but concentrates regulatory and cost-recovery risk on the utility, a trade-off that Mississippi Public Service Commission staff are likely to revisit once the project scale becomes apparent. Both cases reinforce a market-wide lesson: site control and interconnection rights are necessary but insufficient—social and regulatory license are now first-order project risks.</p>\n      </div>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ REGULATORY ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Regulatory &amp; Policy</div>\n      <h2>Signals Worth Watching</h2>\n    </div>\n\n    <div class=\"flag-box\">\n      <div class=\"flag-label\">This Week's Policy Flags</div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">DC BLOX · Nashville, TN</span>\n        <span class=\"flag-note\">A 386K+ signature petition and potential moratorium threat against DC BLOX's Nashville campus signals rising community-opposition risk in mid-size metros; developers should monitor whether Nashville City Council moves to codify a moratorium, which could set a precedent for similar opposition in other non-traditional data center markets.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Compass Datacenters · Mississippi</span>\n        <span class=\"flag-note\">Mississippi regulators declined to issue a ruling on Compass's project, leaving the regulatory pathway ambiguous; watch whether the state legislature or utility commission steps in to clarify interconnection or rate treatment for large loads, as the outcome will indicate how receptive Southern utility jurisdictions are to hosting hyperscale demand.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Eagle Rock · Christian Co., IL</span>\n        <span class=\"flag-note\">A 1GW project with a construction start not until 2029-2030 underscores the lengthening queue timelines on MISO interconnection and raises questions about how Illinois regulators handle large speculative load requests; developers should track whether MISO's new queue reform rules accelerate or further delay this project's interconnection study.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Evergy · Topeka, KS</span>\n        <span class=\"flag-note\">A utility directly siting its own data center is an emerging market-structure shift that could give Evergy preferential access to grid capacity and rate structures unavailable to independent developers; watch Kansas Corporation Commission filings for any self-dealing or rate design implications that could disadvantage third-party co-location developers in the region.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Cipher Mining · Waco, TX (retired coal plant)</span>\n        <span class=\"flag-note\">Repurposing retired coal plant infrastructure for a 500MW campus highlights a growing strategy to leapfrog ERCOT interconnection queues by leveraging existing transmission assets; developers should monitor PUCT and ERCOT policy on whether brownfield-to-data-center conversions receive expedited interconnection treatment or face the same queue constraints as greenfield projects.</span>\n      </div>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ PPA MARKET ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">PPA &amp; Financing</div>\n      <h2>Market Pricing Context</h2>\n    </div>\n\n    <div class=\"lead-story\" style=\"margin-bottom:0;padding-bottom:0;border-bottom:none\">\n    <p class=\"body-text\">Hut 8's $4.25bn note offering to finance its 352MW Texas campus — pre-leased to an undisclosed hyperscaler — is the clearest pricing signal in this week's tape. That works out to roughly $12,100/kW in total capitalization, which sits at the high end of what we've been tracking for purpose-built, hyperscaler-anchor campuses but is defensible given the pre-lease credit wrap and the tight Texas grid interconnect scarcity premium. The structure itself is instructive: rather than project-level debt or a tax equity flip, Hut 8 went corporate unsecured, suggesting lenders are increasingly willing to underwrite the consolidated balance sheet of scaled operators with a contracted anchor tenant, effectively treating the hyperscaler offtake as a de facto investment-grade shadow credit. That's a financing template worth watching as Stark Power absorbs Sagebrush's 5.6GW portfolio — $140m of equity raised against 5.6GW implies a land-and-entitlement value of roughly $25/kW, which is thin enough to suggest Stark is betting almost entirely on future PPA execution rather than paying for development optionality.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Across the broader development signals, the geographic spread — Nueces County TX, Goochland VA, Christian County IL, Adelaide AU — reflects developers chasing the last pockets of affordable and available interconnect rather than optimizing around PPA pricing. The Cipher Mining play near the retired Waco coal plant is a direct expression of that logic: stranded transmission capacity is being monetized at a discount to greenfield interconnect queue costs, and behind-the-meter or pseudo-behind-the-meter structures at brownfield sites are increasingly the only way to get sub-$50/MWh all-in energy economics in ERCOT without a multi-year queue wait. The Ignis/DayOne €3bn, 300MW Aragon project implies a total project cost around €10,000/kW in European terms, where grid fees and offtake structures differ materially, but the PPA dynamics are similar — developers are locking bilateral renewable PPAs in the €55–75/MWh range where they can to insulate from Iberian merchant exposure. The Jane Street self-build signal is a quieter but meaningful datapoint: when sophisticated capital allocators decide the PPA market isn't offering terms worth accepting and opt to own the iron outright, it's a signal that hyperscaler and institutional buyers perceive structural upside in data center energy costs that they'd rather capture than hedge away.</p>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ ABOUT ══ -->\n    <div class=\"sec\" style=\"margin-top:24px\">\n      <div class=\"sec-label\">About This Brief</div>\n      <h2>NexPhase Advisory</h2>\n    </div>\n    <p style=\"font-size:13px;line-height:1.65;color:var(--muted);margin-bottom:10px\">\n      <em>The Interconnect</em> is produced by NexPhase Advisory — a power origination and interconnection strategy practice serving data center developers, IPPs, and investors navigating the US power market. Service lines include interconnection queue strategy, deliverability analysis (CAISO TPD, PJM NLTP, MISO GIA), PPA origination, and market entry advisory.\n    </p>\n    <p style=\"font-size:13px;line-height:1.65;color:var(--muted)\">\n      Questions, feedback, or to discuss a specific market or project: <a href=\"mailto:info@nexphaseadvisory.net\" style=\"color:var(--accent);text-decoration:none;font-weight:600\">info@nexphaseadvisory.net</a>\n    </p>\n\n  </div><!-- /body -->\n\n  <!-- ══ FOOTER ══ -->\n  <div class=\"footer\">\n    <div class=\"footer-top\">\n      <div>\n        <div class=\"brand\">NexPhase Advisory</div>\n        <div class=\"tagline-f\">Power Origination · Interconnection · Market Strategy</div>\n      </div>\n      <div style=\"text-align:right\">\n        <div><a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a></div>\n        <div style=\"margin-top:3px\">Week of June 14, 2026 &nbsp;·&nbsp; Vol. 1, No. 2</div>\n      </div>\n    </div>\n    <div class=\"disc\">\n      Queue data sourced from public ISO/RTO interconnection queues (PJM, WECC, MISO, ERCOT, NYISO, SPP) as of June 14, 2026. Market signals sourced from public news. Analysis represents the professional judgment of NexPhase Advisory and does not constitute investment, legal, or regulatory advice. Recipients may forward with attribution. To be removed from distribution: <a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a>\n    </div>\n  </div>\n\n</div><!-- /sheet -->\n</body>\n</html>\n","vol":1,"no":2,"dateline":"Week of June 14, 2026"},"latestDraft":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>The Interconnect&#8482; — Week of June 14, 2026</title>\n<style>\n:root {\n  --ink:     #16191d;\n  --muted:   #54606e;\n  --faint:   #8a93a1;\n  --line:    #d8dce4;\n  --accent:  #0b5d4e;\n  --a-soft:  #e7f2ef;\n  --gold:    #a06d18;\n  --g-soft:  #f9f1de;\n  --flag:    #8b2020;\n  --paper:   #fdfcfa;\n  --data:    #1a3a6b;\n  --d-soft:  #eaf0f8;\n}\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\nbody {\n  font-family: Georgia, \"Times New Roman\", serif;\n  color: var(--ink);\n  background: #ddd9d2;\n  line-height: 1.58;\n  padding: 28px 12px 48px;\n  -webkit-font-smoothing: antialiased;\n}\n\n.sheet {\n  max-width: 820px;\n  margin: 0 auto;\n  background: var(--paper);\n  box-shadow: 0 4px 32px rgba(20,24,31,.18);\n}\n\n/* ── MASTHEAD ── */\n.masthead {\n  padding: 28px 42px 0;\n  border-bottom: 3px double var(--ink);\n  margin-bottom: 0;\n}\n.kicker {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 3.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  font-weight: 700;\n  margin-bottom: 6px;\n}\n.masthead h1 {\n  font-size: 52px;\n  letter-spacing: -1.5px;\n  line-height: .95;\n  font-weight: 700;\n  margin-bottom: 10px;\n}\n.masthead h1 em {\n  font-style: normal;\n  color: var(--accent);\n}\n.tagline {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n  color: var(--muted);\n  letter-spacing: .2px;\n  margin-bottom: 14px;\n  max-width: 560px;\n  line-height: 1.5;\n}\n.meta-bar {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  padding: 8px 0;\n  border-top: 1px solid var(--line);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9.5px;\n  color: var(--faint);\n  letter-spacing: .8px;\n  text-transform: uppercase;\n}\n.meta-bar strong { color: var(--ink); }\n\n/* ── BODY ── */\n.body { padding: 0 42px 32px; }\n\n/* ── LEDE ── */\n.lede {\n  padding: 22px 0 20px;\n  border-bottom: 1px solid var(--line);\n  margin-bottom: 22px;\n}\n.lede p {\n  font-size: 15.5px;\n  line-height: 1.65;\n  color: var(--ink);\n}\n.lede p + p { margin-top: 10px; }\n.lede .author {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10px;\n  color: var(--faint);\n  letter-spacing: 1px;\n  text-transform: uppercase;\n  margin-top: 14px;\n}\n\n/* ── SECTION HEADERS ── */\n.sec {\n  margin: 28px 0 14px;\n}\n.sec-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 3px;\n  text-transform: uppercase;\n  color: var(--faint);\n  margin-bottom: 4px;\n}\n.sec h2 {\n  font-size: 20px;\n  letter-spacing: -.3px;\n  font-weight: 700;\n  border-bottom: 2px solid var(--ink);\n  padding-bottom: 6px;\n  line-height: 1.2;\n}\n\n/* ── LEAD STORY (full width) ── */\n.lead-story {\n  margin-bottom: 20px;\n  padding-bottom: 20px;\n  border-bottom: 1px solid var(--line);\n}\n.lead-story .hed {\n  font-size: 21px;\n  font-weight: 700;\n  letter-spacing: -.3px;\n  line-height: 1.25;\n  margin-bottom: 6px;\n}\n.lead-story .dek {\n  font-size: 13px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 10px;\n  line-height: 1.5;\n}\n.lead-story .body-text {\n  font-size: 13.5px;\n  line-height: 1.65;\n  color: var(--ink);\n}\n.lead-story .body-text + .body-text { margin-top: 8px; }\n\n/* ── DATA CALLOUT BOX ── */\n.data-box {\n  background: var(--d-soft);\n  border-left: 3px solid var(--data);\n  padding: 12px 14px;\n  margin: 14px 0;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n.data-box .data-label {\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2.5px;\n  text-transform: uppercase;\n  color: var(--data);\n  margin-bottom: 8px;\n}\n.data-box .data-grid {\n  display: grid;\n  grid-template-columns: repeat(3, 1fr);\n  gap: 8px;\n}\n.data-item .num {\n  font-size: 22px;\n  font-weight: 700;\n  color: var(--data);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  line-height: 1;\n}\n.data-item .lbl {\n  font-size: 10px;\n  color: var(--muted);\n  line-height: 1.3;\n  margin-top: 2px;\n}\n\n/* ── STORY GRID (2-col) ── */\n.story-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 0 24px;\n  margin-bottom: 20px;\n}\n.story {\n  padding: 14px 0;\n  border-top: 1px solid var(--line);\n}\n.story .hed {\n  font-size: 14.5px;\n  font-weight: 700;\n  letter-spacing: -.2px;\n  line-height: 1.25;\n  margin-bottom: 5px;\n}\n.story .dek {\n  font-size: 11.5px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 7px;\n}\n.story .body-text {\n  font-size: 12.5px;\n  line-height: 1.6;\n  color: var(--ink);\n}\n\n/* ── CONNECTOR MARKETS TABLE ── */\n.connector-section {\n  margin-bottom: 24px;\n}\n.connector-intro {\n  font-size: 13px;\n  color: var(--muted);\n  font-style: italic;\n  margin-bottom: 14px;\n  line-height: 1.55;\n}\n.connector-table {\n  width: 100%;\n  border-collapse: collapse;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n}\n.connector-table th {\n  background: var(--ink);\n  color: #fff;\n  padding: 7px 10px;\n  text-align: left;\n  font-size: 8.5px;\n  letter-spacing: 1.5px;\n  text-transform: uppercase;\n  font-weight: 700;\n}\n.connector-table td {\n  padding: 9px 10px;\n  border-bottom: 1px solid var(--line);\n  vertical-align: top;\n  line-height: 1.4;\n}\n.connector-table tr:nth-child(even) td { background: #f7f6f3; }\n.market-tag {\n  display: inline-block;\n  background: var(--flag);\n  color: #fff;\n  font-size: 9px;\n  font-weight: 700;\n  padding: 1px 6px;\n  border-radius: 2px;\n  letter-spacing: .5px;\n}\n.load-name { font-weight: 700; color: var(--ink); }\n.mw-val { color: var(--data); font-weight: 700; font-size: 12px; }\n.supply-count {\n  font-size: 10px;\n  color: var(--accent);\n  font-weight: 700;\n}\n.queue-note { font-size: 10px; color: var(--muted); margin-top: 2px; }\n\n/* ── QUEUE SPOTLIGHT ── */\n.queue-spotlight {\n  background: var(--a-soft);\n  border: 1px solid #b2d4cc;\n  padding: 14px 16px;\n  margin: 16px 0;\n}\n.queue-spotlight .qs-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 8px;\n}\n.qs-row {\n  display: flex;\n  gap: 16px;\n  flex-wrap: wrap;\n}\n.qs-item {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n.qs-item .qs-id {\n  font-size: 11px;\n  font-weight: 700;\n  color: var(--data);\n  font-family: \"Courier New\", monospace;\n}\n.qs-item .qs-desc {\n  font-size: 10.5px;\n  color: var(--muted);\n  margin-top: 1px;\n}\n\n/* ── SIGNAL FLAGS ── */\n.flag-box {\n  background: var(--g-soft);\n  border-left: 3px solid var(--gold);\n  padding: 10px 14px;\n  margin: 14px 0;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n}\n.flag-label {\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  color: var(--gold);\n  margin-bottom: 6px;\n}\n.flag-item {\n  display: flex;\n  align-items: baseline;\n  gap: 8px;\n  padding: 3px 0;\n  border-bottom: 1px solid #e8dfc8;\n}\n.flag-item:last-child { border-bottom: none; }\n.flag-co { font-weight: 700; color: var(--ink); min-width: 130px; font-size: 11px; }\n.flag-note { color: var(--muted); font-size: 11px; line-height: 1.4; }\n\n/* ── FOOTER ── */\n.footer {\n  background: var(--ink);\n  color: #b0b8c4;\n  padding: 20px 42px;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10px;\n  line-height: 1.7;\n}\n.footer .footer-top {\n  display: flex;\n  justify-content: space-between;\n  align-items: flex-start;\n  margin-bottom: 12px;\n  gap: 24px;\n}\n.footer .brand {\n  font-size: 14px;\n  font-weight: 700;\n  color: #fff;\n  letter-spacing: -.3px;\n  font-family: Georgia, serif;\n  margin-bottom: 3px;\n}\n.footer .tagline-f { color: var(--accent); font-size: 10px; }\n.footer a { color: #7ab8ae; text-decoration: none; }\n.footer a:hover { text-decoration: underline; }\n.footer .disc {\n  font-size: 9.5px;\n  color: #6b7580;\n  border-top: 1px solid #2a3040;\n  padding-top: 12px;\n  margin-top: 4px;\n  line-height: 1.6;\n}\n\n/* ── DIVIDER ── */\n.rule { border: none; border-top: 1px solid var(--line); margin: 22px 0; }\n.rule-thick { border: none; border-top: 2px solid var(--ink); margin: 24px 0; }\n\n/* ── MOBILE ── */\n@media(max-width: 600px) {\n  .sheet { box-shadow: none; }\n  .masthead, .body { padding-left: 20px; padding-right: 20px; }\n  .masthead h1 { font-size: 36px; }\n  .story-grid { grid-template-columns: 1fr; }\n  .data-box .data-grid { grid-template-columns: repeat(2, 1fr); }\n  .footer { padding: 18px 20px; }\n  .footer .footer-top { flex-direction: column; gap: 12px; }\n  .qs-row { flex-direction: column; gap: 10px; }\n}\n</style>\n</head>\n<body>\n<div class=\"sheet\">\n\n  <!-- ══ MASTHEAD ══ -->\n  <div class=\"masthead\">\n    <div class=\"kicker\">NexPhase Advisory &nbsp;·&nbsp; Power Market Intelligence</div>\n    <h1>The <em>Inter</em>connect<sup style=\"font-size:18px;vertical-align:super;letter-spacing:0;font-weight:400;color:var(--muted)\">™</sup></h1>\n    <p class=\"tagline\">Weekly intelligence on power procurement, interconnection queues, and data center development — for teams building at the grid edge.</p>\n    <div class=\"meta-bar\">\n      <span><strong>Week of June 14, 2026</strong> &nbsp;·&nbsp; Vol. 1, No. 2</span>\n      <span>nexphaseadvisory.net</span>\n    </div>\n  </div>\n\n  <!-- ══ BODY ══ -->\n  <div class=\"body\">\n\n    <!-- LEDE -->\n    <div class=\"lede\">\n      <p>Capital formation for data center development is accelerating across every layer of the market — from Stark Power's $140M raise to acquire 5.6GW of development pipeline to Hut 8's $4.25B note offering backing a pre-leased 352MW Texas facility, the financing structures are scaling in lockstep with the megawatts. Geography is spreading too: meaningful activity this week spans ERCOT, PJM Virginia, SPP Kansas, MISO Illinois, and international markets including Spain and Norway, suggesting that hyperscaler and AI demand pressure is exhausting the path-of-least-resistance sites and forcing developers into secondary and tertiary interconnection queues. The Compass Mississippi situation — advancing despite the absence of a regulatory ruling — and Eagle Rock's 1GW Illinois project with a 2029–2030 construction start are both signals that developers are willing to absorb regulatory and timeline risk to secure land and queue position now. For power developers and IPPs, the critical question isn't whether load is coming — it's which jurisdictions will move fast enough on interconnection, transmission, and permitting to capture it before developers route around them.</p>\n      <p>Power market intelligence from a practitioner with two decades in origination and interconnection — 5+ GW delivered to NTP across CAISO, PJM, MISO, ERCOT, and WECC. The analysis connects public news to what's actually moving in the queue.</p>\n    </div>\n\n    <!-- ══ CONNECTOR MARKETS ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Feature</div>\n      <h2>Connector Markets — Load &amp; Supply in the Same Geography</h2>\n    </div>\n\n    <div class=\"connector-section\">\n      <p class=\"connector-intro\">A \"connector market\" exists where a known data center load announcement overlaps with viable generation in the same ISO/state footprint. These are the highest-value origination windows — one conversation can structure both sides of a deal.</p>\n\n      <table class=\"connector-table\">\n        <thead>\n          <tr>\n            <th>Market</th>\n            <th>Load Signal</th>\n            <th>MW</th>\n            <th>Viable Supply in Queue</th>\n            <th>Strategic Note</th>\n          </tr>\n        </thead>\n        <tbody>\n        <tr>\n          <td><span class=\"market-tag\">TX · ERCOT</span></td>\n          <td><span class=\"load-name\">Beacon Point AI / Cipher Mining / Hut 8</span><div class=\"queue-note\">Multiple large-scale TX loads: Beacon Point AI (Nueces Co.), Cipher Mining 500MW near Waco, Hut 8 352MW hyperscaler-leased campus</div></td>\n          <td><span class=\"mw-val\">~1,000–5,600+</span></td>\n          <td><span class=\"supply-count\">5 active ERCOT projects in queue</span><div class=\"queue-note\">Proteus London-Leigh Solar SLF (600MW solar, 345kV Bernoulli); Danish Fields Solar (602.8MW solar, Hillje 345kV, Completed)</div></td>\n          <td style=\"font-size:11px;color:#374151\">Originate behind-the-meter or co-location PPA structures pairing large ERCOT solar/wind actives directly to hyperscale and crypto loads already site-selecting in coastal and central Texas corridors.</td>\n        </tr>\n        <tr>\n          <td><span class=\"market-tag\">IL · MISO</span></td>\n          <td><span class=\"load-name\">Eagle Rock</span><div class=\"queue-note\">Proposed 1GW data center in Christian County, IL; construction window 2029–2030 creates long-lead power procurement opportunity</div></td>\n          <td><span class=\"mw-val\">~1,000</span></td>\n          <td><span class=\"supply-count\">MISO queue entries present (hybrid and diesel actives noted); broader MISO active solar/wind pipeline accessible</span><div class=\"queue-note\">MISO Hybrid active project (10MW, NIPSCO area, WINAMAC–BRUCE LAKE 69kV); larger MISO renewable pipeline accessible via same footprint</div></td>\n          <td style=\"font-size:11px;color:#374151\">Engage Eagle Rock now ahead of their 2029 construction timeline to structure a long-tenor renewable supply agreement or development partnership leveraging MISO's deep Midwest solar and wind interconnection queue.</td>\n        </tr>\n        <tr>\n          <td><span class=\"market-tag\">VA · PJM</span></td>\n          <td><span class=\"load-name\">Tract</span><div class=\"queue-note\">Large data center campus proposed in Goochland County near West Creek corridor, a premier Northern Virginia / Central Virginia DC hub</div></td>\n          <td><span class=\"mw-val\">~500–2,000+ (campus scale)</span></td>\n          <td><span class=\"supply-count\">PJM queue has active solar entries; Victoria DP-Martin DP 115kV solar (90MW) noted though withdrawn; broader PJM solar pipeline substantial</span><div class=\"queue-note\">Victoria DP-Martin DP 115kV (90MW solar, PJM, withdrawn—site potentially re-claimable); PJM active solar development pipeline in VA/adjacent states</div></td>\n          <td style=\"font-size:11px;color:#374151\">Target Tract's Goochland campus with a Virginia-sited PJM renewable PPA or ownership stake in a shovel-ready project, capitalizing on Virginia's RPS mandates and proximity to the West Creek data center corridor to accelerate deal closure.</td>\n        </tr>\n        </tbody>\n      </table>\n\n      <div class=\"queue-spotlight\">\n        <div class=\"qs-label\">Queue Spotlight — Highest-Capacity Acquisition Targets This Week</div>\n        <div class=\"qs-row\">\n        <div class=\"qs-item\">\n            <div class=\"qs-id\">Danish Fields Solar</div>\n            <div class=\"qs-desc\">602.8 MW Solar - Photovoltaic Solar · ERCOT<br>Completed · 44200 Hillje 345kV</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Proteus London-Leigh Solar SLF</div>\n            <div class=\"qs-desc\">600 MW Solar - Photovoltaic Solar · ERCOT<br>Active · 345kV Bernoulli (bus # 59907)</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Wind</div>\n            <div class=\"qs-desc\">376.2 MW WND · ISONE<br>Withdrawn · MEPCO 396 line</div>\n          </div>\n          <div class=\"qs-item\">\n            <div class=\"qs-id\">Prairie Power Wind</div>\n            <div class=\"qs-desc\">302.9 MW Wind - Wind Turbine · ERCOT<br>Active · Tap 345 kV Longshore Switch (Bus# 1058) to Cattleman Switch (Bus# 10053) CKT 4</div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <hr class=\"rule-thick\">\n\n    <!-- ══ LEAD STORY ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Interconnection</div>\n      <h2>Brownfield Grid Assets Emerge as the New Interconnection Arbitrage</h2>\n    </div>\n\n    <div class=\"lead-story\">\n      <p class=\"dek\">As greenfield queue positions stretch toward decade-long timelines, developers are repricing retired thermal sites and utility-adjacent parcels as the fastest path to energized capacity.</p>\n      <p class=\"body-text\">The week's deal flow carries a structural signal that practitioners should not miss: the most credible near-term data center announcements are clustering around existing grid infrastructure rather than competing for fresh interconnection positions. Cipher Mining's 500 MW campus outside Waco is the clearest expression of this logic — a retired coal plant site brings existing substation equipment, transmission ties, and land already zoned for heavy industrial use. That package can compress the path to energization by three to five years relative to a comparable greenfield application entering ERCOT's interconnection queue today. Hut 8's $4.25 billion note offering to fund 352 MW of pre-leased Texas capacity follows the same thread: lenders are pricing brownfield interconnection certainty as a distinct and bankable credit attribute.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The parallel activity in PJM territory reinforces the theme. Tract's proposed campus near Goochland County's West Creek corridor and Eagle Rock's 1 GW Illinois project — with a 2029-2030 construction start explicitly flagged — are both indicative of developers stress-testing queue math in real time. Eagle Rock's four-to-five-year runway is not a sign of slow development; it is a candid acknowledgment that a gigawatt-scale load request entering the PJM cluster study process today cannot realistically achieve commercial operation before that window. The Stark Power acquisition of Sagebrush's 5.6 GW portfolio for roughly $140 million is similarly instructive: at approximately $25 per kilowatt of development-stage capacity, the market is assigning discrete value to queue position vintage and site control independent of any construction activity.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Utility-led siting, represented this week by Evergy exploring a Topeka data center directly, introduces a variable that IPP developers cannot ignore. When a vertically integrated utility controls both the load interconnection and the generation dispatch, it can effectively pre-clear the grid-impact studies that constitute the primary bottleneck for independent applicants. That structural advantage will attract hyperscaler and co-location demand away from merchant developers in regulated states unless those developers have already secured study-phase milestones. The Compass Datacenters situation in Mississippi — advancing despite the state declining to issue a regulatory ruling — illustrates the converse risk: proceeding without a cleared regulatory path creates title and financing exposure that most institutional capital will not accept at scale.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The actionable takeaway for developers and data-center operators is a tightening bifurcation in asset quality. Interconnection positions with completed cluster studies or approved network upgrade agreements are trading as infrastructure, not development-stage paper. Everything behind that threshold is speculative in the queue-risk sense, regardless of how attractive the load economics appear. Teams sizing capital deployment for 2025 and 2026 should be underwriting not just megawatts and offtake terms but the specific study phase, deposit status, and withdrawal rate of the queue class in which their target sites sit. In the current environment, those three variables are doing more work on project IRR than any reasonable assumption about power price.</p>\n      <div class=\"data-box\">\n        <div class=\"data-label\">Selected Weekly Signals — Capacity &amp; Queue Exposure (Source: NexPhase Advisory / Public Filings)</div>\n        <div class=\"data-grid\">\n          <div class=\"data-item\"><div class=\"num\">5.6 GW</div><div class=\"lbl\">Data center development portfolio acquired by Stark Power, ~$25/kW implied development-stage value</div></div>\n          <div class=\"data-item\"><div class=\"num\">1.85 GW</div><div class=\"lbl\">Combined Texas capacity (Cipher 500MW + Hut 8 352MW + Beacon Point undisclosed) anchored to brownfield or retired-plant grid ties announced this week</div></div>\n          <div class=\"data-item\"><div class=\"num\">2029–30</div><div class=\"lbl\">Earliest realistic construction start cited by Eagle Rock for 1 GW Illinois project, reflecting current PJM cluster study backlog</div></div>\n        </div>\n      </div>\n    </div>\n\n    <!-- ══ 2-COL STORIES ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Development Activity</div>\n      <h2>Campus Announcements — Scale &amp; Power Implications</h2>\n    </div>\n\n    <div class=\"story-grid\">\n    <div class=\"story\">\n        <div class=\"hed\">Stark Power Absorbs 5.6GW Pipeline in $140M Deal</div>\n        <div class=\"dek\">Stark Power's acquisition of Sagebrush's development portfolio instantly creates one of the largest speculative data-center pipelines in North America.</div>\n        <p class=\"body-text\">The deal is a bet on pipeline scarcity: as greenfield interconnection queues lengthen and site control becomes a competitive moat, acquiring 5.6 gigawatts of pre-positioned development rights can be worth more than the capital required to close. Raising roughly $140 million to fund the transaction suggests Stark has secured institutional conviction that at least a material fraction of that pipeline will reach notice-to-proceed. For transmission planners and utilities, 5.6 GW of latent load—even discounted heavily for attrition—represents a planning signal that cannot be ignored.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Practitioners should watch which submarkets sit inside the Sagebrush portfolio. If the sites cluster around constrained load pockets—ERCOT West, PJM western interface, or SPP—the acquisition could accelerate queue reform pressure in those zones. Interconnection deposits and queue position transfers will be the first test of whether the MW figure holds up under due diligence.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Texas Emerges as Multi-Project Focal Point This Week</div>\n        <div class=\"dek\">Cipher Mining's 500MW Waco-area campus and Hut 8's $4.25B note offering backing a 352MW hyperscaler-leased Texas facility headline a burst of Lone Star load growth signals.</div>\n        <p class=\"body-text\">Cipher Mining's brownfield strategy—co-locating at a retired coal plant outside Waco—is the more structurally interesting story for grid operators. Existing high-voltage infrastructure, already-permitted substation footprints, and established transmission rights can shave 18–36 months off a greenfield interconnection timeline in ERCOT, where large-load studies have grown increasingly congested. At 500 MW, the project would rank among the larger single-campus loads ERCOT has processed, and its proximity to retiring thermal capacity creates a load-follows-generation dynamic that ERCOT's nodal market is watching closely.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Hut 8's $4.25 billion note offering for a 352 MW pre-leased facility underscores how hyperscaler off-take is now functioning as investment-grade collateral in capital markets. The undisclosed tenant's commitment de-risks the debt stack and signals that hyperscalers are willing to sign long-dated leases on Texas capacity despite the state's summer reliability concerns—a vote of confidence in ERCOT's ongoing resource adequacy reforms. Separately, Beacon Point AI's announced presence in Nueces County adds yet another demand node to the South Texas transmission corridor, which is already strained by offshore wind interconnection requests.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Eagle Rock's 1GW Illinois Proposal Tests Midcontinent Load Appetite</div>\n        <div class=\"dek\">Eagle Rock's 1,000 MW Christian County, Illinois campus, with construction not starting until 2029–2030, puts long-lead transmission planning for MISO Zone 4 under the microscope.</div>\n        <p class=\"body-text\">At one gigawatt, the Eagle Rock proposal would be a transformational load addition for MISO's Illinois load zone, a region that has historically been characterized by flat or declining industrial demand. The 2029–2030 construction window is not a weakness—it is a prerequisite. Large-load interconnection in MISO currently requires navigating the Definitive Planning Phase, a multi-year study cycle that means a project committing capital today is threading the needle just in time for that timeline. Developers and utilities in the footprint should treat this as a forward indicator of transmission upgrade needs on the 345 kV backbone serving central Illinois.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The broader implication is thematic: inland Midwest sites are increasingly attractive as coastal and Texas markets face queue congestion, water constraints, and community opposition. Christian County's relatively low land costs, available right-of-way, and proximity to MISO's high-voltage spine make it a replicable template. Expect similar proposals to surface in Iowa, Indiana, and Missouri in coming quarters as developers race to establish queue position before MISO's next planning cycle closes.</p>\n      </div>\n      <div class=\"story\">\n        <div class=\"hed\">Community Opposition and Regulatory Friction Slow Two Projects</div>\n        <div class=\"dek\">DC BLOX's Nashville proposal faces a 386,000-signature petition and potential moratorium, while Compass Datacenters presses forward in Mississippi after the state declined to issue a regulatory ruling.</div>\n        <p class=\"body-text\">The DC BLOX situation in Nashville is a leading indicator of the permitting risk now embedded in urban and peri-urban data center development. A 386,000-signature petition is not a NIMBY footnote—it is a political forcing function that can trigger city council moratoriums, revised zoning ordinances, and utility interconnection holds. For practitioners underwriting development timelines, community opposition of this magnitude adds a probabilistic delay of 12–24 months even if the project ultimately clears, and it elevates the cost of capital for comparable projects in dense metros.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">The Mississippi dynamic is structurally different but equally instructive. Compass Datacenters advancing despite the state declining a regulatory ruling suggests the developer is either self-funding interconnection costs or has negotiated a direct utility agreement that sidesteps the formal rate-case process. That approach accelerates timelines but concentrates regulatory and cost-recovery risk on the utility, a trade-off that Mississippi Public Service Commission staff are likely to revisit once the project scale becomes apparent. Both cases reinforce a market-wide lesson: site control and interconnection rights are necessary but insufficient—social and regulatory license are now first-order project risks.</p>\n      </div>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ REGULATORY ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">Regulatory &amp; Policy</div>\n      <h2>Signals Worth Watching</h2>\n    </div>\n\n    <div class=\"flag-box\">\n      <div class=\"flag-label\">This Week's Policy Flags</div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">DC BLOX · Nashville, TN</span>\n        <span class=\"flag-note\">A 386K+ signature petition and potential moratorium threat against DC BLOX's Nashville campus signals rising community-opposition risk in mid-size metros; developers should monitor whether Nashville City Council moves to codify a moratorium, which could set a precedent for similar opposition in other non-traditional data center markets.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Compass Datacenters · Mississippi</span>\n        <span class=\"flag-note\">Mississippi regulators declined to issue a ruling on Compass's project, leaving the regulatory pathway ambiguous; watch whether the state legislature or utility commission steps in to clarify interconnection or rate treatment for large loads, as the outcome will indicate how receptive Southern utility jurisdictions are to hosting hyperscale demand.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Eagle Rock · Christian Co., IL</span>\n        <span class=\"flag-note\">A 1GW project with a construction start not until 2029-2030 underscores the lengthening queue timelines on MISO interconnection and raises questions about how Illinois regulators handle large speculative load requests; developers should track whether MISO's new queue reform rules accelerate or further delay this project's interconnection study.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Evergy · Topeka, KS</span>\n        <span class=\"flag-note\">A utility directly siting its own data center is an emerging market-structure shift that could give Evergy preferential access to grid capacity and rate structures unavailable to independent developers; watch Kansas Corporation Commission filings for any self-dealing or rate design implications that could disadvantage third-party co-location developers in the region.</span>\n      </div>\n      <div class=\"flag-item\">\n        <span class=\"flag-co\">Cipher Mining · Waco, TX (retired coal plant)</span>\n        <span class=\"flag-note\">Repurposing retired coal plant infrastructure for a 500MW campus highlights a growing strategy to leapfrog ERCOT interconnection queues by leveraging existing transmission assets; developers should monitor PUCT and ERCOT policy on whether brownfield-to-data-center conversions receive expedited interconnection treatment or face the same queue constraints as greenfield projects.</span>\n      </div>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ PPA MARKET ══ -->\n    <div class=\"sec\">\n      <div class=\"sec-label\">PPA &amp; Financing</div>\n      <h2>Market Pricing Context</h2>\n    </div>\n\n    <div class=\"lead-story\" style=\"margin-bottom:0;padding-bottom:0;border-bottom:none\">\n    <p class=\"body-text\">Hut 8's $4.25bn note offering to finance its 352MW Texas campus — pre-leased to an undisclosed hyperscaler — is the clearest pricing signal in this week's tape. That works out to roughly $12,100/kW in total capitalization, which sits at the high end of what we've been tracking for purpose-built, hyperscaler-anchor campuses but is defensible given the pre-lease credit wrap and the tight Texas grid interconnect scarcity premium. The structure itself is instructive: rather than project-level debt or a tax equity flip, Hut 8 went corporate unsecured, suggesting lenders are increasingly willing to underwrite the consolidated balance sheet of scaled operators with a contracted anchor tenant, effectively treating the hyperscaler offtake as a de facto investment-grade shadow credit. That's a financing template worth watching as Stark Power absorbs Sagebrush's 5.6GW portfolio — $140m of equity raised against 5.6GW implies a land-and-entitlement value of roughly $25/kW, which is thin enough to suggest Stark is betting almost entirely on future PPA execution rather than paying for development optionality.</p>\n      <p class=\"body-text\" style=\"margin-top:8px\">Across the broader development signals, the geographic spread — Nueces County TX, Goochland VA, Christian County IL, Adelaide AU — reflects developers chasing the last pockets of affordable and available interconnect rather than optimizing around PPA pricing. The Cipher Mining play near the retired Waco coal plant is a direct expression of that logic: stranded transmission capacity is being monetized at a discount to greenfield interconnect queue costs, and behind-the-meter or pseudo-behind-the-meter structures at brownfield sites are increasingly the only way to get sub-$50/MWh all-in energy economics in ERCOT without a multi-year queue wait. The Ignis/DayOne €3bn, 300MW Aragon project implies a total project cost around €10,000/kW in European terms, where grid fees and offtake structures differ materially, but the PPA dynamics are similar — developers are locking bilateral renewable PPAs in the €55–75/MWh range where they can to insulate from Iberian merchant exposure. The Jane Street self-build signal is a quieter but meaningful datapoint: when sophisticated capital allocators decide the PPA market isn't offering terms worth accepting and opt to own the iron outright, it's a signal that hyperscaler and institutional buyers perceive structural upside in data center energy costs that they'd rather capture than hedge away.</p>\n    </div>\n\n    <hr class=\"rule\">\n\n    <!-- ══ ABOUT ══ -->\n    <div class=\"sec\" style=\"margin-top:24px\">\n      <div class=\"sec-label\">About This Brief</div>\n      <h2>NexPhase Advisory</h2>\n    </div>\n    <p style=\"font-size:13px;line-height:1.65;color:var(--muted);margin-bottom:10px\">\n      <em>The Interconnect</em> is produced by NexPhase Advisory — a power origination and interconnection strategy practice serving data center developers, IPPs, and investors navigating the US power market. Service lines include interconnection queue strategy, deliverability analysis (CAISO TPD, PJM NLTP, MISO GIA), PPA origination, and market entry advisory.\n    </p>\n    <p style=\"font-size:13px;line-height:1.65;color:var(--muted)\">\n      Questions, feedback, or to discuss a specific market or project: <a href=\"mailto:info@nexphaseadvisory.net\" style=\"color:var(--accent);text-decoration:none;font-weight:600\">info@nexphaseadvisory.net</a>\n    </p>\n\n  </div><!-- /body -->\n\n  <!-- ══ FOOTER ══ -->\n  <div class=\"footer\">\n    <div class=\"footer-top\">\n      <div>\n        <div class=\"brand\">NexPhase Advisory</div>\n        <div class=\"tagline-f\">Power Origination · Interconnection · Market Strategy</div>\n      </div>\n      <div style=\"text-align:right\">\n        <div><a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a></div>\n        <div style=\"margin-top:3px\">Week of June 14, 2026 &nbsp;·&nbsp; Vol. 1, No. 2</div>\n      </div>\n    </div>\n    <div class=\"disc\">\n      Queue data sourced from public ISO/RTO interconnection queues (PJM, WECC, MISO, ERCOT, NYISO, SPP) as of June 14, 2026. Market signals sourced from public news. Analysis represents the professional judgment of NexPhase Advisory and does not constitute investment, legal, or regulatory advice. Recipients may forward with attribution. To be removed from distribution: <a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a>\n    </div>\n  </div>\n\n</div><!-- /sheet -->\n</body>\n</html>\n","vol":1,"no":2,"dateline":"Week of June 14, 2026"}}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"d8e10fb1-f4b2-4525-95a9-93bb725bfbb1","activeVersionId":"d8e10fb1-f4b2-4525-95a9-93bb725bfbb1","versionCounter":100,"triggerCount":3,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-07T23:56:43.559Z","createdAt":"2026-06-07T23:56:43.559Z","role":"workflow:owner","workflowId":"hAbUSOEUyZRxXEWm","projectId":"yyu8mrsL1yrdUgiZ","project":{"updatedAt":"2026-05-07T03:46:52.701Z","createdAt":"2026-05-07T03:46:45.027Z","id":"yyu8mrsL1yrdUgiZ","name":"Chris   <santiago4801@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}}],"tags":[{"updatedAt":"2026-06-11T23:08:08.474Z","createdAt":"2026-06-11T23:08:08.474Z","id":"LDRlyf9htqKc0gW7","name":"Market Intelligence"}],"activeVersion":{"updatedAt":"2026-06-14T15:15:31.570Z","createdAt":"2026-06-14T15:15:31.570Z","versionId":"d8e10fb1-f4b2-4525-95a9-93bb725bfbb1","workflowId":"hAbUSOEUyZRxXEWm","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}},"id":"80da480d-220d-4059-8e67-81186cf3c296","name":"Every Sunday 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2720,608]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"id"},"filterByFormula":"IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -30, 'days'))","options":{}},"id":"44d2a5b5-3fcc-420f-8050-ad6dbedfc572","name":"Fetch Market Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,608],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblkazcIqMkDoISu7","mode":"id"},"returnAll":false,"limit":20,"options":{"fields":[]},"filterByFormula":"NOT({Status} = 'Completed')"},"id":"42c55d97-d34e-4427-aebd-63216e22df71","name":"Fetch Queue Records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,800],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"const now = new Date();\nconst dateline = 'Week of ' + now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'America/New_York' });\n// Vol/No hardcoded for now; auto-increment later.\nreturn [{ json: { dateline, vol: 1, no: 2 } }];"},"id":"fbdbcda1-49cd-44e7-aba9-1b18b5051744","name":"Set Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, messages: [{ role: 'user', content: 'You are the editorial voice of The Interconnect™, a weekly power market intelligence publication by NexPhase Advisory. Given the signals below, write a 3–5 sentence lede paragraph that connects the week\\'s themes for an audience of power developers, data center operators, and IPP executives. Practitioner voice — no hype, no filler. Return ONLY this JSON: { \"lede\": \"...\" }' + '\\n\\nSIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,12)) }] }) }}","options":{"timeout":120000}},"id":"94f59db9-9e66-4f27-8f9b-571fe6b02a29","name":"Generate Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 5000, messages: [{ role: 'user', content: 'You are a power-market analyst for The Interconnect. From the signals below, write 3-4 short \\'Campus Announcements\\' news stories covering the most significant data-center and generation development announcements this week, focused on scale and power/interconnection implications. Return ONLY a JSON array; each object: { \"hed\": \"<headline, max 10 words>\", \"dek\": \"<one sentence: location, MW, key fact>\", \"paragraphs\": [\"<1-2 body paragraphs with practitioner framing>\"] }. Return ONLY the JSON array, no markdown, no wrapper object.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"id":"00bc86c7-3786-4d26-a57c-d16c6ada2f55","name":"Generate Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2500, messages: [{ role: 'user', content: 'Given the demand signals and queue data below, identify the 2-3 strongest \\'connector markets\\' where a known data-center load overlaps with viable generation in the same ISO/state footprint. Return ONLY a JSON array; each object: { \"market_tag\": \"<e.g. OH · PJM>\", \"load_name\": \"<load or company>\", \"load_note\": \"<short site/scale note>\", \"mw\": \"<load MW, e.g. ~2,000+>\", \"supply_count\": \"<e.g. 23 projects in queue>\", \"supply_note\": \"<1-2 top queue projects w/ MW and type>\", \"strategic_note\": \"<one-sentence origination angle>\" }. Use the queue data for the supply side. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"id":"1efcecf9-cf3b-4cb8-a286-0711aa69ceae","name":"Generate Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"jsCode":"// interconnect_inject.js — v2 (index.html \"correct format\")\n// Fetches the locked template from the repo and substitutes section tokens.\n// TOKENS: {{DATELINE}} {{VOL}} {{NO}} {{QUEUE_DATE}} {{LEDE}} {{CONNECTOR_ROWS}}\n//         {{QUEUE_SPOTLIGHT}} {{LEAD_STORY}} {{CAMPUS_STORIES}} {{POLICY_FLAGS}} {{PRICING_CONTEXT}}\n//\n// UPSTREAM CONTRACT:\n//   Set Metadata        -> { dateline, vol, no }\n//   Generate Lede       -> { lede }\n//   Generate Feature    -> { label, title, dek, paragraphs:[], data_label, data_items:[{num,lbl}] }\n//   Generate Signals    -> [ { hed, dek, paragraphs:[] } ]                (Campus Announcements stories)\n//   Generate Connectors -> [ { market_tag, load_name, load_note, mw, supply_count, supply_note, strategic_note } ]\n//   Generate Flags      -> [ { entity, note } ]\n//   Generate Pricing    -> { paragraphs:[] }\n//   Fetch Queue Records -> Airtable rows (Project Name, Region, Generation Type, MW Capacity, Status, POI Name)\n\nconst TEMPLATE_URL = 'https://api.github.com/repos/nexphaseadvisory/Reports/contents/interconnect/template/the_interconnect_TEMPLATE.html?ref=main';\nconst resp = await this.helpers.httpRequest({\n  method: 'GET', url: TEMPLATE_URL,\n  headers: { 'Accept': 'application/vnd.github.raw', 'User-Agent': 'n8n-interconnect-publisher' },\n  json: false\n});\nlet TEMPLATE;\nif (typeof resp === 'string') TEMPLATE = resp;\nelse if (resp && resp.content) TEMPLATE = Buffer.from(resp.content, 'base64').toString('utf8');\nelse TEMPLATE = String(resp);\nif (TEMPLATE.indexOf('{{LEDE}}') === -1 || TEMPLATE.indexOf('{{LEAD_STORY}}') === -1) {\n  throw new Error('Template fetch failed or missing v2 tokens — got ' + TEMPLATE.length + ' chars from ' + TEMPLATE_URL);\n}\n\n// ---------- helpers ----------\nfunction claudeJSON(resp) {\n  try {\n    const content = (resp && resp.content) || [];\n    const text = content.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(text.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction paras(arr, firstStyle) {\n  const a = Array.isArray(arr) ? arr : (arr ? [arr] : []);\n  return a.map((p, i) =>\n    '<p class=\"body-text\"' + (i > 0 ? ' style=\"margin-top:8px\"' : (firstStyle || '')) + '>' + esc(p) + '</p>'\n  ).join('\\n      ');\n}\n\n// ---------- pull upstream ----------\nconst meta      = $('Set Metadata').first().json;\nconst lede      = (claudeJSON($('Generate Lede').first().json) || { lede: '' }).lede || '';\nconst feature   = claudeJSON($('Generate Feature').first().json) || {};\nconst stories   = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors= claudeJSON($('Generate Connectors').first().json) || [];\nconst flags     = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing   = claudeJSON($('Generate Pricing').first().json) || { paragraphs: [] };\nconst queueRaw  = $('Fetch Queue Records').all().map(i => i.json);\n\n// ---------- CONNECTOR_ROWS ----------\nconst connectorRows = (Array.isArray(connectors) ? connectors : []).map(c =>\n  '<tr>\\n' +\n  '          <td><span class=\"market-tag\">' + esc(c.market_tag) + '</span></td>\\n' +\n  '          <td><span class=\"load-name\">' + esc(c.load_name) + '</span>' +\n       (c.load_note ? '<div class=\"queue-note\">' + esc(c.load_note) + '</div>' : '') + '</td>\\n' +\n  '          <td><span class=\"mw-val\">' + esc(c.mw) + '</span></td>\\n' +\n  '          <td><span class=\"supply-count\">' + esc(c.supply_count) + '</span>' +\n       (c.supply_note ? '<div class=\"queue-note\">' + esc(c.supply_note) + '</div>' : '') + '</td>\\n' +\n  '          <td style=\"font-size:11px;color:#374151\">' + esc(c.strategic_note) + '</td>\\n' +\n  '        </tr>'\n).join('\\n        ');\n\n// ---------- QUEUE_SPOTLIGHT (top UNIQUE queue records by MW) ----------\n// Fetch Queue Records can return duplicate rows (same project double-loaded), so\n// dedupe by project name (fallback record id) AFTER sorting desc — keeping the\n// highest-MW instance — BEFORE slicing the top 4. Without this the spotlight\n// repeats the single highest-MW project in all 4 slots.\nconst _seenQ = new Set();\nconst queueSpotlight = queueRaw.map(q => ({\n  id: q['Project Name'] || q['POI Name'] || '',\n  type: q['Generation Type'] || q['Project Type'] || '',\n  mw: (q['MW Capacity'] != null ? q['MW Capacity'] : ''),\n  region: q['Region'] || '',\n  status: q['Status'] || '',\n  poi: q['POI Name'] || '',\n  _key: String(q['Project Name'] || q['POI Name'] || q['id'] || '').trim().toLowerCase()\n}))\n  .sort((a, b) => (parseFloat(b.mw) || 0) - (parseFloat(a.mw) || 0))\n  .filter(q => {\n    if (String(q.status || '').trim().toLowerCase() === 'completed') return false; // exclude Completed — Active only\n    if (!q._key || _seenQ.has(q._key)) return false;\n    _seenQ.add(q._key);\n    return true;\n  })\n  .slice(0, 4)\n  .map(q => {\n    const desc = [\n      (q.mw !== '' ? q.mw + ' MW ' : '') + esc(q.type) + (q.region ? ' · ' + esc(q.region) : ''),\n      [esc(q.status), esc(q.poi)].filter(Boolean).join(' · ')\n    ].filter(Boolean).join('<br>');\n    return '<div class=\"qs-item\">\\n' +\n      '            <div class=\"qs-id\">' + esc(q.id) + '</div>\\n' +\n      '            <div class=\"qs-desc\">' + desc + '</div>\\n' +\n      '          </div>';\n  }).join('\\n          ');\n\n// ---------- LEAD_STORY (feature analysis + data-box) ----------\nconst dataItems = (Array.isArray(feature.data_items) ? feature.data_items : []).map(di =>\n  '<div class=\"data-item\"><div class=\"num\">' + esc(di.num) + '</div><div class=\"lbl\">' + esc(di.lbl) + '</div></div>'\n).join('\\n          ');\nconst dataBox = (feature.data_label || dataItems) ?\n  '\\n      <div class=\"data-box\">\\n' +\n  '        <div class=\"data-label\">' + esc(feature.data_label) + '</div>\\n' +\n  '        <div class=\"data-grid\">\\n          ' + dataItems + '\\n        </div>\\n' +\n  '      </div>' : '';\nconst leadStory =\n  '<div class=\"sec\">\\n' +\n  '      <div class=\"sec-label\">' + esc(feature.label || 'Interconnection') + '</div>\\n' +\n  '      <h2>' + esc(feature.title || '') + '</h2>\\n' +\n  '    </div>\\n\\n' +\n  '    <div class=\"lead-story\">\\n' +\n  '      <p class=\"dek\">' + esc(feature.dek || '') + '</p>\\n' +\n  '      ' + paras(feature.paragraphs) + dataBox + '\\n' +\n  '    </div>';\n\n// ---------- CAMPUS_STORIES (2-col story grid) ----------\nconst campusStories = (Array.isArray(stories) ? stories : []).map(s =>\n  '<div class=\"story\">\\n' +\n  '        <div class=\"hed\">' + esc(s.hed || s.headline) + '</div>\\n' +\n  '        <div class=\"dek\">' + esc(s.dek || '') + '</div>\\n' +\n  '        ' + paras(s.paragraphs || s.detail) + '\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- POLICY_FLAGS ----------\nconst policyFlags = (Array.isArray(flags) ? flags : []).map(f =>\n  '<div class=\"flag-item\">\\n' +\n  '        <span class=\"flag-co\">' + esc(f.entity) + '</span>\\n' +\n  '        <span class=\"flag-note\">' + esc(f.note) + '</span>\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- PRICING_CONTEXT ----------\nconst pricingHtml = paras(pricing.paragraphs || pricing);\n\n// ---------- QUEUE_DATE ----------\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst queueDate = months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();\n\n// ---------- inject ----------\nconst html = TEMPLATE\n  .split('{{DATELINE}}').join(esc(meta.dateline))\n  .split('{{VOL}}').join(esc(meta.vol))\n  .split('{{NO}}').join(esc(meta.no))\n  .split('{{QUEUE_DATE}}').join(esc(queueDate))\n  .split('{{LEDE}}').join(esc(lede))\n  .split('{{CONNECTOR_ROWS}}').join(connectorRows)\n  .split('{{QUEUE_SPOTLIGHT}}').join(queueSpotlight)\n  .split('{{LEAD_STORY}}').join(leadStory)\n  .split('{{CAMPUS_STORIES}}').join(campusStories)\n  .split('{{POLICY_FLAGS}}').join(policyFlags)\n  .split('{{PRICING_CONTEXT}}').join(pricingHtml);\n\nif (html.indexOf('{{') !== -1) {\n  const leftover = (html.match(/\\{\\{[A-Z_]+\\}\\}/g) || []).join(', ');\n  throw new Error('Unsubstituted tokens remain: ' + leftover);\n}\n\nreturn [{ json: { html, dateline: meta.dateline, vol: meta.vol, no: meta.no } }];\n"},"id":"2e9a5fab-d57a-4ca6-a3a7-758901c2327c","name":"Code — Inject","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,224]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"f4ae0f31-f28e-4e49-9176-4bff020d80d6","name":"GitHub — Publish","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,464],"webhookId":"3ea9bb9b-9528-4adf-a370-9009753282e4","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"interconnect-publisher","authentication":"headerAuth","options":{}},"id":"63be41a6-d023-4a09-84bb-6515e48e6b3e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"c8731e41-e2e2-4a8b-93e0-a7f8b8b5751f","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Persist the generated draft in workflow static data, keyed by vol/no.\nconst sd = $getWorkflowStaticData('global');\nconst j = $input.first().json;\nconst rec = { html: j.html, filename: j.filename, vol: j.vol, no: j.no, dateline: j.dateline, warns: j.warns || [] };\nsd['draft_' + j.vol + '_' + j.no] = rec;\nsd.latestDraft = rec;\nreturn [{ json: j }];\n"},"id":"8755ea00-7036-4ad5-b961-efb91a9c82c1","name":"Store Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128]},{"parameters":{"httpMethod":"POST","path":"interconnect-publish","authentication":"headerAuth","options":{}},"id":"36211bf0-8f8b-4608-a67a-2c4dc05d2366","name":"Webhook Publish","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,464],"webhookId":"4e891ac9-42e9-4ad0-aae3-859992338f49","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Publish path: read the stored draft from static data and hand it to GitHub — Publish.\nconst sd = $getWorkflowStaticData('global');\nconst j = ($input.first() && $input.first().json) || {};\nconst body = j.body || {};  // optional { vol, no } in the publish webhook POST body\nlet rec = (body.vol != null && body.no != null) ? sd['draft_' + body.vol + '_' + body.no] : sd.latestDraft;\nif (!rec || !rec.html) { throw new Error('No stored draft found to publish. Fire the draft webhook first.'); }\nreturn [{ json: rec }];\n"},"id":"421254a5-f1df-4faf-8d20-f098cba1657d","name":"Read Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"9b652cbc-d7f8-442e-af81-b6ca78752641","name":"GitHub — Draft","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,128],"webhookId":"949d92ab-24e6-4c95-a276-bf934567ecfe","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"e150aad0-32e0-452a-aee7-58aae6f9445b","name":"GitHub — Publish (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,624],"webhookId":"68d4e047-fe92-4b99-8527-e077c9366a15","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"53c834d7-0fc2-46f8-97e1-2f93c1010e9c","name":"GitHub — Draft (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,288],"webhookId":"80a6e250-afe9-46e4-a560-a81781cbd0e7","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - draft ready for review (Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }})","emailFormat":"text","text":"=A new issue of The Interconnect has been drafted and is ready for review.\n\n  Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }}  -  {{ $('Store Draft').first().json.dateline }}\n\nReview the rendered draft:\n  https://intel.nexphaseadvisory.net/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nThis is the approval gate - nothing publishes automatically. If it looks good,\npromote it by firing the publish webhook:\n  POST https://intel-search.app.n8n.cloud/webhook/interconnect-publish\n  Header: X-Webhook-Token: <your publish token>\n  Body:   {}\n\nPublishing promotes the draft to the live issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n\\n\\n--- Verification warnings ({{ (($('Store Draft').first().json.warns)||[]).length }}) ---\\n{{ ((($('Store Draft').first().json.warns)||[]).map(f => '- ['+f.section+'] '+f.issue).join('\\n')) || 'none — passed clean' }}","options":{}},"id":"2ee13b24-08b0-43e4-9334-4e85b6718c48","name":"Notify — Draft Ready","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,160],"webhookId":"b232325f-73e1-482d-ab51-8cafcb8cb006","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - published (Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }})","emailFormat":"text","text":"=The Interconnect has been published.\n\n  Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }}  -  {{ $('Read Draft').first().json.dateline }}\n\nLive issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"688cce6a-a05b-4afa-bc30-9a00f4253c31","name":"Notify — Published","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,512],"webhookId":"c0be3b8a-b66e-4230-8b61-7c3ceda08d41","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-edit","name":"GitHub — Archive","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,360],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput","webhookId":"c938d6a1-fa92-41a2-8d20-c03f0cf2bad3"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-new","name":"GitHub — Archive (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2480,520],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"webhookId":"a149ecaf-6d05-4e0d-ad58-95523181c983"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2000, messages: [{ role: 'user', content: 'You are the senior analyst for The Interconnect (a weekly power-market intelligence publication by NexPhase Advisory). From the signals below, write ONE marquee analytical feature on the single most consequential interconnection or grid-policy theme of the week (queue congestion, ISO restructuring, transmission constraints, a structural co-location or PPA shift). Audience: power developers, data-center operators, IPP executives. Practitioner voice, no hype, no filler. Return ONLY this JSON: { \"label\": \"<2-3 word section kicker, e.g. Interconnection>\", \"title\": \"<headline, max 12 words>\", \"dek\": \"<one italic-style sentence>\", \"paragraphs\": [\"<body paragraph>\", \"...\"], \"data_label\": \"<source/snapshot label, e.g. PJM Queue - Current Snapshot (Source: PJM)>\", \"data_items\": [ { \"num\": \"<stat, e.g. 220 GW>\", \"lbl\": \"<short description>\" } ] }. Provide 3-4 paragraphs and exactly 3 data_items. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1792a14-0b97-4a4c-9340-07c19db17daf"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1800, messages: [{ role: 'user', content: 'You are the regulatory analyst for The Interconnect. From the signals below, extract 4-5 \\'Signals Worth Watching\\' - regulatory, policy, community-opposition, permitting, or market-structure items developers should monitor. Return ONLY a JSON array; each object: { \"entity\": \"<short subject, e.g. Eagle Rock · Christian Co. IL>\", \"note\": \"<1-2 sentences: what to watch and why it matters for power procurement>\" }. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"bf0fbfa5-b79f-41d6-a6bc-25d418c729db"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1400, messages: [{ role: 'user', content: 'You are the PPA and financing analyst for The Interconnect. From the signals below, write a 2-paragraph \\'Market Pricing Context\\' note on PPA economics, financing structures, or pricing benchmarks visible in this week\\'s signals (utility-scale PPAs, behind-the-meter gas, hyperscaler deals). Practitioner voice. Return ONLY this JSON: { \"paragraphs\": [\"<paragraph 1>\", \"<paragraph 2>\"] }. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1758cae-a196-49e1-ad12-340bd00e2049"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: lede. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Lede').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"2f7ffac9-1905-4f38-ac52-a385bd756476"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: lead-story. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Feature').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"b10437c6-2488-4fb0-9fa3-7a464e118d10"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: campus-stories. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Signals').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d92a8201-2c83-4314-a655-c4868a943ba4"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: connector-table. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Connectors').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"name":"Verify Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"84689aa8-7fb2-427b-ad0c-9da591dc605b"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: policy-flags. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Flags').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"1543b06f-b64f-4a8e-8649-81a9999ff0e7"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'SECTION: pricing-context. Review the following generated text against the source data provided. Flag any of the following issues: (1) numerical claims not present in the source data, (2) project names or companies not in the source data, (3) duplicate projects appearing more than once across sections, (4) market price estimates or capex figures presented as facts without a source, (5) any claim that contradicts the source data. Return a JSON object with: { passed: true/false, flags: [ { section, issue, severity: \\'block\\'|\\'warn\\' } ] }' + '\\n\\nGENERATED TEXT:\\n' + (($('Generate Pricing').first().json.content||[]).filter(b=>b&&b.type==='text').map(b=>b.text).join('')) + '\\n\\nSOURCE DATA:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Verify Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,600],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"ef96efa6-c2fc-4c5c-9d7c-febbf08ab5dc"},{"name":"Collect Verifications","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,600],"parameters":{"jsCode":"// Collect Verifications — aggregate the 6 Verify nodes' {passed,flags} outputs.\n// Determines block vs warn; gates the draft downstream.\nfunction claudeJSON(resp) {\n  try {\n    const c = (resp && resp.content) || [];\n    const t = c.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(t.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nconst VERIFY = {\n  'Verify Lede': 'lede',\n  'Verify Feature': 'lead-story',\n  'Verify Signals': 'campus-stories',\n  'Verify Connectors': 'connector-table',\n  'Verify Flags': 'policy-flags',\n  'Verify Pricing': 'pricing-context'\n};\nlet flags = [];\nfor (const node in VERIFY) {\n  let r = null;\n  try { r = $(node).first().json; } catch (e) { r = null; }\n  const v = claudeJSON(r);\n  if (v && Array.isArray(v.flags)) {\n    for (const f of v.flags) {\n      flags.push({\n        section: f.section || VERIFY[node],\n        issue: String(f.issue || ''),\n        severity: (f.severity === 'block') ? 'block' : 'warn'\n      });\n    }\n  }\n}\nconst blocks = flags.filter(f => f.severity === 'block');\nconst warns = flags.filter(f => f.severity === 'warn');\nreturn [{ json: { hasBlock: blocks.length > 0, blocks, warns, allFlags: flags } }];\n"},"id":"b386932e-9ef0-455d-be61-34e051d82b76"},{"name":"Verification Gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,600],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":2},"conditions":[{"id":"v-block","leftValue":"={{ $json.hasBlock }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"404beb9e-0180-4931-a2aa-b90af7c947ce"},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@gmail.com","subject":"=The Interconnect — DRAFT BLOCKED by verification (Vol {{ $('Set Metadata').first().json.vol }}, No {{ $('Set Metadata').first().json.no }})","emailFormat":"text","text":"=Draft generation was HALTED — verification found blocking issue(s). No draft was written.\n\nBLOCKING:\n{{ $('Collect Verifications').first().json.blocks.map(f => '- ['+f.section+'] '+f.issue).join('\\n') }}\n\nWARNINGS (non-blocking):\n{{ ($('Collect Verifications').first().json.warns||[]).map(f => '- ['+f.section+'] '+f.issue).join('\\n') || 'none' }}\n\nReview the source signals and re-run the draft.","options":{}},"name":"Notify — Verification Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2080,720],"credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}},"id":"98a15fe6-bc8d-42c0-9670-2b161c06551b","webhookId":"7aada737-38e7-4513-8a3c-640f7e0d0ca7"},{"name":"Cross-Section Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,360],"parameters":{"jsCode":"// Cross-Section Dedup — after the HTML is assembled, flag any company/project\n// name that appears in MORE THAN TWO sections as a 'warn'. Merges with the\n// verification warns and carries them forward to Store Draft / the draft email.\nfunction claudeJSON(resp) {\n  try {\n    const c = (resp && resp.content) || [];\n    const t = c.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(t.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nconst j = $input.first().json; // from Code — Inject: { html, vol, no, dateline }\n\nconst lede = (claudeJSON($('Generate Lede').first().json) || {}).lede || '';\nconst feature = claudeJSON($('Generate Feature').first().json) || {};\nconst stories = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors = claudeJSON($('Generate Connectors').first().json) || [];\nconst flags = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing = claudeJSON($('Generate Pricing').first().json) || {};\n\nconst sectionText = {\n  lede: String(lede),\n  feature: [feature.title, feature.dek].concat(feature.paragraphs || []).join(' '),\n  campus: (Array.isArray(stories) ? stories : []).map(s => [s.hed, s.dek].concat(s.paragraphs || []).join(' ')).join(' '),\n  connectors: (Array.isArray(connectors) ? connectors : []).map(c => [c.market_tag, c.load_name, c.load_note, c.supply_note, c.strategic_note].join(' ')).join(' '),\n  flags: (Array.isArray(flags) ? flags : []).map(f => [f.entity, f.note].join(' ')).join(' '),\n  pricing: (pricing.paragraphs || []).join(' ')\n};\n\n// candidate company/project names from structured fields\nconst cands = new Set();\n(Array.isArray(connectors) ? connectors : []).forEach(c => { if (c.load_name) cands.add(String(c.load_name).trim()); });\n(Array.isArray(flags) ? flags : []).forEach(f => { if (f.entity) { const e = String(f.entity).split('·')[0].split('-')[0].trim(); if (e) cands.add(e); } });\n(Array.isArray(stories) ? stories : []).forEach(s => { if (s.hed) { const m = String(s.hed).match(/^([A-Z][A-Za-z0-9&.\\-]+(?:\\s+[A-Z][A-Za-z0-9&.\\-]+){0,2})/); if (m) cands.add(m[1].replace(/['’]s$/, '').trim()); } });\n\nconst xflags = [];\nfor (const name of cands) {\n  if (!name || name.length < 4) continue;\n  const needle = name.toLowerCase();\n  let count = 0;\n  for (const sec in sectionText) { if (String(sectionText[sec]).toLowerCase().indexOf(needle) !== -1) count++; }\n  if (count > 2) xflags.push({ section: 'cross-section', issue: '\"' + name + '\" appears in ' + count + ' sections', severity: 'warn' });\n}\n\nlet warns = [];\ntry { warns = ($('Collect Verifications').first().json.warns || []).slice(); } catch (e) { warns = []; }\nwarns = warns.concat(xflags);\nreturn [{ json: Object.assign({}, j, { warns }) }];\n"},"id":"df0d4a1e-feef-4248-98cd-84348033c226"}],"connections":{"Every Sunday 5am":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Market Signals":{"main":[[{"node":"Fetch Queue Records","type":"main","index":0}]]},"Set Metadata":{"main":[[{"node":"Generate Lede","type":"main","index":0}]]},"Generate Lede":{"main":[[{"node":"Verify Lede","type":"main","index":0}]]},"Generate Signals":{"main":[[{"node":"Verify Signals","type":"main","index":0}]]},"Generate Connectors":{"main":[[{"node":"Verify Connectors","type":"main","index":0}]]},"Code — Inject":{"main":[[{"node":"Cross-Section Dedup","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Queue Records":{"main":[[{"node":"Set Metadata","type":"main","index":0}]]},"Store Draft":{"main":[[{"node":"GitHub — Draft","type":"main","index":0}]]},"Webhook Publish":{"main":[[{"node":"Read Draft","type":"main","index":0}]]},"Read Draft":{"main":[[{"node":"GitHub — Publish","type":"main","index":0}]]},"GitHub — Publish":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}],[{"node":"GitHub — Publish (new file)","type":"main","index":0}]]},"GitHub — Draft":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}],[{"node":"GitHub — Draft (new file)","type":"main","index":0}]]},"GitHub — Draft (new file)":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}]]},"GitHub — Publish (new file)":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}]]},"GitHub — Archive":{"main":[[{"node":"Notify — Published","type":"main","index":0}],[{"node":"GitHub — Archive (new file)","type":"main","index":0}]]},"GitHub — Archive (new file)":{"main":[[{"node":"Notify — Published","type":"main","index":0}]]},"Generate Feature":{"main":[[{"node":"Verify Feature","type":"main","index":0}]]},"Generate Flags":{"main":[[{"node":"Verify Flags","type":"main","index":0}]]},"Generate Pricing":{"main":[[{"node":"Verify Pricing","type":"main","index":0}]]},"Verify Lede":{"main":[[{"node":"Generate Feature","type":"main","index":0}]]},"Verify Feature":{"main":[[{"node":"Generate Signals","type":"main","index":0}]]},"Verify Signals":{"main":[[{"node":"Generate Connectors","type":"main","index":0}]]},"Verify Connectors":{"main":[[{"node":"Generate Flags","type":"main","index":0}]]},"Verify Flags":{"main":[[{"node":"Generate Pricing","type":"main","index":0}]]},"Verify Pricing":{"main":[[{"node":"Collect Verifications","type":"main","index":0}]]},"Collect Verifications":{"main":[[{"node":"Verification Gate","type":"main","index":0}]]},"Verification Gate":{"main":[[{"node":"Notify — Verification Failed","type":"main","index":0}],[{"node":"Code — Inject","type":"main","index":0}]]},"Cross-Section Dedup":{"main":[[{"node":"Store Draft","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Chris  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-14T15:15:31.812Z","id":101,"workflowId":"hAbUSOEUyZRxXEWm","versionId":"d8e10fb1-f4b2-4525-95a9-93bb725bfbb1","event":"activated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"},{"createdAt":"2026-06-14T15:15:31.717Z","id":100,"workflowId":"hAbUSOEUyZRxXEWm","versionId":"d8e10fb1-f4b2-4525-95a9-93bb725bfbb1","event":"deactivated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}]}}