interconnect/interconnect-publisher.workflow.json
{"updatedAt":"2026-06-14T13:24:32.846Z","createdAt":"2026-06-07T23:56:43.555Z","id":"hAbUSOEUyZRxXEWm","name":"Interconnect Publisher — Weekly","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}},"id":"80da480d-220d-4059-8e67-81186cf3c296","name":"Every Sunday 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2720,608]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"id"},"filterByFormula":"IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -30, 'days'))","options":{}},"id":"44d2a5b5-3fcc-420f-8050-ad6dbedfc572","name":"Fetch Market Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,608],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblkazcIqMkDoISu7","mode":"id"},"returnAll":false,"limit":20,"options":{"fields":[]}},"id":"42c55d97-d34e-4427-aebd-63216e22df71","name":"Fetch Queue Records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,800],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"const now = new Date();\nconst dateline = 'Week of ' + now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'America/New_York' });\n// Vol/No hardcoded for now; auto-increment later.\nreturn [{ json: { dateline, vol: 1, no: 2 } }];"},"id":"fbdbcda1-49cd-44e7-aba9-1b18b5051744","name":"Set Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, messages: [{ role: 'user', content: 'You are the editorial voice of The Interconnect™, a weekly power market intelligence publication by NexPhase Advisory. Given the signals below, write a 3–5 sentence lede paragraph that connects the week\\'s themes for an audience of power developers, data center operators, and IPP executives. Practitioner voice — no hype, no filler. Return ONLY this JSON: { \"lede\": \"...\" }' + '\\n\\nSIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,12)) }] }) }}","options":{"timeout":120000}},"id":"94f59db9-9e66-4f27-8f9b-571fe6b02a29","name":"Generate Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 5000, messages: [{ role: 'user', content: 'You are a power-market analyst for The Interconnect. From the signals below, write 3-4 short \\'Campus Announcements\\' news stories covering the most significant data-center and generation development announcements this week, focused on scale and power/interconnection implications. Return ONLY a JSON array; each object: { \"hed\": \"<headline, max 10 words>\", \"dek\": \"<one sentence: location, MW, key fact>\", \"paragraphs\": [\"<1-2 body paragraphs with practitioner framing>\"] }. Return ONLY the JSON array, no markdown, no wrapper object.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"id":"00bc86c7-3786-4d26-a57c-d16c6ada2f55","name":"Generate Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2500, messages: [{ role: 'user', content: 'Given the demand signals and queue data below, identify the 2-3 strongest \\'connector markets\\' where a known data-center load overlaps with viable generation in the same ISO/state footprint. Return ONLY a JSON array; each object: { \"market_tag\": \"<e.g. OH · PJM>\", \"load_name\": \"<load or company>\", \"load_note\": \"<short site/scale note>\", \"mw\": \"<load MW, e.g. ~2,000+>\", \"supply_count\": \"<e.g. 23 projects in queue>\", \"supply_note\": \"<1-2 top queue projects w/ MW and type>\", \"strategic_note\": \"<one-sentence origination angle>\" }. Use the queue data for the supply side. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"id":"1efcecf9-cf3b-4cb8-a286-0711aa69ceae","name":"Generate Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"jsCode":"// interconnect_inject.js — v2 (index.html \"correct format\")\n// Fetches the locked template from the repo and substitutes section tokens.\n// TOKENS: {{DATELINE}} {{VOL}} {{NO}} {{QUEUE_DATE}} {{LEDE}} {{CONNECTOR_ROWS}}\n//         {{QUEUE_SPOTLIGHT}} {{LEAD_STORY}} {{CAMPUS_STORIES}} {{POLICY_FLAGS}} {{PRICING_CONTEXT}}\n//\n// UPSTREAM CONTRACT:\n//   Set Metadata        -> { dateline, vol, no }\n//   Generate Lede       -> { lede }\n//   Generate Feature    -> { label, title, dek, paragraphs:[], data_label, data_items:[{num,lbl}] }\n//   Generate Signals    -> [ { hed, dek, paragraphs:[] } ]                (Campus Announcements stories)\n//   Generate Connectors -> [ { market_tag, load_name, load_note, mw, supply_count, supply_note, strategic_note } ]\n//   Generate Flags      -> [ { entity, note } ]\n//   Generate Pricing    -> { paragraphs:[] }\n//   Fetch Queue Records -> Airtable rows (Project Name, Region, Generation Type, MW Capacity, Status, POI Name)\n\nconst TEMPLATE_URL = 'https://api.github.com/repos/nexphaseadvisory/Reports/contents/interconnect/template/the_interconnect_TEMPLATE.html?ref=main';\nconst resp = await this.helpers.httpRequest({\n  method: 'GET', url: TEMPLATE_URL,\n  headers: { 'Accept': 'application/vnd.github.raw', 'User-Agent': 'n8n-interconnect-publisher' },\n  json: false\n});\nlet TEMPLATE;\nif (typeof resp === 'string') TEMPLATE = resp;\nelse if (resp && resp.content) TEMPLATE = Buffer.from(resp.content, 'base64').toString('utf8');\nelse TEMPLATE = String(resp);\nif (TEMPLATE.indexOf('{{LEDE}}') === -1 || TEMPLATE.indexOf('{{LEAD_STORY}}') === -1) {\n  throw new Error('Template fetch failed or missing v2 tokens — got ' + TEMPLATE.length + ' chars from ' + TEMPLATE_URL);\n}\n\n// ---------- helpers ----------\nfunction claudeJSON(resp) {\n  try {\n    const content = (resp && resp.content) || [];\n    const text = content.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(text.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction paras(arr, firstStyle) {\n  const a = Array.isArray(arr) ? arr : (arr ? [arr] : []);\n  return a.map((p, i) =>\n    '<p class=\"body-text\"' + (i > 0 ? ' style=\"margin-top:8px\"' : (firstStyle || '')) + '>' + esc(p) + '</p>'\n  ).join('\\n      ');\n}\n\n// ---------- pull upstream ----------\nconst meta      = $('Set Metadata').first().json;\nconst lede      = (claudeJSON($('Generate Lede').first().json) || { lede: '' }).lede || '';\nconst feature   = claudeJSON($('Generate Feature').first().json) || {};\nconst stories   = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors= claudeJSON($('Generate Connectors').first().json) || [];\nconst flags     = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing   = claudeJSON($('Generate Pricing').first().json) || { paragraphs: [] };\nconst queueRaw  = $('Fetch Queue Records').all().map(i => i.json);\n\n// ---------- CONNECTOR_ROWS ----------\nconst connectorRows = (Array.isArray(connectors) ? connectors : []).map(c =>\n  '<tr>\\n' +\n  '          <td><span class=\"market-tag\">' + esc(c.market_tag) + '</span></td>\\n' +\n  '          <td><span class=\"load-name\">' + esc(c.load_name) + '</span>' +\n       (c.load_note ? '<div class=\"queue-note\">' + esc(c.load_note) + '</div>' : '') + '</td>\\n' +\n  '          <td><span class=\"mw-val\">' + esc(c.mw) + '</span></td>\\n' +\n  '          <td><span class=\"supply-count\">' + esc(c.supply_count) + '</span>' +\n       (c.supply_note ? '<div class=\"queue-note\">' + esc(c.supply_note) + '</div>' : '') + '</td>\\n' +\n  '          <td style=\"font-size:11px;color:#374151\">' + esc(c.strategic_note) + '</td>\\n' +\n  '        </tr>'\n).join('\\n        ');\n\n// ---------- QUEUE_SPOTLIGHT (top queue records by MW) ----------\nconst queueSpotlight = queueRaw.map(q => ({\n  id: q['Project Name'] || q['POI Name'] || '',\n  type: q['Generation Type'] || q['Project Type'] || '',\n  mw: (q['MW Capacity'] != null ? q['MW Capacity'] : ''),\n  region: q['Region'] || '',\n  status: q['Status'] || '',\n  poi: q['POI Name'] || ''\n}))\n  .sort((a, b) => (parseFloat(b.mw) || 0) - (parseFloat(a.mw) || 0))\n  .slice(0, 4)\n  .map(q => {\n    const desc = [\n      (q.mw !== '' ? q.mw + ' MW ' : '') + esc(q.type) + (q.region ? ' · ' + esc(q.region) : ''),\n      [esc(q.status), esc(q.poi)].filter(Boolean).join(' · ')\n    ].filter(Boolean).join('<br>');\n    return '<div class=\"qs-item\">\\n' +\n      '            <div class=\"qs-id\">' + esc(q.id) + '</div>\\n' +\n      '            <div class=\"qs-desc\">' + desc + '</div>\\n' +\n      '          </div>';\n  }).join('\\n          ');\n\n// ---------- LEAD_STORY (feature analysis + data-box) ----------\nconst dataItems = (Array.isArray(feature.data_items) ? feature.data_items : []).map(di =>\n  '<div class=\"data-item\"><div class=\"num\">' + esc(di.num) + '</div><div class=\"lbl\">' + esc(di.lbl) + '</div></div>'\n).join('\\n          ');\nconst dataBox = (feature.data_label || dataItems) ?\n  '\\n      <div class=\"data-box\">\\n' +\n  '        <div class=\"data-label\">' + esc(feature.data_label) + '</div>\\n' +\n  '        <div class=\"data-grid\">\\n          ' + dataItems + '\\n        </div>\\n' +\n  '      </div>' : '';\nconst leadStory =\n  '<div class=\"sec\">\\n' +\n  '      <div class=\"sec-label\">' + esc(feature.label || 'Interconnection') + '</div>\\n' +\n  '      <h2>' + esc(feature.title || '') + '</h2>\\n' +\n  '    </div>\\n\\n' +\n  '    <div class=\"lead-story\">\\n' +\n  '      <p class=\"dek\">' + esc(feature.dek || '') + '</p>\\n' +\n  '      ' + paras(feature.paragraphs) + dataBox + '\\n' +\n  '    </div>';\n\n// ---------- CAMPUS_STORIES (2-col story grid) ----------\nconst campusStories = (Array.isArray(stories) ? stories : []).map(s =>\n  '<div class=\"story\">\\n' +\n  '        <div class=\"hed\">' + esc(s.hed || s.headline) + '</div>\\n' +\n  '        <div class=\"dek\">' + esc(s.dek || '') + '</div>\\n' +\n  '        ' + paras(s.paragraphs || s.detail) + '\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- POLICY_FLAGS ----------\nconst policyFlags = (Array.isArray(flags) ? flags : []).map(f =>\n  '<div class=\"flag-item\">\\n' +\n  '        <span class=\"flag-co\">' + esc(f.entity) + '</span>\\n' +\n  '        <span class=\"flag-note\">' + esc(f.note) + '</span>\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- PRICING_CONTEXT ----------\nconst pricingHtml = paras(pricing.paragraphs || pricing);\n\n// ---------- QUEUE_DATE ----------\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst queueDate = months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();\n\n// ---------- inject ----------\nconst html = TEMPLATE\n  .split('{{DATELINE}}').join(esc(meta.dateline))\n  .split('{{VOL}}').join(esc(meta.vol))\n  .split('{{NO}}').join(esc(meta.no))\n  .split('{{QUEUE_DATE}}').join(esc(queueDate))\n  .split('{{LEDE}}').join(esc(lede))\n  .split('{{CONNECTOR_ROWS}}').join(connectorRows)\n  .split('{{QUEUE_SPOTLIGHT}}').join(queueSpotlight)\n  .split('{{LEAD_STORY}}').join(leadStory)\n  .split('{{CAMPUS_STORIES}}').join(campusStories)\n  .split('{{POLICY_FLAGS}}').join(policyFlags)\n  .split('{{PRICING_CONTEXT}}').join(pricingHtml);\n\nif (html.indexOf('{{') !== -1) {\n  const leftover = (html.match(/\\{\\{[A-Z_]+\\}\\}/g) || []).join(', ');\n  throw new Error('Unsubstituted tokens remain: ' + leftover);\n}\n\nreturn [{ json: { html, dateline: meta.dateline, vol: meta.vol, no: meta.no } }];\n"},"id":"2e9a5fab-d57a-4ca6-a3a7-758901c2327c","name":"Code — Inject","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,224]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"f4ae0f31-f28e-4e49-9176-4bff020d80d6","name":"GitHub — Publish","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,464],"webhookId":"3ea9bb9b-9528-4adf-a370-9009753282e4","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"interconnect-publisher","authentication":"headerAuth","options":{}},"id":"63be41a6-d023-4a09-84bb-6515e48e6b3e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"c8731e41-e2e2-4a8b-93e0-a7f8b8b5751f","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Persist the generated draft in workflow static data, keyed by vol/no.\nconst sd = $getWorkflowStaticData('global');\nconst j = $input.first().json;\nconst rec = { html: j.html, filename: j.filename, vol: j.vol, no: j.no, dateline: j.dateline };\nsd['draft_' + j.vol + '_' + j.no] = rec;  // keyed by vol/no\nsd.latestDraft = rec;                      // pointer to most recent draft\nreturn [{ json: j }];  // pass through for the draft email\n"},"id":"8755ea00-7036-4ad5-b961-efb91a9c82c1","name":"Store Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128]},{"parameters":{"httpMethod":"POST","path":"interconnect-publish","authentication":"headerAuth","options":{}},"id":"36211bf0-8f8b-4608-a67a-2c4dc05d2366","name":"Webhook Publish","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,464],"webhookId":"4e891ac9-42e9-4ad0-aae3-859992338f49","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Publish path: read the stored draft from static data and hand it to GitHub — Publish.\nconst sd = $getWorkflowStaticData('global');\nconst j = ($input.first() && $input.first().json) || {};\nconst body = j.body || {};  // optional { vol, no } in the publish webhook POST body\nlet rec = (body.vol != null && body.no != null) ? sd['draft_' + body.vol + '_' + body.no] : sd.latestDraft;\nif (!rec || !rec.html) { throw new Error('No stored draft found to publish. Fire the draft webhook first.'); }\nreturn [{ json: rec }];\n"},"id":"421254a5-f1df-4faf-8d20-f098cba1657d","name":"Read Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"9b652cbc-d7f8-442e-af81-b6ca78752641","name":"GitHub — Draft","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,128],"webhookId":"949d92ab-24e6-4c95-a276-bf934567ecfe","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"e150aad0-32e0-452a-aee7-58aae6f9445b","name":"GitHub — Publish (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,624],"webhookId":"68d4e047-fe92-4b99-8527-e077c9366a15","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"53c834d7-0fc2-46f8-97e1-2f93c1010e9c","name":"GitHub — Draft (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,288],"webhookId":"80a6e250-afe9-46e4-a560-a81781cbd0e7","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - draft ready for review (Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }})","emailFormat":"text","text":"=A new issue of The Interconnect has been drafted and is ready for review.\n\n  Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }}  -  {{ $('Store Draft').first().json.dateline }}\n\nReview the rendered draft:\n  https://intel.nexphaseadvisory.net/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nThis is the approval gate - nothing publishes automatically. If it looks good,\npromote it by firing the publish webhook:\n  POST https://intel-search.app.n8n.cloud/webhook/interconnect-publish\n  Header: X-Webhook-Token: <your publish token>\n  Body:   {}\n\nPublishing promotes the draft to the live issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"2ee13b24-08b0-43e4-9334-4e85b6718c48","name":"Notify — Draft Ready","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,160],"webhookId":"b232325f-73e1-482d-ab51-8cafcb8cb006","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - published (Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }})","emailFormat":"text","text":"=The Interconnect has been published.\n\n  Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }}  -  {{ $('Read Draft').first().json.dateline }}\n\nLive issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"688cce6a-a05b-4afa-bc30-9a00f4253c31","name":"Notify — Published","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,512],"webhookId":"c0be3b8a-b66e-4230-8b61-7c3ceda08d41","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-edit","name":"GitHub — Archive","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,360],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput","webhookId":"c938d6a1-fa92-41a2-8d20-c03f0cf2bad3"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-new","name":"GitHub — Archive (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2480,520],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"webhookId":"a149ecaf-6d05-4e0d-ad58-95523181c983"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2000, messages: [{ role: 'user', content: 'You are the senior analyst for The Interconnect (a weekly power-market intelligence publication by NexPhase Advisory). From the signals below, write ONE marquee analytical feature on the single most consequential interconnection or grid-policy theme of the week (queue congestion, ISO restructuring, transmission constraints, a structural co-location or PPA shift). Audience: power developers, data-center operators, IPP executives. Practitioner voice, no hype, no filler. Return ONLY this JSON: { \"label\": \"<2-3 word section kicker, e.g. Interconnection>\", \"title\": \"<headline, max 12 words>\", \"dek\": \"<one italic-style sentence>\", \"paragraphs\": [\"<body paragraph>\", \"...\"], \"data_label\": \"<source/snapshot label, e.g. PJM Queue - Current Snapshot (Source: PJM)>\", \"data_items\": [ { \"num\": \"<stat, e.g. 220 GW>\", \"lbl\": \"<short description>\" } ] }. Provide 3-4 paragraphs and exactly 3 data_items. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1792a14-0b97-4a4c-9340-07c19db17daf"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1800, messages: [{ role: 'user', content: 'You are the regulatory analyst for The Interconnect. From the signals below, extract 4-5 \\'Signals Worth Watching\\' - regulatory, policy, community-opposition, permitting, or market-structure items developers should monitor. Return ONLY a JSON array; each object: { \"entity\": \"<short subject, e.g. Eagle Rock · Christian Co. IL>\", \"note\": \"<1-2 sentences: what to watch and why it matters for power procurement>\" }. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"bf0fbfa5-b79f-41d6-a6bc-25d418c729db"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1400, messages: [{ role: 'user', content: 'You are the PPA and financing analyst for The Interconnect. From the signals below, write a 2-paragraph \\'Market Pricing Context\\' note on PPA economics, financing structures, or pricing benchmarks visible in this week\\'s signals (utility-scale PPAs, behind-the-meter gas, hyperscaler deals). Practitioner voice. Return ONLY this JSON: { \"paragraphs\": [\"<paragraph 1>\", \"<paragraph 2>\"] }. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1758cae-a196-49e1-ad12-340bd00e2049"}],"connections":{"Every Sunday 5am":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Market Signals":{"main":[[{"node":"Fetch Queue Records","type":"main","index":0}]]},"Set Metadata":{"main":[[{"node":"Generate Lede","type":"main","index":0}]]},"Generate Lede":{"main":[[{"node":"Generate Feature","type":"main","index":0}]]},"Generate Signals":{"main":[[{"node":"Generate Connectors","type":"main","index":0}]]},"Generate Connectors":{"main":[[{"node":"Generate Flags","type":"main","index":0}]]},"Code — Inject":{"main":[[{"node":"Store Draft","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Queue Records":{"main":[[{"node":"Set Metadata","type":"main","index":0}]]},"Store Draft":{"main":[[{"node":"GitHub — Draft","type":"main","index":0}]]},"Webhook Publish":{"main":[[{"node":"Read Draft","type":"main","index":0}]]},"Read Draft":{"main":[[{"node":"GitHub — Publish","type":"main","index":0}]]},"GitHub — Publish":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}],[{"node":"GitHub — Publish (new file)","type":"main","index":0}]]},"GitHub — Draft":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}],[{"node":"GitHub — Draft (new file)","type":"main","index":0}]]},"GitHub — Draft (new file)":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}]]},"GitHub — Publish (new file)":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}]]},"GitHub — Archive":{"main":[[{"node":"Notify — Published","type":"main","index":0}],[{"node":"GitHub — Archive (new file)","type":"main","index":0}]]},"GitHub — Archive (new file)":{"main":[[{"node":"Notify — Published","type":"main","index":0}]]},"Generate Feature":{"main":[[{"node":"Generate Signals","type":"main","index":0}]]},"Generate Flags":{"main":[[{"node":"Generate Pricing","type":"main","index":0}]]},"Generate Pricing":{"main":[[{"node":"Code — Inject","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Every Sunday 5am":{"recurrenceRules":[]},"global":{"draft_1_2":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>The Interconnect&#8482; — Week of June 14, 2026</title>\n<style>\n:root {\n  --ink:    #16191d;\n  --muted:  #54606e;\n  --faint:  #8a93a1;\n  --line:   #d8dce4;\n  --accent: #0b5d4e;\n  --a-soft: #e7f2ef;\n  --gold:   #a06d18;\n  --g-soft: #f9f1de;\n  --flag:   #8b2020;\n  --paper:  #fdfcfa;\n  --data:   #1a3a6b;\n  --d-soft: #eaf0f8;\n}\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\nbody {\n  font-family: Georgia, \"Times New Roman\", serif;\n  color: var(--ink);\n  background: #d6d2cb;\n  line-height: 1.6;\n  padding: 32px 12px 56px;\n  -webkit-font-smoothing: antialiased;\n}\n\n.sheet {\n  max-width: 840px;\n  margin: 0 auto;\n  background: var(--paper);\n  box-shadow: 0 6px 40px rgba(20,24,31,.22);\n}\n\n/* ── MASTHEAD ── */\n.masthead {\n  padding: 32px 44px 20px;\n  border-bottom: 3px double var(--ink);\n}\n.kicker {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 4px;\n  text-transform: uppercase;\n  color: var(--accent);\n  font-weight: 700;\n  margin-bottom: 8px;\n}\n.masthead h1 {\n  font-size: 58px;\n  letter-spacing: -2px;\n  line-height: .93;\n  font-weight: 700;\n  margin-bottom: 12px;\n}\n.masthead h1 em {\n  font-style: normal;\n  color: var(--accent);\n}\n.masthead h1 sup {\n  font-size: 22px;\n  vertical-align: super;\n  letter-spacing: 0;\n  color: var(--accent);\n}\n.tagline {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 13px;\n  color: var(--muted);\n  line-height: 1.45;\n  max-width: 560px;\n  margin-bottom: 18px;\n}\n\n/* ── DATELINE BAR ── */\n.dateline-bar {\n  display: flex;\n  justify-content: space-between;\n  align-items: baseline;\n  padding: 10px 44px;\n  border-top: 1px solid var(--ink);\n  border-bottom: 2px solid var(--ink);\n  background: var(--paper);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10.5px;\n  letter-spacing: .5px;\n}\n.dateline-bar .vol {\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 1.5px;\n}\n.dateline-bar .vol span {\n  font-weight: 400;\n  color: var(--muted);\n  margin-left: 8px;\n}\n.dateline-bar .site {\n  color: var(--muted);\n  font-size: 9.5px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n}\n\n/* ── BODY ── */\n.body-wrap {\n  padding: 36px 44px;\n}\n\n/* ── LEDE ── */\n.lede {\n  font-size: 16.5px;\n  line-height: 1.65;\n  color: var(--ink);\n  margin-bottom: 28px;\n  padding-bottom: 24px;\n  border-bottom: 1px solid var(--line);\n}\n\n/* ── SECTION LABELS ── */\n.section-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 3.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 14px;\n  padding-bottom: 5px;\n  border-bottom: 1px solid var(--accent);\n  display: inline-block;\n}\n\n/* ── SIGNAL CARDS ── */\n.signal-card {\n  border-left: 3px solid var(--accent);\n  padding: 16px 18px;\n  margin-bottom: 18px;\n  background: #fafaf8;\n}\n.signal-card.flag {\n  border-left-color: var(--flag);\n}\n.signal-card.gold {\n  border-left-color: var(--gold);\n  background: var(--g-soft);\n}\n.signal-card .signal-meta {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  color: var(--faint);\n  margin-bottom: 6px;\n}\n.signal-card .signal-meta .badge {\n  display: inline-block;\n  padding: 1px 7px;\n  border-radius: 2px;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 1.5px;\n  margin-right: 6px;\n}\n.badge-pjm  { background: var(--d-soft); color: var(--data); }\n.badge-wecc { background: var(--a-soft); color: var(--accent); }\n.badge-miso { background: #f0eaf8;       color: #4a2080; }\n.badge-ercot{ background: #fef0e0;       color: #8a4400; }\n.badge-caiso{ background: #fde8e8;       color: var(--flag); }\n.badge-frcc { background: #e8f5e0;       color: #2d5a1b; }\n.badge-serc { background: #ede8f5;       color: #3a1a6b; }\n.signal-card h3 {\n  font-size: 16px;\n  font-weight: 700;\n  line-height: 1.3;\n  margin-bottom: 8px;\n  color: var(--ink);\n}\n.signal-card p {\n  font-size: 13.5px;\n  color: var(--muted);\n  line-height: 1.6;\n  margin-bottom: 8px;\n}\n.signal-card .angle {\n  font-size: 13px;\n  color: var(--ink);\n  font-style: italic;\n  border-top: 1px solid var(--line);\n  padding-top: 8px;\n  margin-top: 4px;\n}\n.signal-card .angle strong {\n  font-style: normal;\n  color: var(--accent);\n  font-size: 9px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  display: block;\n  margin-bottom: 3px;\n}\n\n/* ── CONNECTOR MARKETS ── */\n.connector-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 16px;\n  margin-bottom: 24px;\n}\n.connector-cell {\n  padding: 14px 16px;\n  background: var(--a-soft);\n  border: 1px solid #c2ddd8;\n}\n.connector-cell.demand { background: var(--g-soft); border-color: #d8c48a; }\n.connector-cell .cell-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 3px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 6px;\n}\n.connector-cell.demand .cell-label { color: var(--gold); }\n.connector-cell h4 { font-size: 14px; font-weight: 700; margin-bottom: 4px; }\n.connector-cell p  { font-size: 12px; color: var(--muted); line-height: 1.5; }\n\n/* ── QUEUE SPOTLIGHT ── */\n.queue-table {\n  width: 100%;\n  border-collapse: collapse;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n  margin-bottom: 8px;\n}\n.queue-table th {\n  background: var(--ink);\n  color: #fff;\n  padding: 7px 10px;\n  text-align: left;\n  font-size: 8.5px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  font-weight: 600;\n}\n.queue-table td {\n  padding: 7px 10px;\n  border-bottom: 1px solid var(--line);\n  color: var(--ink);\n  vertical-align: top;\n}\n.queue-table tr:nth-child(even) td { background: #f5f4f1; }\n.queue-table .mw { font-weight: 700; color: var(--data); }\n\n/* ── DIVIDER ── */\n.section-divider {\n  border: none;\n  border-top: 1px solid var(--line);\n  margin: 32px 0;\n}\n\n/* ── FOOTER ── */\n.footer {\n  background: var(--ink);\n  color: #8a93a1;\n  padding: 24px 44px;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10.5px;\n  line-height: 1.7;\n}\n.footer a { color: #b0bcc8; text-decoration: none; }\n.footer strong { color: #d0d8e0; }\n\n@media (max-width: 600px) {\n  .masthead, .dateline-bar, .body-wrap, .footer { padding-left: 20px; padding-right: 20px; }\n  .masthead h1 { font-size: 38px; }\n  .connector-grid { grid-template-columns: 1fr; }\n}\n</style>\n</head>\n<body>\n<div class=\"sheet\">\n\n  <!-- MASTHEAD -->\n  <div class=\"masthead\">\n    <div class=\"kicker\">NexPhase Advisory &nbsp;·&nbsp; Power Market Intelligence</div>\n    <h1>The <em>Inter</em>connect<sup style=\"font-size:18px;vertical-align:super;letter-spacing:0;font-weight:400;color:var(--muted)\">™</sup></h1>\n    <p class=\"tagline\">Weekly intelligence on power procurement, interconnection queues, and data center development — for teams building at the grid edge.</p>\n  </div>\n\n  <!-- DATELINE BAR -->\n  <div class=\"dateline-bar\">\n    <div class=\"vol\">Week of June 14, 2026 <span>· Vol. 1, No. 2</span></div>\n    <div class=\"site\">NexPhaseAdvisory.net</div>\n  </div>\n\n  <!-- BODY -->\n  <div class=\"body-wrap\">\n\n    <!-- LEDE -->\n    <p class=\"lede\">The data center development pipeline shows no signs of discipline—this week alone, Stark Power acquired 5.6GW of development assets for ~$140M, Hut 8 priced a $4.25B note offering to fund a pre-leased 352MW Texas campus, and new projects surfaced from Virginia to Illinois to Spain, collectively representing tens of gigawatts of demand still searching for interconnection queue position and dispatchable capacity. The geographic spread matters: developers are pressing into constrained markets like PJM-adjacent Virginia and ERCOT coastal Texas, while others are betting on greenfield positions in Illinois and Mississippi where regulatory clarity remains unresolved. Cipher Mining's move to site 500MW near a retired coal plant outside Waco is the clearest signal yet that stranded grid infrastructure is now a competitive siting advantage, not a consolation prize. For power developers and IPPs, the capital formation side—Hut 8's debt raise, Stark's equity round, Magnora's Oslo listing—confirms that offtake-backed data center load is being treated as investable infrastructure, compressing the window to lock in power supply agreements before these projects harden their stack.</p>\n\n    <!-- SIGNALS SECTION -->\n    <div class=\"section-label\">This Week's Signals</div>\n\n    <!-- SIGNAL CARD — repeat block per signal, swap badge class per ISO -->\n    <div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Nueces County, TX · Demand Signal\n      </div>\n      <h3>Beacon Point AI Eyes Massive Data Center Build in Nueces County</h3>\n      <p>Beacon Point AI is planning a large-scale data center development in Nueces County, Texas. The project signals continued hyperscale-adjacent demand pressure on ERCOT's coastal South zone. Nueces County sits near Corpus Christi, an area with existing industrial load and transmission infrastructure.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Nueces County is an emerging ERCOT demand node — developers should watch for transmission constraint signals in the South zone and engage early with AEP Texas on interconnection capacity before the queue fills.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Texas (Statewide) · M&amp;A\n      </div>\n      <h3>Stark Power Acquires Sagebrush's 5.6GW DC Portfolio for ~$140M</h3>\n      <p>Stark Power has acquired Sagebrush's 5.6GW data center development portfolio, raising approximately $140 million to fund the transaction. The deal represents one of the largest portfolio acquisitions of pre-development data center capacity in recent memory. The scale suggests Stark is positioning for long-term hyperscaler offtake across multiple Texas sites.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        A 5.6GW pipeline acquisition signals that institutional capital is consolidating development rights ahead of demand — power sellers and co-located generation developers should engage Stark Power sites as priority interconnection and PPA targets.\n      </div>\n    </div>\n<div class=\"signal-card flag\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">PJM</span>\n        Goochland County, VA · Demand Signal\n      </div>\n      <h3>Tract Proposes Large Data Center Campus Near West Creek Corridor</h3>\n      <p>Tract is proposing a large data center campus in Goochland County, Virginia, adjacent to the established West Creek technology corridor. The West Creek area is one of the most data center-dense corridors in the world and already faces significant transmission congestion. This addition would further stress Dominion Energy Virginia's local transmission network.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Goochland County is immediately west of the saturated Ashburn/West Creek corridor — developers must conduct rigorous network upgrade studies upfront as interconnection costs and timelines in this PJM zone have escalated sharply.\n      </div>\n    </div>\n<div class=\"signal-card flag\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-miso\">MISO</span>\n        Mississippi · Regulatory\n      </div>\n      <h3>Compass Datacenters Advances Mississippi Plans Despite Regulatory Setback</h3>\n      <p>Compass Datacenters is pressing forward with its Mississippi data center development despite the state declining to issue a regulatory ruling on the project. The regulatory ambiguity introduces permitting and utility cost-recovery uncertainty. Mississippi remains a relatively untested data center market with limited precedent for large load interconnections.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The absence of a regulatory ruling could complicate utility cost-recovery for grid upgrades — developers entering Mississippi should negotiate explicit interconnection and rate treatment terms directly with the serving utility before breaking ground.\n      </div>\n    </div>\n<div class=\"signal-card\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-miso\">MISO</span>\n        Christian County, IL · Demand Signal\n      </div>\n      <h3>Eagle Rock Plans 1GW Illinois Data Center, Construction from 2029</h3>\n      <p>Eagle Rock has proposed a 1GW data center in Christian County, Illinois, with construction not expected to begin until 2029–2030. The long lead time suggests the project is in early-stage site control and interconnection positioning. MISO Illinois is a competitive interconnection zone with a heavily backlogged generator queue.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The 2029–2030 start date gives developers a window to monitor queue progression, but the 1GW scale means transmission upgrade costs could be substantial — early MISO cluster study engagement is essential to avoid being stranded behind larger generation projects.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">SPP</span>\n        Topeka, KS · Regulatory\n      </div>\n      <h3>Evergy Explores Utility-Led Data Center Siting in Topeka</h3>\n      <p>Evergy is actively exploring siting a data center in Topeka, Kansas, marking a notable shift toward utility-led demand development in the SPP footprint. Utilities self-developing or courting data center load directly signals a tightening competitive environment for independent developers. Kansas has historically been underrepresented in data center investment relative to its grid capacity.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Utility-driven siting typically means preferential interconnection treatment and favorable rate structures — third-party developers should monitor whether Evergy's involvement creates a first-mover regulatory advantage that crowds out independent projects in the Topeka area.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Waco, TX · Demand Signal\n      </div>\n      <h3>Cipher Mining Plans 500MW Data Center at Retired Coal Plant Site</h3>\n      <p>Cipher Mining is developing a 500MW data center campus near a retired coal plant outside Waco, Texas, leveraging existing substation and transmission infrastructure. Brownfield coal-to-data-center conversions are gaining traction in ERCOT as a strategy to bypass lengthy new interconnection queues. The Waco area sits in ERCOT's Central zone with reasonable grid access.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Retired plant infrastructure reuse is one of the fastest paths to large-scale interconnection in ERCOT right now — developers and investors should prioritize brownfield site identification as greenfield interconnection timelines continue to stretch.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">NYISO</span>\n        Albany, NY · Demand Signal\n      </div>\n      <h3>Prime Companies Unveils $2.8B Kenwood Tech Campus in Albany Area</h3>\n      <p>Prime Companies has announced a $2.8 billion Kenwood technology campus and data center plan in the Albany, New York metropolitan area. The Capital Region has seen growing interest from data center developers attracted by competitive power costs and proximity to financial and government markets. NYISO Zone F transmission capacity will be a key constraint to monitor.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Albany's data center market is early-stage with real upside, but NYISO interconnection in Zone F requires careful load flow analysis — developers should engage National Grid early and assess whether local generation co-location can reduce interconnection upgrade exposure.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Texas · M&amp;A\n      </div>\n      <h3>Hut 8 Prices $4.25B Note to Fund 352MW Hyperscaler-Leased Texas Campus</h3>\n      <p>Hut 8 has priced a $4.25 billion note offering to finance a 352MW Texas data center that is pre-leased to an undisclosed hyperscaler. The financing structure demonstrates growing capital market confidence in contracted data center cash flows as collateral. Pre-leased assets at this scale are attracting investment-grade-style debt pricing.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The $4.25B raise against 352MW of contracted hyperscaler capacity sets a new benchmark for data center debt financing in ERCOT — power and infrastructure investors should note that pre-lease structures are now unlocking non-dilutive capital at scale, reshaping how projects are capitalized.\n      </div>\n    </div>\n    <!-- Example signal card structure:\n    <div class=\"signal-card [flag|gold]\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">PJM</span>\n        LOCATION · CATEGORY\n      </div>\n      <h3>HEADLINE</h3>\n      <p>DETAIL</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        PRACTITIONER COMMENTARY\n      </div>\n    </div>\n    -->\n\n    <hr class=\"section-divider\">\n\n    <!-- CONNECTOR MARKETS -->\n    <div class=\"section-label\">Connector Markets</div>\n    <div class=\"connector-grid\">\n      <div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>Texas (ERCOT)</h4>\n        <p>Multiple high-actionability Texas data center projects emerged this week, including Beacon Point AI in Nueces County, Cipher Mining's 500MW campus near Waco leveraging retired coal plant infrastructure, and Hut 8's $4.25B-backed 352MW hyperscaler-leased facility. Combined announced Texas demand exceeds 850MW with immediate development momentum.</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>ERCOT – Hillje 345kV / Bernoulli 345kV corridors</h4>\n        <p>602.8MW Danish Fields Solar (Completed, Hillje 345kV) and 600MW Proteus London-Leigh Solar (Active, Bernoulli 345kV) represent over 1.2GW of large-scale ERCOT generation capacity at high-voltage 345kV POIs; the completed Danish Fields project offers immediately available interconnection precedent, while the active Proteus project signals near-term deliverability on the same backbone serving south and coastal Texas load zones proximate to Nueces and McLennan County demand sites.</p>\n      </div>\n<div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>Virginia (PJM)</h4>\n        <p>Tract's proposed large data center campus in Goochland County near the West Creek corridor targets one of the most active and supply-constrained data center markets in the US, signaling continued hyperscale expansion pressure in Northern Virginia's extension corridor where land and power are increasingly scarce.</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>PJM – Victoria DP-Martin DP 115kV corridor</h4>\n        <p>90MW Active solar project at the Victoria DP-Martin DP 115kV POI provides a modest but strategically located interconnection point within PJM; key constraint is the 115kV voltage level limiting scalability for large campus loads, though the active status and existing substation infrastructure offer a faster-to-energize near-term supply option for smaller initial phases of the Goochland development.</p>\n      </div>\n      <!-- Example:\n      <div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>MARKET NAME</h4>\n        <p>DEMAND CONTEXT</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>QUEUE / CORRIDOR</h4>\n        <p>MW AVAILABLE · KEY CONSTRAINT</p>\n      </div>\n      -->\n    </div>\n\n    <hr class=\"section-divider\">\n\n    <!-- QUEUE SPOTLIGHT -->\n    <div class=\"section-label\">Queue Spotlight</div>\n    <table class=\"queue-table\">\n      <thead>\n        <tr>\n          <th>Project</th>\n          <th>ISO</th>\n          <th>Type</th>\n          <th>MW</th>\n          <th>Status</th>\n          <th>POI / Substation</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n        <!-- Example row:\n        <tr>\n          <td>PROJECT NAME</td>\n          <td>PJM</td>\n          <td>Solar + BESS</td>\n          <td class=\"mw\">300</td>\n          <td>Active</td>\n          <td>SUBSTATION 345kV</td>\n        </tr>\n        -->\n      </tbody>\n    </table>\n\n  </div><!-- /body-wrap -->\n\n  <!-- FOOTER -->\n  <div class=\"footer\">\n    <strong>NexPhase Advisory</strong> &nbsp;·&nbsp; Power Market Intelligence<br>\n    Questions or comments: <a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a><br><br>\n    This publication is provided for informational purposes only. Nothing herein constitutes legal, financial, or investment advice.\n    All queue data derived from public ISO sources. &copy; 2026 NexPhase Advisory. All rights reserved.<br><br>\n    To unsubscribe, reply with \"unsubscribe\" in the subject line.\n  </div>\n\n</div><!-- /sheet -->\n</body>\n</html>\n","filename":"interconnect-vol1-no2.html","vol":1,"no":2,"dateline":"Week of June 14, 2026"},"latestDraft":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>The Interconnect&#8482; — Week of June 14, 2026</title>\n<style>\n:root {\n  --ink:    #16191d;\n  --muted:  #54606e;\n  --faint:  #8a93a1;\n  --line:   #d8dce4;\n  --accent: #0b5d4e;\n  --a-soft: #e7f2ef;\n  --gold:   #a06d18;\n  --g-soft: #f9f1de;\n  --flag:   #8b2020;\n  --paper:  #fdfcfa;\n  --data:   #1a3a6b;\n  --d-soft: #eaf0f8;\n}\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\nbody {\n  font-family: Georgia, \"Times New Roman\", serif;\n  color: var(--ink);\n  background: #d6d2cb;\n  line-height: 1.6;\n  padding: 32px 12px 56px;\n  -webkit-font-smoothing: antialiased;\n}\n\n.sheet {\n  max-width: 840px;\n  margin: 0 auto;\n  background: var(--paper);\n  box-shadow: 0 6px 40px rgba(20,24,31,.22);\n}\n\n/* ── MASTHEAD ── */\n.masthead {\n  padding: 32px 44px 20px;\n  border-bottom: 3px double var(--ink);\n}\n.kicker {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 4px;\n  text-transform: uppercase;\n  color: var(--accent);\n  font-weight: 700;\n  margin-bottom: 8px;\n}\n.masthead h1 {\n  font-size: 58px;\n  letter-spacing: -2px;\n  line-height: .93;\n  font-weight: 700;\n  margin-bottom: 12px;\n}\n.masthead h1 em {\n  font-style: normal;\n  color: var(--accent);\n}\n.masthead h1 sup {\n  font-size: 22px;\n  vertical-align: super;\n  letter-spacing: 0;\n  color: var(--accent);\n}\n.tagline {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 13px;\n  color: var(--muted);\n  line-height: 1.45;\n  max-width: 560px;\n  margin-bottom: 18px;\n}\n\n/* ── DATELINE BAR ── */\n.dateline-bar {\n  display: flex;\n  justify-content: space-between;\n  align-items: baseline;\n  padding: 10px 44px;\n  border-top: 1px solid var(--ink);\n  border-bottom: 2px solid var(--ink);\n  background: var(--paper);\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10.5px;\n  letter-spacing: .5px;\n}\n.dateline-bar .vol {\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 1.5px;\n}\n.dateline-bar .vol span {\n  font-weight: 400;\n  color: var(--muted);\n  margin-left: 8px;\n}\n.dateline-bar .site {\n  color: var(--muted);\n  font-size: 9.5px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n}\n\n/* ── BODY ── */\n.body-wrap {\n  padding: 36px 44px;\n}\n\n/* ── LEDE ── */\n.lede {\n  font-size: 16.5px;\n  line-height: 1.65;\n  color: var(--ink);\n  margin-bottom: 28px;\n  padding-bottom: 24px;\n  border-bottom: 1px solid var(--line);\n}\n\n/* ── SECTION LABELS ── */\n.section-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 3.5px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 14px;\n  padding-bottom: 5px;\n  border-bottom: 1px solid var(--accent);\n  display: inline-block;\n}\n\n/* ── SIGNAL CARDS ── */\n.signal-card {\n  border-left: 3px solid var(--accent);\n  padding: 16px 18px;\n  margin-bottom: 18px;\n  background: #fafaf8;\n}\n.signal-card.flag {\n  border-left-color: var(--flag);\n}\n.signal-card.gold {\n  border-left-color: var(--gold);\n  background: var(--g-soft);\n}\n.signal-card .signal-meta {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 9px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  color: var(--faint);\n  margin-bottom: 6px;\n}\n.signal-card .signal-meta .badge {\n  display: inline-block;\n  padding: 1px 7px;\n  border-radius: 2px;\n  font-size: 8.5px;\n  font-weight: 700;\n  letter-spacing: 1.5px;\n  margin-right: 6px;\n}\n.badge-pjm  { background: var(--d-soft); color: var(--data); }\n.badge-wecc { background: var(--a-soft); color: var(--accent); }\n.badge-miso { background: #f0eaf8;       color: #4a2080; }\n.badge-ercot{ background: #fef0e0;       color: #8a4400; }\n.badge-caiso{ background: #fde8e8;       color: var(--flag); }\n.badge-frcc { background: #e8f5e0;       color: #2d5a1b; }\n.badge-serc { background: #ede8f5;       color: #3a1a6b; }\n.signal-card h3 {\n  font-size: 16px;\n  font-weight: 700;\n  line-height: 1.3;\n  margin-bottom: 8px;\n  color: var(--ink);\n}\n.signal-card p {\n  font-size: 13.5px;\n  color: var(--muted);\n  line-height: 1.6;\n  margin-bottom: 8px;\n}\n.signal-card .angle {\n  font-size: 13px;\n  color: var(--ink);\n  font-style: italic;\n  border-top: 1px solid var(--line);\n  padding-top: 8px;\n  margin-top: 4px;\n}\n.signal-card .angle strong {\n  font-style: normal;\n  color: var(--accent);\n  font-size: 9px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  display: block;\n  margin-bottom: 3px;\n}\n\n/* ── CONNECTOR MARKETS ── */\n.connector-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 16px;\n  margin-bottom: 24px;\n}\n.connector-cell {\n  padding: 14px 16px;\n  background: var(--a-soft);\n  border: 1px solid #c2ddd8;\n}\n.connector-cell.demand { background: var(--g-soft); border-color: #d8c48a; }\n.connector-cell .cell-label {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 8px;\n  font-weight: 700;\n  letter-spacing: 3px;\n  text-transform: uppercase;\n  color: var(--accent);\n  margin-bottom: 6px;\n}\n.connector-cell.demand .cell-label { color: var(--gold); }\n.connector-cell h4 { font-size: 14px; font-weight: 700; margin-bottom: 4px; }\n.connector-cell p  { font-size: 12px; color: var(--muted); line-height: 1.5; }\n\n/* ── QUEUE SPOTLIGHT ── */\n.queue-table {\n  width: 100%;\n  border-collapse: collapse;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 11.5px;\n  margin-bottom: 8px;\n}\n.queue-table th {\n  background: var(--ink);\n  color: #fff;\n  padding: 7px 10px;\n  text-align: left;\n  font-size: 8.5px;\n  letter-spacing: 2px;\n  text-transform: uppercase;\n  font-weight: 600;\n}\n.queue-table td {\n  padding: 7px 10px;\n  border-bottom: 1px solid var(--line);\n  color: var(--ink);\n  vertical-align: top;\n}\n.queue-table tr:nth-child(even) td { background: #f5f4f1; }\n.queue-table .mw { font-weight: 700; color: var(--data); }\n\n/* ── DIVIDER ── */\n.section-divider {\n  border: none;\n  border-top: 1px solid var(--line);\n  margin: 32px 0;\n}\n\n/* ── FOOTER ── */\n.footer {\n  background: var(--ink);\n  color: #8a93a1;\n  padding: 24px 44px;\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-size: 10.5px;\n  line-height: 1.7;\n}\n.footer a { color: #b0bcc8; text-decoration: none; }\n.footer strong { color: #d0d8e0; }\n\n@media (max-width: 600px) {\n  .masthead, .dateline-bar, .body-wrap, .footer { padding-left: 20px; padding-right: 20px; }\n  .masthead h1 { font-size: 38px; }\n  .connector-grid { grid-template-columns: 1fr; }\n}\n</style>\n</head>\n<body>\n<div class=\"sheet\">\n\n  <!-- MASTHEAD -->\n  <div class=\"masthead\">\n    <div class=\"kicker\">NexPhase Advisory &nbsp;·&nbsp; Power Market Intelligence</div>\n    <h1>The <em>Inter</em>connect<sup style=\"font-size:18px;vertical-align:super;letter-spacing:0;font-weight:400;color:var(--muted)\">™</sup></h1>\n    <p class=\"tagline\">Weekly intelligence on power procurement, interconnection queues, and data center development — for teams building at the grid edge.</p>\n  </div>\n\n  <!-- DATELINE BAR -->\n  <div class=\"dateline-bar\">\n    <div class=\"vol\">Week of June 14, 2026 <span>· Vol. 1, No. 2</span></div>\n    <div class=\"site\">NexPhaseAdvisory.net</div>\n  </div>\n\n  <!-- BODY -->\n  <div class=\"body-wrap\">\n\n    <!-- LEDE -->\n    <p class=\"lede\">The data center development pipeline shows no signs of discipline—this week alone, Stark Power acquired 5.6GW of development assets for ~$140M, Hut 8 priced a $4.25B note offering to fund a pre-leased 352MW Texas campus, and new projects surfaced from Virginia to Illinois to Spain, collectively representing tens of gigawatts of demand still searching for interconnection queue position and dispatchable capacity. The geographic spread matters: developers are pressing into constrained markets like PJM-adjacent Virginia and ERCOT coastal Texas, while others are betting on greenfield positions in Illinois and Mississippi where regulatory clarity remains unresolved. Cipher Mining's move to site 500MW near a retired coal plant outside Waco is the clearest signal yet that stranded grid infrastructure is now a competitive siting advantage, not a consolation prize. For power developers and IPPs, the capital formation side—Hut 8's debt raise, Stark's equity round, Magnora's Oslo listing—confirms that offtake-backed data center load is being treated as investable infrastructure, compressing the window to lock in power supply agreements before these projects harden their stack.</p>\n\n    <!-- SIGNALS SECTION -->\n    <div class=\"section-label\">This Week's Signals</div>\n\n    <!-- SIGNAL CARD — repeat block per signal, swap badge class per ISO -->\n    <div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Nueces County, TX · Demand Signal\n      </div>\n      <h3>Beacon Point AI Eyes Massive Data Center Build in Nueces County</h3>\n      <p>Beacon Point AI is planning a large-scale data center development in Nueces County, Texas. The project signals continued hyperscale-adjacent demand pressure on ERCOT's coastal South zone. Nueces County sits near Corpus Christi, an area with existing industrial load and transmission infrastructure.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Nueces County is an emerging ERCOT demand node — developers should watch for transmission constraint signals in the South zone and engage early with AEP Texas on interconnection capacity before the queue fills.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Texas (Statewide) · M&amp;A\n      </div>\n      <h3>Stark Power Acquires Sagebrush's 5.6GW DC Portfolio for ~$140M</h3>\n      <p>Stark Power has acquired Sagebrush's 5.6GW data center development portfolio, raising approximately $140 million to fund the transaction. The deal represents one of the largest portfolio acquisitions of pre-development data center capacity in recent memory. The scale suggests Stark is positioning for long-term hyperscaler offtake across multiple Texas sites.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        A 5.6GW pipeline acquisition signals that institutional capital is consolidating development rights ahead of demand — power sellers and co-located generation developers should engage Stark Power sites as priority interconnection and PPA targets.\n      </div>\n    </div>\n<div class=\"signal-card flag\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">PJM</span>\n        Goochland County, VA · Demand Signal\n      </div>\n      <h3>Tract Proposes Large Data Center Campus Near West Creek Corridor</h3>\n      <p>Tract is proposing a large data center campus in Goochland County, Virginia, adjacent to the established West Creek technology corridor. The West Creek area is one of the most data center-dense corridors in the world and already faces significant transmission congestion. This addition would further stress Dominion Energy Virginia's local transmission network.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Goochland County is immediately west of the saturated Ashburn/West Creek corridor — developers must conduct rigorous network upgrade studies upfront as interconnection costs and timelines in this PJM zone have escalated sharply.\n      </div>\n    </div>\n<div class=\"signal-card flag\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-miso\">MISO</span>\n        Mississippi · Regulatory\n      </div>\n      <h3>Compass Datacenters Advances Mississippi Plans Despite Regulatory Setback</h3>\n      <p>Compass Datacenters is pressing forward with its Mississippi data center development despite the state declining to issue a regulatory ruling on the project. The regulatory ambiguity introduces permitting and utility cost-recovery uncertainty. Mississippi remains a relatively untested data center market with limited precedent for large load interconnections.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The absence of a regulatory ruling could complicate utility cost-recovery for grid upgrades — developers entering Mississippi should negotiate explicit interconnection and rate treatment terms directly with the serving utility before breaking ground.\n      </div>\n    </div>\n<div class=\"signal-card\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-miso\">MISO</span>\n        Christian County, IL · Demand Signal\n      </div>\n      <h3>Eagle Rock Plans 1GW Illinois Data Center, Construction from 2029</h3>\n      <p>Eagle Rock has proposed a 1GW data center in Christian County, Illinois, with construction not expected to begin until 2029–2030. The long lead time suggests the project is in early-stage site control and interconnection positioning. MISO Illinois is a competitive interconnection zone with a heavily backlogged generator queue.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The 2029–2030 start date gives developers a window to monitor queue progression, but the 1GW scale means transmission upgrade costs could be substantial — early MISO cluster study engagement is essential to avoid being stranded behind larger generation projects.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">SPP</span>\n        Topeka, KS · Regulatory\n      </div>\n      <h3>Evergy Explores Utility-Led Data Center Siting in Topeka</h3>\n      <p>Evergy is actively exploring siting a data center in Topeka, Kansas, marking a notable shift toward utility-led demand development in the SPP footprint. Utilities self-developing or courting data center load directly signals a tightening competitive environment for independent developers. Kansas has historically been underrepresented in data center investment relative to its grid capacity.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Utility-driven siting typically means preferential interconnection treatment and favorable rate structures — third-party developers should monitor whether Evergy's involvement creates a first-mover regulatory advantage that crowds out independent projects in the Topeka area.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Waco, TX · Demand Signal\n      </div>\n      <h3>Cipher Mining Plans 500MW Data Center at Retired Coal Plant Site</h3>\n      <p>Cipher Mining is developing a 500MW data center campus near a retired coal plant outside Waco, Texas, leveraging existing substation and transmission infrastructure. Brownfield coal-to-data-center conversions are gaining traction in ERCOT as a strategy to bypass lengthy new interconnection queues. The Waco area sits in ERCOT's Central zone with reasonable grid access.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Retired plant infrastructure reuse is one of the fastest paths to large-scale interconnection in ERCOT right now — developers and investors should prioritize brownfield site identification as greenfield interconnection timelines continue to stretch.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">NYISO</span>\n        Albany, NY · Demand Signal\n      </div>\n      <h3>Prime Companies Unveils $2.8B Kenwood Tech Campus in Albany Area</h3>\n      <p>Prime Companies has announced a $2.8 billion Kenwood technology campus and data center plan in the Albany, New York metropolitan area. The Capital Region has seen growing interest from data center developers attracted by competitive power costs and proximity to financial and government markets. NYISO Zone F transmission capacity will be a key constraint to monitor.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        Albany's data center market is early-stage with real upside, but NYISO interconnection in Zone F requires careful load flow analysis — developers should engage National Grid early and assess whether local generation co-location can reduce interconnection upgrade exposure.\n      </div>\n    </div>\n<div class=\"signal-card gold\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-ercot\">ERCOT</span>\n        Texas · M&amp;A\n      </div>\n      <h3>Hut 8 Prices $4.25B Note to Fund 352MW Hyperscaler-Leased Texas Campus</h3>\n      <p>Hut 8 has priced a $4.25 billion note offering to finance a 352MW Texas data center that is pre-leased to an undisclosed hyperscaler. The financing structure demonstrates growing capital market confidence in contracted data center cash flows as collateral. Pre-leased assets at this scale are attracting investment-grade-style debt pricing.</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        The $4.25B raise against 352MW of contracted hyperscaler capacity sets a new benchmark for data center debt financing in ERCOT — power and infrastructure investors should note that pre-lease structures are now unlocking non-dilutive capital at scale, reshaping how projects are capitalized.\n      </div>\n    </div>\n    <!-- Example signal card structure:\n    <div class=\"signal-card [flag|gold]\">\n      <div class=\"signal-meta\">\n        <span class=\"badge badge-pjm\">PJM</span>\n        LOCATION · CATEGORY\n      </div>\n      <h3>HEADLINE</h3>\n      <p>DETAIL</p>\n      <div class=\"angle\">\n        <strong>The Angle</strong>\n        PRACTITIONER COMMENTARY\n      </div>\n    </div>\n    -->\n\n    <hr class=\"section-divider\">\n\n    <!-- CONNECTOR MARKETS -->\n    <div class=\"section-label\">Connector Markets</div>\n    <div class=\"connector-grid\">\n      <div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>Texas (ERCOT)</h4>\n        <p>Multiple high-actionability Texas data center projects emerged this week, including Beacon Point AI in Nueces County, Cipher Mining's 500MW campus near Waco leveraging retired coal plant infrastructure, and Hut 8's $4.25B-backed 352MW hyperscaler-leased facility. Combined announced Texas demand exceeds 850MW with immediate development momentum.</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>ERCOT – Hillje 345kV / Bernoulli 345kV corridors</h4>\n        <p>602.8MW Danish Fields Solar (Completed, Hillje 345kV) and 600MW Proteus London-Leigh Solar (Active, Bernoulli 345kV) represent over 1.2GW of large-scale ERCOT generation capacity at high-voltage 345kV POIs; the completed Danish Fields project offers immediately available interconnection precedent, while the active Proteus project signals near-term deliverability on the same backbone serving south and coastal Texas load zones proximate to Nueces and McLennan County demand sites.</p>\n      </div>\n<div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>Virginia (PJM)</h4>\n        <p>Tract's proposed large data center campus in Goochland County near the West Creek corridor targets one of the most active and supply-constrained data center markets in the US, signaling continued hyperscale expansion pressure in Northern Virginia's extension corridor where land and power are increasingly scarce.</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>PJM – Victoria DP-Martin DP 115kV corridor</h4>\n        <p>90MW Active solar project at the Victoria DP-Martin DP 115kV POI provides a modest but strategically located interconnection point within PJM; key constraint is the 115kV voltage level limiting scalability for large campus loads, though the active status and existing substation infrastructure offer a faster-to-energize near-term supply option for smaller initial phases of the Goochland development.</p>\n      </div>\n      <!-- Example:\n      <div class=\"connector-cell demand\">\n        <div class=\"cell-label\">Demand Signal</div>\n        <h4>MARKET NAME</h4>\n        <p>DEMAND CONTEXT</p>\n      </div>\n      <div class=\"connector-cell\">\n        <div class=\"cell-label\">Supply Context</div>\n        <h4>QUEUE / CORRIDOR</h4>\n        <p>MW AVAILABLE · KEY CONSTRAINT</p>\n      </div>\n      -->\n    </div>\n\n    <hr class=\"section-divider\">\n\n    <!-- QUEUE SPOTLIGHT -->\n    <div class=\"section-label\">Queue Spotlight</div>\n    <table class=\"queue-table\">\n      <thead>\n        <tr>\n          <th>Project</th>\n          <th>ISO</th>\n          <th>Type</th>\n          <th>MW</th>\n          <th>Status</th>\n          <th>POI / Substation</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n<tr>\n          <td>Danish Fields Solar</td>\n          <td></td>\n          <td>Solar - Photovoltaic Solar</td>\n          <td class=\"mw\">602.8</td>\n          <td>Completed</td>\n          <td>44200 Hillje 345kV</td>\n        </tr>\n        <!-- Example row:\n        <tr>\n          <td>PROJECT NAME</td>\n          <td>PJM</td>\n          <td>Solar + BESS</td>\n          <td class=\"mw\">300</td>\n          <td>Active</td>\n          <td>SUBSTATION 345kV</td>\n        </tr>\n        -->\n      </tbody>\n    </table>\n\n  </div><!-- /body-wrap -->\n\n  <!-- FOOTER -->\n  <div class=\"footer\">\n    <strong>NexPhase Advisory</strong> &nbsp;·&nbsp; Power Market Intelligence<br>\n    Questions or comments: <a href=\"mailto:info@nexphaseadvisory.net\">info@nexphaseadvisory.net</a><br><br>\n    This publication is provided for informational purposes only. Nothing herein constitutes legal, financial, or investment advice.\n    All queue data derived from public ISO sources. &copy; 2026 NexPhase Advisory. All rights reserved.<br><br>\n    To unsubscribe, reply with \"unsubscribe\" in the subject line.\n  </div>\n\n</div><!-- /sheet -->\n</body>\n</html>\n","filename":"interconnect-vol1-no2.html","vol":1,"no":2,"dateline":"Week of June 14, 2026"}}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"75b6c156-8f96-46a0-8573-5ea47805b7ab","activeVersionId":"75b6c156-8f96-46a0-8573-5ea47805b7ab","versionCounter":93,"triggerCount":3,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-07T23:56:43.559Z","createdAt":"2026-06-07T23:56:43.559Z","role":"workflow:owner","workflowId":"hAbUSOEUyZRxXEWm","projectId":"yyu8mrsL1yrdUgiZ","project":{"updatedAt":"2026-05-07T03:46:52.701Z","createdAt":"2026-05-07T03:46:45.027Z","id":"yyu8mrsL1yrdUgiZ","name":"Chris   <santiago4801@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}}],"tags":[{"updatedAt":"2026-06-11T23:08:08.474Z","createdAt":"2026-06-11T23:08:08.474Z","id":"LDRlyf9htqKc0gW7","name":"Market Intelligence"}],"activeVersion":{"updatedAt":"2026-06-14T13:24:32.848Z","createdAt":"2026-06-14T13:24:32.848Z","versionId":"75b6c156-8f96-46a0-8573-5ea47805b7ab","workflowId":"hAbUSOEUyZRxXEWm","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}},"id":"80da480d-220d-4059-8e67-81186cf3c296","name":"Every Sunday 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2720,608]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblLLpsGrLBpgezYx","mode":"id"},"filterByFormula":"IS_AFTER(CREATED_TIME(), DATEADD(TODAY(), -30, 'days'))","options":{}},"id":"44d2a5b5-3fcc-420f-8050-ad6dbedfc572","name":"Fetch Market Signals","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,608],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoTkXUnQ9aulmkE","mode":"id"},"table":{"__rl":true,"value":"tblkazcIqMkDoISu7","mode":"id"},"returnAll":false,"limit":20,"options":{"fields":[]}},"id":"42c55d97-d34e-4427-aebd-63216e22df71","name":"Fetch Queue Records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2960,800],"credentials":{"airtableTokenApi":{"id":"RoOhi6fE6lI3cI1c","name":"Airtable Personal Access Token account 2"}}},{"parameters":{"jsCode":"const now = new Date();\nconst dateline = 'Week of ' + now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'America/New_York' });\n// Vol/No hardcoded for now; auto-increment later.\nreturn [{ json: { dateline, vol: 1, no: 2 } }];"},"id":"fbdbcda1-49cd-44e7-aba9-1b18b5051744","name":"Set Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, messages: [{ role: 'user', content: 'You are the editorial voice of The Interconnect™, a weekly power market intelligence publication by NexPhase Advisory. Given the signals below, write a 3–5 sentence lede paragraph that connects the week\\'s themes for an audience of power developers, data center operators, and IPP executives. Practitioner voice — no hype, no filler. Return ONLY this JSON: { \"lede\": \"...\" }' + '\\n\\nSIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,12)) }] }) }}","options":{"timeout":120000}},"id":"94f59db9-9e66-4f27-8f9b-571fe6b02a29","name":"Generate Lede","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 5000, messages: [{ role: 'user', content: 'You are a power-market analyst for The Interconnect. From the signals below, write 3-4 short \\'Campus Announcements\\' news stories covering the most significant data-center and generation development announcements this week, focused on scale and power/interconnection implications. Return ONLY a JSON array; each object: { \"hed\": \"<headline, max 10 words>\", \"dek\": \"<one sentence: location, MW, key fact>\", \"paragraphs\": [\"<1-2 body paragraphs with practitioner framing>\"] }. Return ONLY the JSON array, no markdown, no wrapper object.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"id":"00bc86c7-3786-4d26-a57c-d16c6ada2f55","name":"Generate Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2500, messages: [{ role: 'user', content: 'Given the demand signals and queue data below, identify the 2-3 strongest \\'connector markets\\' where a known data-center load overlaps with viable generation in the same ISO/state footprint. Return ONLY a JSON array; each object: { \"market_tag\": \"<e.g. OH · PJM>\", \"load_name\": \"<load or company>\", \"load_note\": \"<short site/scale note>\", \"mw\": \"<load MW, e.g. ~2,000+>\", \"supply_count\": \"<e.g. 23 projects in queue>\", \"supply_note\": \"<1-2 top queue projects w/ MW and type>\", \"strategic_note\": \"<one-sentence origination angle>\" }. Use the queue data for the supply side. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) + '\\n\\nQUEUE DATA:\\n' + JSON.stringify($('Fetch Queue Records').all().map(i => ({ project: i.json['Project Name'], region: i.json['Region'], type: i.json['Generation Type'], mw: i.json['MW Capacity'], status: i.json['Status'], poi: i.json['POI Name'] }))) }] }) }}","options":{"timeout":120000}},"id":"1efcecf9-cf3b-4cb8-a286-0711aa69ceae","name":"Generate Connectors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,224],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}}},{"parameters":{"jsCode":"// interconnect_inject.js — v2 (index.html \"correct format\")\n// Fetches the locked template from the repo and substitutes section tokens.\n// TOKENS: {{DATELINE}} {{VOL}} {{NO}} {{QUEUE_DATE}} {{LEDE}} {{CONNECTOR_ROWS}}\n//         {{QUEUE_SPOTLIGHT}} {{LEAD_STORY}} {{CAMPUS_STORIES}} {{POLICY_FLAGS}} {{PRICING_CONTEXT}}\n//\n// UPSTREAM CONTRACT:\n//   Set Metadata        -> { dateline, vol, no }\n//   Generate Lede       -> { lede }\n//   Generate Feature    -> { label, title, dek, paragraphs:[], data_label, data_items:[{num,lbl}] }\n//   Generate Signals    -> [ { hed, dek, paragraphs:[] } ]                (Campus Announcements stories)\n//   Generate Connectors -> [ { market_tag, load_name, load_note, mw, supply_count, supply_note, strategic_note } ]\n//   Generate Flags      -> [ { entity, note } ]\n//   Generate Pricing    -> { paragraphs:[] }\n//   Fetch Queue Records -> Airtable rows (Project Name, Region, Generation Type, MW Capacity, Status, POI Name)\n\nconst TEMPLATE_URL = 'https://api.github.com/repos/nexphaseadvisory/Reports/contents/interconnect/template/the_interconnect_TEMPLATE.html?ref=main';\nconst resp = await this.helpers.httpRequest({\n  method: 'GET', url: TEMPLATE_URL,\n  headers: { 'Accept': 'application/vnd.github.raw', 'User-Agent': 'n8n-interconnect-publisher' },\n  json: false\n});\nlet TEMPLATE;\nif (typeof resp === 'string') TEMPLATE = resp;\nelse if (resp && resp.content) TEMPLATE = Buffer.from(resp.content, 'base64').toString('utf8');\nelse TEMPLATE = String(resp);\nif (TEMPLATE.indexOf('{{LEDE}}') === -1 || TEMPLATE.indexOf('{{LEAD_STORY}}') === -1) {\n  throw new Error('Template fetch failed or missing v2 tokens — got ' + TEMPLATE.length + ' chars from ' + TEMPLATE_URL);\n}\n\n// ---------- helpers ----------\nfunction claudeJSON(resp) {\n  try {\n    const content = (resp && resp.content) || [];\n    const text = content.filter(b => b && b.type === 'text').map(b => b.text).join('').trim();\n    return JSON.parse(text.replace(/```json|```/g, '').trim());\n  } catch (e) { return null; }\n}\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction paras(arr, firstStyle) {\n  const a = Array.isArray(arr) ? arr : (arr ? [arr] : []);\n  return a.map((p, i) =>\n    '<p class=\"body-text\"' + (i > 0 ? ' style=\"margin-top:8px\"' : (firstStyle || '')) + '>' + esc(p) + '</p>'\n  ).join('\\n      ');\n}\n\n// ---------- pull upstream ----------\nconst meta      = $('Set Metadata').first().json;\nconst lede      = (claudeJSON($('Generate Lede').first().json) || { lede: '' }).lede || '';\nconst feature   = claudeJSON($('Generate Feature').first().json) || {};\nconst stories   = claudeJSON($('Generate Signals').first().json) || [];\nconst connectors= claudeJSON($('Generate Connectors').first().json) || [];\nconst flags     = claudeJSON($('Generate Flags').first().json) || [];\nconst pricing   = claudeJSON($('Generate Pricing').first().json) || { paragraphs: [] };\nconst queueRaw  = $('Fetch Queue Records').all().map(i => i.json);\n\n// ---------- CONNECTOR_ROWS ----------\nconst connectorRows = (Array.isArray(connectors) ? connectors : []).map(c =>\n  '<tr>\\n' +\n  '          <td><span class=\"market-tag\">' + esc(c.market_tag) + '</span></td>\\n' +\n  '          <td><span class=\"load-name\">' + esc(c.load_name) + '</span>' +\n       (c.load_note ? '<div class=\"queue-note\">' + esc(c.load_note) + '</div>' : '') + '</td>\\n' +\n  '          <td><span class=\"mw-val\">' + esc(c.mw) + '</span></td>\\n' +\n  '          <td><span class=\"supply-count\">' + esc(c.supply_count) + '</span>' +\n       (c.supply_note ? '<div class=\"queue-note\">' + esc(c.supply_note) + '</div>' : '') + '</td>\\n' +\n  '          <td style=\"font-size:11px;color:#374151\">' + esc(c.strategic_note) + '</td>\\n' +\n  '        </tr>'\n).join('\\n        ');\n\n// ---------- QUEUE_SPOTLIGHT (top queue records by MW) ----------\nconst queueSpotlight = queueRaw.map(q => ({\n  id: q['Project Name'] || q['POI Name'] || '',\n  type: q['Generation Type'] || q['Project Type'] || '',\n  mw: (q['MW Capacity'] != null ? q['MW Capacity'] : ''),\n  region: q['Region'] || '',\n  status: q['Status'] || '',\n  poi: q['POI Name'] || ''\n}))\n  .sort((a, b) => (parseFloat(b.mw) || 0) - (parseFloat(a.mw) || 0))\n  .slice(0, 4)\n  .map(q => {\n    const desc = [\n      (q.mw !== '' ? q.mw + ' MW ' : '') + esc(q.type) + (q.region ? ' · ' + esc(q.region) : ''),\n      [esc(q.status), esc(q.poi)].filter(Boolean).join(' · ')\n    ].filter(Boolean).join('<br>');\n    return '<div class=\"qs-item\">\\n' +\n      '            <div class=\"qs-id\">' + esc(q.id) + '</div>\\n' +\n      '            <div class=\"qs-desc\">' + desc + '</div>\\n' +\n      '          </div>';\n  }).join('\\n          ');\n\n// ---------- LEAD_STORY (feature analysis + data-box) ----------\nconst dataItems = (Array.isArray(feature.data_items) ? feature.data_items : []).map(di =>\n  '<div class=\"data-item\"><div class=\"num\">' + esc(di.num) + '</div><div class=\"lbl\">' + esc(di.lbl) + '</div></div>'\n).join('\\n          ');\nconst dataBox = (feature.data_label || dataItems) ?\n  '\\n      <div class=\"data-box\">\\n' +\n  '        <div class=\"data-label\">' + esc(feature.data_label) + '</div>\\n' +\n  '        <div class=\"data-grid\">\\n          ' + dataItems + '\\n        </div>\\n' +\n  '      </div>' : '';\nconst leadStory =\n  '<div class=\"sec\">\\n' +\n  '      <div class=\"sec-label\">' + esc(feature.label || 'Interconnection') + '</div>\\n' +\n  '      <h2>' + esc(feature.title || '') + '</h2>\\n' +\n  '    </div>\\n\\n' +\n  '    <div class=\"lead-story\">\\n' +\n  '      <p class=\"dek\">' + esc(feature.dek || '') + '</p>\\n' +\n  '      ' + paras(feature.paragraphs) + dataBox + '\\n' +\n  '    </div>';\n\n// ---------- CAMPUS_STORIES (2-col story grid) ----------\nconst campusStories = (Array.isArray(stories) ? stories : []).map(s =>\n  '<div class=\"story\">\\n' +\n  '        <div class=\"hed\">' + esc(s.hed || s.headline) + '</div>\\n' +\n  '        <div class=\"dek\">' + esc(s.dek || '') + '</div>\\n' +\n  '        ' + paras(s.paragraphs || s.detail) + '\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- POLICY_FLAGS ----------\nconst policyFlags = (Array.isArray(flags) ? flags : []).map(f =>\n  '<div class=\"flag-item\">\\n' +\n  '        <span class=\"flag-co\">' + esc(f.entity) + '</span>\\n' +\n  '        <span class=\"flag-note\">' + esc(f.note) + '</span>\\n' +\n  '      </div>'\n).join('\\n      ');\n\n// ---------- PRICING_CONTEXT ----------\nconst pricingHtml = paras(pricing.paragraphs || pricing);\n\n// ---------- QUEUE_DATE ----------\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst queueDate = months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();\n\n// ---------- inject ----------\nconst html = TEMPLATE\n  .split('{{DATELINE}}').join(esc(meta.dateline))\n  .split('{{VOL}}').join(esc(meta.vol))\n  .split('{{NO}}').join(esc(meta.no))\n  .split('{{QUEUE_DATE}}').join(esc(queueDate))\n  .split('{{LEDE}}').join(esc(lede))\n  .split('{{CONNECTOR_ROWS}}').join(connectorRows)\n  .split('{{QUEUE_SPOTLIGHT}}').join(queueSpotlight)\n  .split('{{LEAD_STORY}}').join(leadStory)\n  .split('{{CAMPUS_STORIES}}').join(campusStories)\n  .split('{{POLICY_FLAGS}}').join(policyFlags)\n  .split('{{PRICING_CONTEXT}}').join(pricingHtml);\n\nif (html.indexOf('{{') !== -1) {\n  const leftover = (html.match(/\\{\\{[A-Z_]+\\}\\}/g) || []).join(', ');\n  throw new Error('Unsubstituted tokens remain: ' + leftover);\n}\n\nreturn [{ json: { html, dateline: meta.dateline, vol: meta.vol, no: meta.no } }];\n"},"id":"2e9a5fab-d57a-4ca6-a3a7-758901c2327c","name":"Code — Inject","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,224]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"f4ae0f31-f28e-4e49-9176-4bff020d80d6","name":"GitHub — Publish","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,464],"webhookId":"3ea9bb9b-9528-4adf-a370-9009753282e4","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"interconnect-publisher","authentication":"headerAuth","options":{}},"id":"63be41a6-d023-4a09-84bb-6515e48e6b3e","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"c8731e41-e2e2-4a8b-93e0-a7f8b8b5751f","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Persist the generated draft in workflow static data, keyed by vol/no.\nconst sd = $getWorkflowStaticData('global');\nconst j = $input.first().json;\nconst rec = { html: j.html, filename: j.filename, vol: j.vol, no: j.no, dateline: j.dateline };\nsd['draft_' + j.vol + '_' + j.no] = rec;  // keyed by vol/no\nsd.latestDraft = rec;                      // pointer to most recent draft\nreturn [{ json: j }];  // pass through for the draft email\n"},"id":"8755ea00-7036-4ad5-b961-efb91a9c82c1","name":"Store Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128]},{"parameters":{"httpMethod":"POST","path":"interconnect-publish","authentication":"headerAuth","options":{}},"id":"36211bf0-8f8b-4608-a67a-2c4dc05d2366","name":"Webhook Publish","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,464],"webhookId":"4e891ac9-42e9-4ad0-aae3-859992338f49","credentials":{"httpHeaderAuth":{"id":"SreCeQNb5uXikMw4","name":"NexPhase Webhook Auth"}}},{"parameters":{"jsCode":"// Publish path: read the stored draft from static data and hand it to GitHub — Publish.\nconst sd = $getWorkflowStaticData('global');\nconst j = ($input.first() && $input.first().json) || {};\nconst body = j.body || {};  // optional { vol, no } in the publish webhook POST body\nlet rec = (body.vol != null && body.no != null) ? sd['draft_' + body.vol + '_' + body.no] : sd.latestDraft;\nif (!rec || !rec.html) { throw new Error('No stored draft found to publish. Fire the draft webhook first.'); }\nreturn [{ json: rec }];\n"},"id":"421254a5-f1df-4faf-8d20-f098cba1657d","name":"Read Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"9b652cbc-d7f8-442e-af81-b6ca78752641","name":"GitHub — Draft","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,128],"webhookId":"949d92ab-24e6-4c95-a276-bf934567ecfe","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/' + $json.filename }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Publish The Interconnect — ' + $json.dateline }}"},"id":"e150aad0-32e0-452a-aee7-58aae6f9445b","name":"GitHub — Publish (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,624],"webhookId":"68d4e047-fe92-4b99-8527-e077c9366a15","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/drafts/draft-vol' + $json.vol + '-no' + $json.no + '.html' }}","fileContent":"={{ $json.html }}","commitMessage":"={{ 'Draft: The Interconnect Vol ' + $json.vol + ' No ' + $json.no + ' (review)' }}"},"id":"53c834d7-0fc2-46f8-97e1-2f93c1010e9c","name":"GitHub — Draft (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,288],"webhookId":"80a6e250-afe9-46e4-a560-a81781cbd0e7","credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - draft ready for review (Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }})","emailFormat":"text","text":"=A new issue of The Interconnect has been drafted and is ready for review.\n\n  Vol {{ $('Store Draft').first().json.vol }}, No {{ $('Store Draft').first().json.no }}  -  {{ $('Store Draft').first().json.dateline }}\n\nReview the rendered draft:\n  https://intel.nexphaseadvisory.net/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/drafts/draft-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\nThis is the approval gate - nothing publishes automatically. If it looks good,\npromote it by firing the publish webhook:\n  POST https://intel-search.app.n8n.cloud/webhook/interconnect-publish\n  Header: X-Webhook-Token: <your publish token>\n  Body:   {}\n\nPublishing promotes the draft to the live issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Store Draft').first().json.vol }}-no{{ $('Store Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"2ee13b24-08b0-43e4-9334-4e85b6718c48","name":"Notify — Draft Ready","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,160],"webhookId":"b232325f-73e1-482d-ab51-8cafcb8cb006","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"fromEmail":"NexPhase Advisory <info@nexphaseadvisory.net>","toEmail":"santiago4801@hotmail.com","subject":"=The Interconnect - published (Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }})","emailFormat":"text","text":"=The Interconnect has been published.\n\n  Vol {{ $('Read Draft').first().json.vol }}, No {{ $('Read Draft').first().json.no }}  -  {{ $('Read Draft').first().json.dateline }}\n\nLive issue:\n  https://intel.nexphaseadvisory.net/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\nSource on GitHub:\n  https://github.com/nexphaseadvisory/Reports/blob/main/interconnect/interconnect-vol{{ $('Read Draft').first().json.vol }}-no{{ $('Read Draft').first().json.no }}.html\n\n- The Interconnect Publisher (n8n)\n","options":{}},"id":"688cce6a-a05b-4afa-bc30-9a00f4253c31","name":"Notify — Published","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2480,512],"webhookId":"c0be3b8a-b66e-4230-8b61-7c3ceda08d41","credentials":{"smtp":{"id":"lZS1lrkShDRNKKJm","name":"SMTP Info@nexphaseadvisory.net"}}},{"parameters":{"resource":"file","operation":"edit","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-edit","name":"GitHub — Archive","type":"n8n-nodes-base.github","typeVersion":1,"position":[2240,360],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"onError":"continueErrorOutput","webhookId":"c938d6a1-fa92-41a2-8d20-c03f0cf2bad3"},{"parameters":{"resource":"file","owner":"nexphaseadvisory","repository":"Reports","filePath":"={{ 'interconnect/archive/' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + '.html' }}","fileContent":"={{ $('Read Draft').item.json.html }}","commitMessage":"={{ 'Archive The Interconnect — ' + $('Read Draft').item.json.dateline + ' (' + $now.setZone('America/New_York').toFormat('yyyy-MM-dd') + ')' }}"},"id":"gharch-new","name":"GitHub — Archive (new file)","type":"n8n-nodes-base.github","typeVersion":1,"position":[2480,520],"credentials":{"githubApi":{"id":"DA7vXaQHWtnFdSFY","name":"GitHub account"}},"webhookId":"a149ecaf-6d05-4e0d-ad58-95523181c983"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2000, messages: [{ role: 'user', content: 'You are the senior analyst for The Interconnect (a weekly power-market intelligence publication by NexPhase Advisory). From the signals below, write ONE marquee analytical feature on the single most consequential interconnection or grid-policy theme of the week (queue congestion, ISO restructuring, transmission constraints, a structural co-location or PPA shift). Audience: power developers, data-center operators, IPP executives. Practitioner voice, no hype, no filler. Return ONLY this JSON: { \"label\": \"<2-3 word section kicker, e.g. Interconnection>\", \"title\": \"<headline, max 12 words>\", \"dek\": \"<one italic-style sentence>\", \"paragraphs\": [\"<body paragraph>\", \"...\"], \"data_label\": \"<source/snapshot label, e.g. PJM Queue - Current Snapshot (Source: PJM)>\", \"data_items\": [ { \"num\": \"<stat, e.g. 220 GW>\", \"lbl\": \"<short description>\" } ] }. Provide 3-4 paragraphs and exactly 3 data_items. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1792a14-0b97-4a4c-9340-07c19db17daf"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1800, messages: [{ role: 'user', content: 'You are the regulatory analyst for The Interconnect. From the signals below, extract 4-5 \\'Signals Worth Watching\\' - regulatory, policy, community-opposition, permitting, or market-structure items developers should monitor. Return ONLY a JSON array; each object: { \"entity\": \"<short subject, e.g. Eagle Rock · Christian Co. IL>\", \"note\": \"<1-2 sentences: what to watch and why it matters for power procurement>\" }. Return ONLY the JSON array, no markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Flags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"bf0fbfa5-b79f-41d6-a6bc-25d418c729db"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1400, messages: [{ role: 'user', content: 'You are the PPA and financing analyst for The Interconnect. From the signals below, write a 2-paragraph \\'Market Pricing Context\\' note on PPA economics, financing structures, or pricing benchmarks visible in this week\\'s signals (utility-scale PPAs, behind-the-meter gas, hyperscaler deals). Practitioner voice. Return ONLY this JSON: { \"paragraphs\": [\"<paragraph 1>\", \"<paragraph 2>\"] }. No markdown.' + '\\n\\n' + 'SIGNALS:\\n' + JSON.stringify($('Fetch Market Signals').all().map(i => ({ company: i.json.Company, detail: i.json['Signal Detail'], category: i.json['Signal Type'], location: i.json.Location, mw: i.json['MW Size'], actionability: i.json.Actionability })).sort((a,b)=>(Number(b.actionability)||0)-(Number(a.actionability)||0)).slice(0,14)) }] }) }}","options":{"timeout":120000}},"name":"Generate Pricing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,432],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"httpHeaderAuth":{"id":"FJA7PZjCaMHaj0Ir","name":"Header Auth Claude API"}},"id":"d1758cae-a196-49e1-ad12-340bd00e2049"}],"connections":{"Every Sunday 5am":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Market Signals":{"main":[[{"node":"Fetch Queue Records","type":"main","index":0}]]},"Set Metadata":{"main":[[{"node":"Generate Lede","type":"main","index":0}]]},"Generate Lede":{"main":[[{"node":"Generate Feature","type":"main","index":0}]]},"Generate Signals":{"main":[[{"node":"Generate Connectors","type":"main","index":0}]]},"Generate Connectors":{"main":[[{"node":"Generate Flags","type":"main","index":0}]]},"Code — Inject":{"main":[[{"node":"Store Draft","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Fetch Market Signals","type":"main","index":0}]]},"Fetch Queue Records":{"main":[[{"node":"Set Metadata","type":"main","index":0}]]},"Store Draft":{"main":[[{"node":"GitHub — Draft","type":"main","index":0}]]},"Webhook Publish":{"main":[[{"node":"Read Draft","type":"main","index":0}]]},"Read Draft":{"main":[[{"node":"GitHub — Publish","type":"main","index":0}]]},"GitHub — Publish":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}],[{"node":"GitHub — Publish (new file)","type":"main","index":0}]]},"GitHub — Draft":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}],[{"node":"GitHub — Draft (new file)","type":"main","index":0}]]},"GitHub — Draft (new file)":{"main":[[{"node":"Notify — Draft Ready","type":"main","index":0}]]},"GitHub — Publish (new file)":{"main":[[{"node":"GitHub — Archive","type":"main","index":0}]]},"GitHub — Archive":{"main":[[{"node":"Notify — Published","type":"main","index":0}],[{"node":"GitHub — Archive (new file)","type":"main","index":0}]]},"GitHub — Archive (new file)":{"main":[[{"node":"Notify — Published","type":"main","index":0}]]},"Generate Feature":{"main":[[{"node":"Generate Signals","type":"main","index":0}]]},"Generate Flags":{"main":[[{"node":"Generate Pricing","type":"main","index":0}]]},"Generate Pricing":{"main":[[{"node":"Code — Inject","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Chris  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-14T13:24:33.082Z","id":79,"workflowId":"hAbUSOEUyZRxXEWm","versionId":"75b6c156-8f96-46a0-8573-5ea47805b7ab","event":"activated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"},{"createdAt":"2026-06-14T13:24:32.990Z","id":78,"workflowId":"hAbUSOEUyZRxXEWm","versionId":"75b6c156-8f96-46a0-8573-5ea47805b7ab","event":"deactivated","userId":"3a045337-aa88-45a9-b4fd-8443c4c6ce3b"}]}}